{{ permalinkHeading.render('h3', 'Content management systems', 'text-2xl font-semibold my-4') }}
{{ permalinkHeading.render('h4', 'Changes from 2021', 'text-xl my-4', 'cms-changes-from-2021') }}

{{ permalinkHeading.render('h3', 'Programming language choices', 'text-2xl font-semibold my-4') }}
{{ permalinkHeading.render('h4', 'Changes from 2021', 'text-xl my-4', 'programming-language-changes-from-2021') }}

{{ permalinkHeading.render('h3', 'Frameworks', 'text-2xl font-semibold my-4') }}
{{ permalinkHeading.render('h4', 'Frameworks by size', 'text-xl my-4') }}
{{ permalinkHeading.render('h4', 'Frameworks by growth', 'text-xl my-4') }}
