<h3 id="content-management-systems" class="text-2xl font-semibold my-4">Content management systems</h3>
<h4 id="cms-changes-from-2021" class="text-xl my-4">Changes from 2021</h4>

<h3 id="programming-language-choices" class="text-2xl font-semibold my-4">Programming language choices</h3>
<h4 id="programming-language-changes-from-2021" class="text-xl my-4">Changes from 2021</h4>

<h3 id="frameworks" class="text-2xl font-semibold my-4">Frameworks</h3>
<h4 id="frameworks-by-size" class="text-xl my-4">Frameworks by size</h4>
<h4 id="frameworks-by-growth" class="text-xl my-4">Frameworks by growth</h4>
