<h3 id="purposes" class="text-2xl font-semibold my-4">Purposes</h3>

<h3 id="site-types" class="text-2xl font-semibold my-4">Site types</h3>

<h3 id="target-devices" class="text-2xl font-semibold my-4">Target devices</h3>
<h4 id="a-new-device-category" class="text-xl my-4">A new device category</h4>

<h3 id="audience-sizes" class="text-2xl font-semibold my-4">Audience sizes</h3>