{{ permalinkHeading.render('h3', 'Purposes', 'text-2xl font-semibold my-4') }}

{{ permalinkHeading.render('h3', 'Site types', 'text-2xl font-semibold my-4') }}

{{ permalinkHeading.render('h3', 'Target devices', 'text-2xl font-semibold my-4') }}
{{ permalinkHeading.render('h4', 'A new device category', 'text-xl my-4') }}

{{ permalinkHeading.render('h3', 'Audience sizes', 'text-2xl font-semibold my-4') }}
