<h3 id="trends-in-frameworks" class="text-2xl font-semibold my-4">Trends in frameworks</h3>

<h3 id="is-web3-the-future" class="text-2xl font-semibold my-4">Is web3 the future?</h3>

<h3 id="web-components-have-arrived" class="text-2xl font-semibold my-4">Web components have arrived</h3>

<h3 id="serverless-is-fully-mainstream" class="text-2xl font-semibold my-4">Serverless is fully mainstream</h3>