{{ permalinkHeading.render('h3', 'Trends in frameworks', 'text-2xl font-semibold my-4') }}

{{ permalinkHeading.render('h3', 'Is web3 the future?', 'text-2xl font-semibold my-4') }}

{{ permalinkHeading.render('h3', 'Web components have arrived', 'text-2xl font-semibold my-4') }}

{{ permalinkHeading.render('h3', 'Serverless is fully mainstream', 'text-2xl font-semibold my-4') }}
