{{ permalinkHeading.render('h3', 'Job titles', 'text-2xl font-semibold my-4') }}

{{ permalinkHeading.render('h3', 'Employment status', 'text-2xl font-semibold my-4') }}

{{ permalinkHeading.render('h3', 'Experience', 'text-2xl font-semibold my-4') }}
{{ permalinkHeading.render('h4', 'Geographical diversity', 'text-xl my-4') }}

{{ permalinkHeading.render('h3', 'The Great Resignation', 'text-2xl font-semibold my-4') }}
{{ permalinkHeading.render('h4', 'Why people leave', 'text-xl my-4') }}
{{ permalinkHeading.render('h4', 'Why people stay', 'text-xl my-4') }}

{{ permalinkHeading.render('h3', 'Remote work', 'text-2xl font-semibold my-4') }}
{{ permalinkHeading.render('h4', 'Changes in remote work', 'text-xl my-4') }}
{{ permalinkHeading.render('h4', 'Attitudes to remote work', 'text-xl my-4') }}
