<h3 id="job-titles" class="text-2xl font-semibold my-4">Job titles</h3>

<h3 id="employment-status" class="text-2xl font-semibold my-4">Employment status</h3>

<h3 id="experience" class="text-2xl font-semibold my-4">Experience</h3>
<h4 id="geographical-diversity" class="text-xl my-4">Geographical diversity</h4>

<h3 id="the-great-resignation" class="text-2xl font-semibold my-4">The Great Resignation</h3>
<h4 id="why-people-leave" class="text-xl my-4">Why people leave</h4>
<h4 id="why-people-stay" class="text-xl my-4">Why people stay</h4>

<h3 id="remote-work" class="text-2xl font-semibold my-4">Remote work</h3>
<h4 id="changes-in-remote-work" class="text-xl my-4">Changes in remote work</h4>
<h4 id="attitudes-to-remote-work" class="text-xl my-4">Attitudes to remote work</h4>
