<!doctype html>
<html>
  <head>
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="shortcut icon" href="/img/favicon.ico">

    {{ if or (eq .Title "Community") (eq .Title "Resources") }}
      <script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
      <link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
    {{ end }}

    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <header id="header">
      <ul id="menu" class="contained">
        <li class="logo"><a href="/"><img src="/img/jamstack-full-logo.svg"/></a></li>
        <li><a href="/best-practices">Best Practices</a></li>
        <li><a href="/examples">Examples</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="https://github.com/jamstack/jamstack.org" class="button"><img src="/img/github.svg"/> Fork on GitHub</a></li>
      </ul>
    </header>