<header id="header" class="on-{{ .Title | urlize }}">
  <ul id="menu" class="contained">
    <li class="logo"><a href="/" class="logo-link"><img src="/img/jamstack-full-logo.svg"/></a></li>
    <li><a href="/best-practices" class="best-practices-link">Best Practices</a></li>
    <li><a href="/examples" class="examples-link">Examples</a></li>
    <li><a href="/resources" class="resources-link">Resources</a></li>
    <li><a href="/community" class="community-link">Community</a></li>
  </ul>
</header>
