@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

@font-face {
  font-family: 'leitura';
  src: url('/fonts/leitura/leitura.woff2') format('woff2'),
       url('/fonts/leitura/leitura.woff') format('woff'),
       url('/fonts/leitura/leitura.svg#leitura_newsroman_2') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'leitura';
  src: url('/fonts/leitura/leitura_bold.woff2') format('woff2'),
       url('/fonts/leitura/leitura_bold.woff') format('woff'),
       url('/fonts/leitura/leitura_bold.svg#leitura_newsroman_4') format('svg');
  font-weight: bold;
}

body {
  color: $grey;
  font-family: $leitura;
  margin: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

section:not(.hero) {
  margin: $medium auto;

  @media screen and (min-width: $mobile) {
    margin: $large auto;
  }

  @media screen and (min-width: $tablet) {
    margin: $xl auto;
  }
}

h1 {
  font-weight: $regular;
  font-size: $small;
  line-height: $medium;
  margin: 0;

  @media screen and (min-width: $tablet) {
    font-size: $medium;
    line-height: $large;
  }
}

h2 {
  font-family: $roboto;
  font-size: 18px;
  font-weight: $black;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-family: $roboto;
  font-size: 14px;
  font-weight: $regular;
  margin: 0;
}

h4 {
  font-size: $tiny;
  font-weight: $regular;
  line-height: $small;
  margin: 0;

  @media screen and (min-width: $tablet) {
    font-size: $small;
    line-height: $medium;
  }
}

p {
  font-size: 14px;
  line-height: $small;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 32px;
  }
}

a {
  color: $green;
  text-decoration: none;
  font-weight: $bold;
}

.contained {
  margin: 0 auto;
  max-width: $display;
  padding: 0 $small;

  @media screen and (min-width: $tablet) {
    padding: 0 $medium;
  }
}

.button {
  background: $grey;
  border-radius: $borderRadius;
  color: white;
  font-family: $roboto;
  font-size: $tiny;
  font-weight: $bold;
  padding: $micro $tiny;
  transition: background .2s ease;

  &:hover {
    background: $green;
  }

  &.green {
    background: $green;
    color: $grey;

    &:hover {
      background: white;
    }
  }
}