.chapters {

  .hero {
    background: url('/img/chapters/meetup-logo.svg') top center no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 220px 0 $large 0;
    text-align: center;

    @media screen and (min-width: $tablet) {
      background-position: top center;
      padding: 160px 0 $xl 0;
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $medium;

    @media screen and (min-width: $tablet) {
      margin-bottom: $xxl;
    }

    a {
      color: $grey;
    }
  }

  .chapter {
    margin-bottom: $large;
    text-align: center;

    @media screen and (min-width: $tablet) {
      width: 48%;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
      width: 30%;
    }

    &:nth-child(2n) {
      @media screen and (min-width: $tablet) and (max-width: 959px) {
        margin: 0 0 0 4%;
      }
    }

    &:nth-child(3n - 1) {
      @media screen and (min-width: $desktop) {
        margin: 0 5%;
      }
    }

    img {
      box-sizing: border-box;
      height: calc($xxl * .9);
      margin-bottom: $tiny;
      transition: box-shadow .2s ease;
      width: 100%;
    }

    h1 {
      font-size: 22px;
      font-weight: $bold;
      line-height: 34px;
      margin: 0 0 14px 0;
    }

    p:not(.cta) {
      font-size: $tiny;
      font-weight: $regular;
      line-height: 28px;
      margin: 0 0 $small 0;
    }

    .button {
      border: 1px solid $meetupred;
      background: white;
      color: $grey;
      transition: background .2s ease, color .2s ease;

      &:hover {
        background: $meetupred;
        color: white;
      }

      &.greyed,
      &.greyed:hover {
        border: #ccc;
        background: #ccc;
        color: white;
      }
    }
  }

  .bottom-cta {
    background: $lighterGrey;

    .contained {
      padding: $large $medium $medium $medium;

      @media screen and (min-width: $tablet) {
        padding: $xl $medium $large $medium;
      }
    }

    img {
      max-width: 100%;
      margin: 0 0 $small 0;

      @media screen and (min-width: $tablet) {
        float: left;
        margin: $medium $large 0 0;
        width: 40%;
      }
    }

    h1, p, a {
      @media screen and (min-width: $tablet) {
        margin-left: calc(40% + $large);
      }
    }

    a {
      background: $meetupred;
      display: inline-block;
      padding: $tiny $small;

      @media screen and (min-width: $tablet) {
        display: table-cell;
      }
    }
  }
}