.hero {
  background: url('/img/jam-watermark.svg') no-repeat 0 0;
  background-size: cover;
  padding: 140px 0 $large 0;

  @media screen and (min-width: $tablet) {
    background-position: center;
    padding: 156px 0 $xl 0;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  h1:not(.chapters-headline) {
    margin: $medium 0;

    @media screen and (min-width: $tablet) {
      margin: calc($micro/2) 0 0 0;
    }

    span {
      display: none;

      @media screen and (min-width: 858px) {
        display: initial;
      }
    }
  }

  strong {
    color: $green;
    font-weight: $regular;
  }

  + .intro .grid {
    padding-bottom: $medium;

    @media screen and (min-width: $tablet) {
      padding-bottom: 0;
    }

    > div {
      display: inline-block;
      margin: 0;
      width: 100%;
      vertical-align: top;

      @media screen and (min-width: $tablet) {
        width: 44%;
      }

      @media screen and (min-width: $desktop) {
        font-size: 18px;
        line-height: 35px;
      }

      &:first-child {
        margin: 0 0 $medium 0;

        @media screen and (min-width: $tablet) {
          margin: 0 3% 0 0;
        }

        @media screen and (min-width: $desktop) {
          margin-top: -10px;
        }
      }

      &:last-child {
        border: 1px solid #d1d4d4;
        box-sizing: border-box;
        padding: $medium;
        text-align: left;

        @media screen and (min-width: $tablet) {
          padding: $small;
          margin-left: 7%;
        }

        @media screen and (min-width: $desktop) {
          padding: $medium;
          width: 40%;
        }

        h4:after {
          content: ' →';

          @media screen and (min-width: $tablet) {
            content: '';
          }

          @media screen and (min-width: $desktop) {
            content: ' →';
          }
        }
      }
    }

    h1 {
      line-height: 0;
      margin: 9px 0 26px 0;

      @media screen and (min-width: $tablet) {
        margin: 15px 0 43px 0;
      }
    }

    p {
      font-size: $tiny;

      @media screen and (min-width: $tablet) {
        line-height: 31px;
        margin: 0;
      }
    }

    a {
      display: block;
      margin-bottom: 6px;

      &:last-child {
        margin-bottom: -7px;

        @media screen and (min-width: $tablet) {
          margin-bottom: -12px;
        }
      }
    }
  }
}
