.hero {
  background: url('/img/jam-watermark.svg') no-repeat 0 0;
  background-size: cover;
  padding: 140px 0 $large 0;

  @media screen and (min-width: $tablet) {
    background-position: center;
    padding: 156px 0 $xl 0;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  h1:not(.chapters-headline) {
    margin: $medium 0;

    @media screen and (min-width: $tablet) {
      margin: calc($micro/2) 0 0 0;
    }

    span {
      display: none;

      @media screen and (min-width: 858px) {
        display: initial;
      }
    }
  }

  strong {
    color: $green;
    font-weight: $regular;
  }

  + .intro ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 20px 0 0 0;
      width: 100%;

      @media screen and (min-width: $tablet) {
        width: 44%;

        &:first-child {
          margin-right: 3%;
        }
      }

      &:last-child {

        @media screen and (min-width: $tablet) {
          margin-left: 3%;
        }

        @media screen and (min-width: $desktop) {
          margin-left: 13%;
          width: 34%;
        }
      }
    }

    h1 {
      display: none;
      line-height: 52px;

      @media screen and (min-width: $tablet) {
        display: initial;
      }
    }

    p {
      font-size: $tiny;

      @media screen and (min-width: $tablet) {
        line-height: 31px;
        margin: 0;
      }
    }

    a {
      display: block;
      margin-bottom: 6px;
    }
  }
}
