.jam-breakdown {

  .intro {
    h1 {
      margin: $small 0 0 0;

      @media screen and (min-width: $tablet) {
        margin: -19px 0 0 0;
      }
    }

    p {
      margin: 0 0 $medium 0;

      @media screen and (min-width: $tablet) {
        margin: 13px 0 50px 0;
      }
    }
  }

  .letter-definition {
    display: table;
    padding: 0 $small;
    margin: auto;
    max-width: $desktop;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: $small;

      @media screen and (min-width: $tablet) {
        margin-bottom: -$large;
      }
    }

    &:first-child h1 {
      @media screen and (min-width: $tablet) and (max-width: $desktop) {
        padding-top: 0;
      }
    }

    h1 {
      line-height: 28px;
      padding-top: 0;

      @media screen and (min-width: $tablet) {
        padding-top: $large;
      }

      @media screen and (min-width: $desktop) {
        padding-top: calc($medium * 2);
      }
    }

    p {
      display: inline-block;
      width: calc(80% - $small);

      @media screen and (min-width: $tablet) {
        width: calc(100% - 300px - $small);
      }
    }

    a {
      font-family: $roboto;
      font-weight: $semibold;
      font-size: $tiny;
    }
  }

  .letter {
    height: auto;
    margin: 0 $small 0 auto;
    max-width: 20%;
    float: left;

    @media screen and (min-width: $tablet) {
      max-width: 300px;
    }
  }
}