.resources {
  overflow: hidden;
  padding-top: 186px;
  text-align: left;
  width: 100%;

  @media screen and (min-width: $mobile) {
    padding-top: 124px;
  }

  h1 {
    margin-bottom: $tiny;
  }

  .resources-list {
    display: block;
    list-style-type: none;
    margin: 32px 0 0 0;
    text-align: left;

    &.mobile {
      @media screen and (min-width: $mobile) {
        display: none;
      }

      .link-icon {
        margin-right: $micro;
        height: $tiny;
        width: auto;
      }
    }

    &.desktop {
      display: none;

      @media screen and (min-width: $mobile) {
        display: block;
      }
    }
  }

  li {
    display: flex;
    flex-flow: row wrap;
    padding: $tiny 0;
    position: relative;

    &:nth-child(even) {
      background: $lightGrey;

      &:before {
        background: $lightGrey;
        content: ' ';
        height: 100%;
        left: -200%;
        position: absolute;
        top: 0;
        width: 400%;
        z-index: -1;
      }
    }

    h2, h3, a {
      flex: 1;
      vertical-align: bottom;

      &:first-child,
      &:last-child {
        flex: 3;
      }

      &:not(:first-child):not(:last-child) {
        display: none;

        @media screen and (min-width: $tablet) {
          display: initial;
        }
      }
    }

    a {
      font-family: $roboto;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      h3 {
        font-weight: $bold;
      }
    }
  }

  strong {
    display: block;
  }
}