<div class="block bg-white p-2 md:py-4 text-center text-blue-800 text-xs md:text-sm">
  <span class="block md:inline font-bold ">This is site is pre-prelease.</span> All designs and content are work in progress. <a href="{{ pkg.repository.url }}/issues" class="border-b-2" >Feedback →</a>
</div>
