<div class="block bg-white py-2 text-center text-blue-800">
  This is site is pre-prelease. All designs and content are work in progress. <a href="{{ pkg.repository.url }}/issues">Feedback →</a>
</div>
