<a href="https://jamstackconf.com" class="block p-2 md:py-2 text-center text-white font-bold text-xs md:text-sm bg-gradient-jams hover:bg-gradient-jams-active">
  Join us at Jamstack Conf Virtual, October 6-7. <span class="underline">Register now!</span>
</a>
