
{%
  set linkList = [
    { "url": "/" , "text": "JAMstack"},
    { "url": "/resources/" , "text": "Resources"},
    { "url": "/community/" , "text": "Community"},
    { "url": "/glossary/" , "text": "Glossary"},
    { "url": "/conference/" , "text": "Conference"},
    { "url": "/code-of-conduct/" , "text": "Code of Conduct"}
  ]
%}

<footer class="my-16 text-xs">
  {% include "navigation-links.njk" %}
  <p>
    There might be one or two legal discalimers in here
  </p>
  <p>
    Contribute content and corrections to the <a href="{{ pkg.repository.url }}">repository on Github</a>.
  </p>
</footer>
