<section>
  <footer class="py-20 text-blue-200">
    <ul class="text-left md:flex justify-between">
      <li class="p-2">&copy; {{ page.date | formatDate('yyyy') }}  Netlify </li>
      <li class="p-2"><a href="https://jamstack.org/slack">Chat on Slack</a></li>
      <li class="p-2"><a href="https://community.netlify.com/">Netlify Support</a></li>
      <li class="p-2"><a href="{{ pkg.repository.url }}">Code on GitHub</a></li>
      <li class="p-2"><a href="/code-of-conduct/">Code of Conduct</a></li>
    </ul>
  </footer>
</section>
