<header>
  <ul class="nav">
    <li><a href="/">JAMstack</a></li>
    <li><a href="/resources">resources</a></li>
    <li><a href="/communtiy">communtiy</a></li>
    <li><a href="/conference">conference</a></li>
  </ul>
</header>
