
{%
  set linkList = [
    { "url": "/" , "text": "Jamstack"},
    { "url": "/resources" , "text": "Resources"},
    { "url": "/examples" , "text": "Examples"},
    { "url": "/community" , "text": "Community"}
  ]
%}

<header class="mb-16">
  {% include "navigation-links.njk" %}
</header>
