---
layout: layouts/base.njk
---
<div class="p-8 max-w-5xl">
  <h1 class="mt-0 mb-4">{{ title }}</h1>

  {%- if github[repo] and github[repo].stars !== "" and github[repo].forks !== "" and github[repo].issues !== "" %}
  <div class="flex justify-center mb-4">
    {%- if github[repo].stars !== "" %}
    <div class="flex flex-col items-center font-bold text-sm mr-6">
      <svg role="img" aria-hidden="true" focusable="false" width="18" height="18" viewBox="0 0 40 40" class="block"><use xlink:href="#github-star"/></svg>
      {{ github[repo].stars }}
      <span class="sr-only">star{%- if github[repo].stars != 1 %}s{% endif %}</span>
    </div>
    {%- endif %}
    {%- if github[repo].forks !== "" %}
    <div class="flex flex-col items-center font-bold text-sm mr-6">
      <svg role="img" aria-hidden="true" focusable="false" width="18" height="18" viewBox="0 0 40 40" class="block"><use xlink:href="#github-fork"/></svg>
      {{ github[repo].forks }}
      <span class="sr-only">fork{%- if github[repo].forks != 1 %}s{% endif %}</span>
    </div>
    {%- endif %}
    {%- if github[repo].issues !== "" %}
    <div class="flex flex-col items-center font-bold text-sm">
      <svg role="img" aria-hidden="true" focusable="false" width="18" height="18" viewBox="0 0 40 40" class="block"><use xlink:href="#github-issue"/></svg>
      {{ github[repo].issues }}
      <span class="sr-only">issue{%- if github[repo].issues != 1 %}s{% endif %}</span>
    </div>
    {%- endif %}
  </div>
  {%- endif %}

  <dl class="inline-block mt-4 mb-4">
    {%- if homepage %}
    <dt class="sr-only">Home page</dt>
    <dd class="inline-block mr-6 whitespace-nowrap">
      <svg role="img" aria-hidden="true" focusable="false" width="20" height="20" class="fill-current inline-block mr-1"><use xlink:href="#icon-home"/></svg>
      <a href="{{ homepage }}" target="_blank" rel="noopener">{{ homepage }}</a>
    </dd>
    {%- endif %}
    {%- if repo %}
    <dt class="sr-only">Repository</dt>
    <dd class="inline-block mr-6 whitespace-nowrap">
      <svg role="img" aria-hidden="true" focusable="false" width="20" height="20" class="fill-current inline-block mr-1"><use xlink:href="#icon-github"/></svg>
      <a href="{% if not repohost or repohost == "github" %}https://github.com/{% endif %}{% if repohost == "gitlab" %}https://gitlab.com/{% endif %}{{ repo }}" target="_blank" rel="noopener">{{ repo }}</a>
    </dd>
    {%- endif %}
    {%- if twitter %}
    <dt class="sr-only">Twitter</dt>
    <dd class="inline-block mr-6 whitespace-nowrap">
      <svg role="img" aria-hidden="true" focusable="false" width="20" height="20" class="fill-current inline-block mr-1"><use xlink:href="#icon-twitter"/></svg>
      <a href="https://twitter.com/{{ twitter }}/" target="_blank" rel="noopener">@{{ twitter }}</a>
    </dd>
    {%- endif %}
  </dl>
  <dl class="inline-block mb-4">
    {%- if opensource === "Yes" or opensource === "YES" or opensource === "yes" %}
    <dt class="inline-block font-bold mr-6">Open Source</dt>
    <dd class="inline-block sr-only">Yes</dd>
    {%- endif %}
    {%- if language %}
    <dt class="inline-block font-bold">Language:</dt>
    <dd class="inline-block mr-6">{{ language }}</dd>
    {%- endif %}
    {%- if license and license.length > 0 %}
    <dt class="inline-block font-bold">License:</dt>
    <dd class="inline-block mr-6">{{ license | join(", ") }}</dd>
    {%- endif %}
    {%- if templates and templates.length > 0 %}
    <dt class="inline-block font-bold">Templates:</dt>
    <dd class="inline mr-6">{{ templates | join(", ") }}</dd>
    {%- endif %}
    {%- if typeofcms %}
    <dt class="inline-block font-bold">Type:</dt>
    <dd class="inline-block mr-6">{{ typeofcms }}</dd>
    {%- endif %}
    {%- if supportedgenerators %}
    <dt class="inline-block font-bold">Supported Site Generators:</dt>
    <dd class="inline-block mr-6">{{ supportedgenerators | join(", ") }}</dd>
    {%- endif %}
  </dl>

  <div class="tool-content">
    {% for img in images %}
    <img src="{{ img.path }}" alt="{{ img.alt }}">
    {% endfor %}
    {{ content | safe }}
  </div>
  
  
  {% if startertemplaterepo %}
  <a href="https://app.netlify.com/start/deploy?repository={{ startertemplaterepo }}" class="inline-block my-8 px-4 py-3 text-gray-700 bg-white rounded-lg text-center md:text-lg whitespace-nowrap border-t">
    <svg role="img" aria-hidden="true" focusable="false" width="30" height="30" viewBox="0 0 40 40" class="inline-block mr-1" fill="#36b0bb"><use xlink:href="#logo-netlify-gem"/></svg>
    Deploy to Netlify
  </a>
  {% endif %}
  <p class="italic my-8">
    Find more {% if page.url.includes("/generators/") %}<a href="/generators/" class="underline">static site generators</a>{% else %}<a href="/headless-cms/" class="underline">headless content management systems</a>{% endif %}.
  </p>
</div>
