<h3 class="text-2xl font-semibold my-4">The purpose behind developers’ Jamstack sites</h3>

<h4 class="text-xl my-4">Jamstack sites are used for real business needs.</h4>

<p>We’re always interested in what the websites you’re building are for. Are you putting together a personal site to show off your work? Making an e-commerce play? Or building an enterprise application? Our 2021 categories were a little different from the ones we used in 2020, so the results aren’t precisely comparable. But they’re still fascinating. Since people work on many sites over the course of a year, we allowed respondents to pick more than one option.</p>

<div class="mt-16 flex justify-between" id="adoption-purpose">
  <h4 class="text-xl font-semibold">What is the purpose of the sites you work on?</h4>
</div>

<div id="adoption-purpose-chart" class="d3chart-placeholder d3chart-placeholder-large"></div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="adoption-purpose-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Years of Experience</th>
        <th class="text-left pr-2">Remote</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Personal blog/portfolio</td><td>37%</td></tr>
      <tr><td>B2B software</td><td>35%</td></tr>
      <tr><td>E-commerce</td><td>34%</td></tr>
      <tr><td>Consumer software</td><td>33%</td></tr>
      <tr><td>Informational</td><td>33%</td></tr>
      <tr><td>Lead capture/landing pages</td><td>29%</td></tr>
      <tr><td>Internal tools</td><td>29%</td></tr>
      <tr><td>Enterprise software</td><td>25%</td></tr>
      <tr><td>Documentation</td><td>16%</td></tr>
      <tr><td>Retail</td><td>12%</td></tr>
      <tr><td>News/Entertainment</td><td>12%</td></tr>
      <tr><td>Social media</td><td>9%</td></tr>
      <tr><td>Other</td><td>7%</td></tr>
      <tr><td>Games</td><td>7%</td></tr>
      <tr><td>Streaming media</td><td>6%</td></tr>
      <tr><td>Politics/activism</td><td>5%</td></tr>
    </tbody>
  </table>
</details>

<p>Personal websites dominate, just like last year. Whatever else you build, you’re always building your own website too!</p>

<p>E-commerce is a huge driver, with a surprisingly strong showing by enterprise software at 25%.</p>

<h3 class="text-2xl font-semibold mt-32 mb-4">Developers are serving audiences of millions</h3>

<h4 class="text-xl my-4">Though developers use Jamstack to build websites for audiences of all sizes, a third build the biggest websites in the world.</h4>

<p>We asked developers how many users the sites they build are intended to serve. Unsurprisingly, most devs work on websites for relatively small audiences. But one stat did energize us—32% of developers are working on sites that serve audiences of millions of users.</p>

<div class="mt-16 flex justify-between" id="adoption-audience">
  <h4 class="text-xl font-semibold">How many users are your sites intended to serve?</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="adoption-audience-chart" class="d3chart-placeholder"></div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="adoption-audience-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Number of users</th>
        <th class="text-left pr-2">Most sites</th>
        <th class="text-left pr-2">Some sites</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Tens</td><td>28%</td><td>38%</td></tr>
      <tr><td>Hundred</td><td>31%</td><td>45%</td></tr>
      <tr><td>Thousands</td><td>42%</td><td>37%</td></tr>
      <tr><td>100 Thousands</td><td>22%</td><td>32%</td></tr>
      <tr><td>Millions</td><td>12%</td><td>19%</td></tr>
    </tbody>
  </table>
</details>

<h3 class="text-2xl font-semibold mt-32 mb-4" id="breakout-3">Breakout 3: Specialization differentiates developers who work at big websites from smaller ones.</h3>

<p>With 32% of developers saying they work on the very biggest websites, which have audiences in the millions of users, we wanted to see if this group differed substantially from the average developer.</p>

<div class="mt-16 flex justify-between" id="adoption-titles">
  <h4 class="text-xl font-semibold">Job titles of devs who work on very large websites</h4>
</div>

<div id="adoption-titles-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020–2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="adoption-titles-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Frequency of large sites</th>
        <th class="text-left pr-2">Content producer</th>
        <th class="text-left pr-2">Back-end</th>
        <th class="text-left pr-2">Front-end</th>
        <th class="text-left pr-2">Full stack</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Never</td><td>1.48%</td><td>3.18%</td><td>31.18%</td><td>48.75%</td></tr>
      <tr><td>Sometimes</td><td>2.24%</td><td>4.08%</td><td>29.25%</td><td>45.98%</td></tr>
      <tr><td>Mostly</td><td>2.58%</td><td>4.37%</td><td>34.92%</td><td>39.88%</td></tr>
    </tbody>
  </table>
</details>

<p>The trend we’ve noticed here is specialization. In other words, the more likely you are to work on a big website as a developer, the more likely you are to be a specialist. Small teams don’t have dedicated content producers and are more likely to have full-stack developers. But those who work on big sites are more likely to specialize in back-end or front-end development.</p>

<p>We found another trend when we asked developers focused on large sites how important mobile devices are as a target. The more likely you are to work on large websites, the more likely you are to target mobile devices, and the more likely you are to consider them “very” important rather than just “somewhat” important.</p>

<div class="mt-16 flex justify-between" id="adoption-frequency">
  <h4 class="text-xl font-semibold">How important are mobile devices for you as a target?</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="adoption-frequency-chart" class="d3chart-placeholder"></div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="adoption-frequency-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">How frequently do you build sites for audiences of millions</th>
        <th class="text-left pr-2">Somewhat</th>
        <th class="text-left pr-2">Very</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Never</td><td>68%</td><td>25%</td></tr>
      <tr><td>Sometimes</td><td>76%</td><td>21%</td></tr>
      <tr><td>Mostly</td><td>83%</td><td>14%</td></tr>
    </tbody>
  </table>
</details>

<h3 class="text-2xl font-semibold mt-32 mb-4">Industries</h3>

<h4 class="text-xl my-4">Every major industry uses Jamstack—not just tech-forward sectors.</h4>

<p>Every year, we ask developers what industry their company is in. Big companies often compete in more than one industry, so respondents can pick several industries.</p>

<p>Similar to last year, the top 10 companies reflect some obvious categories but also some surprises.</p>

<p>Advertising, marketing, media and publishing all seem like tech-forward industries you’d expect to find on the Jamstack. Education, finance, and healthcare, on the other hand, aren’t known for being early adopters.</p>

<div class="mt-16 flex justify-between" id="adoption-industries">
  <h4 class="text-xl font-semibold">Top 10 industries for Jamstack development</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="adoption-industries-chart" class="d3chart-placeholder d3chart-placeholder-xl"></div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="adoption-industries-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Industry</th>
        <th class="text-left pr-2">Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Advertising & Marketing</td><td>18.4%</td></tr>
      <tr><td>Education</td><td>15.9%</td></tr>
      <tr><td>Finance & Financial Services</td><td>12%</td></tr>
      <tr><td>Media & Publishing</td><td>11.8%</td></tr>
      <tr><td>Business Support & Logistics</td><td>10.2%</td></tr>
      <tr><td>Healthcare & Pharmaceuticals</td><td>9.5%</td></tr>
      <tr><td>Entertainment & Leisure</td><td>9.4%</td></tr>
      <tr><td>Nonprofit</td><td>8.7%</td></tr>
      <tr><td>Telecommunications & Networking</td><td>8.3%</td></tr>
      <tr><td>Retail & Consumer Durables</td><td>8.3%</td></tr>
      <tr><td>N/A (Student/Unemployed/etc.)</td><td>7.7%</td></tr>
      <tr><td>Government</td><td>6.9%</td></tr>
      <tr><td>Food & Beverages</td><td>5.8%</td></tr>
      <tr><td>Real Estate</td><td>5.3%</td></tr>
      <tr><td>Manufacturing</td><td>5%</td></tr>
      <tr><td>Transportation & Delivery</td><td>4.6%</td></tr>
      <tr><td>Utilities Energy and Extraction</td><td>4.5%</td></tr>
      <tr><td>Construction Machinery and Homes</td><td>4.4%</td></tr>
      <tr><td>Insurance</td><td>4.4%</td></tr>
      <tr><td>Automotive</td><td>4.1%</td></tr>
      <tr><td>Consumer electronics</td><td>3.7%</td></tr>
      <tr><td>Agriculture</td><td>3.3%</td></tr>
      <tr><td>Airlines & Aerospace (including Defense)</td><td>2.9%</td></tr>
    </tbody>
  </table>
</details>

<h3 class="text-2xl font-semibold mt-32 mb-4">How Jamstack developers use server-side technologies</h3>

<h4 class="text-xl my-4">Functions are becoming as ubiquitous as containers.</h4>

<p>Jamstack isn’t all client-side, so we asked about the popularity of some major server-side technologies as well. We were particularly interested in how much adoption serverless functions are seeing compared to other server-side technologies.</p>

<p>Awareness was high for most techniques—over 75% in most cases—while usage was below half for each.</p>

<div class="mt-16 flex justify-between" id="adoption-serverside">
  <h4 class="text-xl font-semibold">Server-side technologies by usage and awareness</h4>
</div>

<div id="adoption-serverside-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="adoption-serverside-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Technique</th>
        <th class="text-left pr-2">Percentage of respondents who use this</th>
        <th class="text-left pr-2">Satisfaction score</th>
        <th class="text-left pr-2">Most aware</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. Containers</td>
        <td>49%</td>
        <td>3.1</td>
        <td>94%</td>
      </tr>
      <tr>
        <td>2. Microservices</td>
        <td>44%</td>
        <td>4.9</td>
        <td>89%</td>
      </tr>
      <tr>
        <td>3. Orchestration</td>
        <td>27%</td>
        <td>2.4</td>
        <td>89%</td>
      </tr>
      <tr>
        <td>4. Functions as a service</td>
        <td>46%</td>
        <td>8.7</td>
        <td>87%</td>
      </tr>
      <tr>
        <td>5. Gateways</td>
        <td>42%</td>
        <td>6.4</td>
        <td>80%</td>
      </tr>
      <tr>
        <td>6. Event Hubs</td>
        <td>14%</td>
        <td>2.3</td>
        <td>68%</td>
      </tr>
    </tbody>
  </table>
</details>

<p>Containers like Kubernetes are popular, and container orchestration is only used by half as many developers.</p>

<p>Functions as a service, like Netlify functions, are now almost as ubiquitous a technology as containers.</p>

<p>We’ll keep an eye on how functions usage has grown when we ask this question next year.</p>