<div class="survey-chart">
  <div class="flex justify-between items-center gap-x-2">
    <div>
      {{ permalinkHeading.render('h4', "I enjoy remote work") }}
      <p class="survey-chart-subheading">Percentage of respondents</p>
    </div>
  </div>
  <div id="i-enjoy-remote-work-chart" class="d3chart-placeholder"></div>
  <div class="text-center">Source: Jamstack Community Survey 2022</div>

  <details>
    <summary class="text-sm">Show Chart Data</summary>
    <table id="i-enjoy-remote-work-table" class="table-auto border-collapse">
      <thead>
        <tr class="chart-data-table-head">
          <th class="text-left pr-2"></th>
          <th class="text-left pr-2">Percentage of Survey Participants</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Strongly disagree</td>
          <td>3%</td>
        </tr>
        <tr>
          <td>Somewhat disagree</td>
          <td>4%</td>
        </tr>
        <tr>
          <td>Neither agree nor disagree</td>
          <td>7%</td>
        </tr>
        <tr>
          <td>Somewhat agree</td>
          <td>26%</td>
        </tr>
        <tr>
          <td>Strongly agree</td>
          <td>61%</td>
        </tr>
      </tbody>
    </table>
  </details>
</div>
