
{% include "./job-title-2021-vs-2022.njk" %}

{% include "./employment-status.njk" %}

{% include "./experience-increasing-over-time.njk" %}

{% include "./remote-frequency.njk" %}

{% include "./remote-changes.njk" %}

{# 


{% include "./job-title.njk" %} #}



{# 
{% include "./employment-status-2020-to-2022.njk" %}

{% include "./years-of-experience.njk" %}



{% include "./what-influenced-staying-leaving.njk" %}



{% include "./remote-changes.njk" %}

{% include "./my-company-has-remote-work-figured-out.njk" %}

{% include "./i-enjoy-remote-work.njk" %}

{% include "./i-would-like-to-work-remote-more-often.njk" %}

{% include "./i-changed-jobs-to-work-remotely-more-often.njk" %}

{% include "./i-would-quit-my-job-if-remote-was-more-often.njk" %}

{% include "./i-would-quit-my-job-if-in-person-was-more-often.njk" %} #}