<div class="survey-chart">
  <div class="flex justify-between items-center gap-x-2">
    <div>
      {{ permalinkHeading.render('h4', "Has your frequency of remote work changed in the last 12 months?") }}
      <p class="survey-chart-subheading">Percentage of respondents</p>
    </div>
  </div>
  <div id="remote-changes-chart" class="d3chart-placeholder"></div>
  <div class="text-center">Source: Jamstack Community Survey 2022</div>

  <details>
    <summary class="text-sm">Show Chart Data</summary>
    <table id="remote-changes-table" class="table-auto border-collapse">
      <thead>
        <tr class="chart-data-table-head">
          <th class="text-left pr-2">Frequency</th>
          <th class="text-left pr-2">Percentage of Survey Participants</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lots more in office</td>
          <td>7%</td>
        </tr>
        <tr>
          <td>Slightly more in office</td>
          <td>16%</td>
        </tr>
        <tr>
          <td>No changes</td>
          <td>52%</td>
        </tr>
        <tr>
          <td>Slighty more remote</td>
          <td>9%</td>
        </tr>
        <tr>
          <td>Lots more remote</td>
          <td>15%</td>
        </tr>
      </tbody>
    </table>
  </details>
</div>
