<div class="survey-chart">
  <div class="flex justify-between items-center gap-x-2">
    <div>
      {{ permalinkHeading.render('h5', "Why did you stay in your job?") }}
      <p class="survey-chart-subheading">Percentage of respondents</p>
    </div>
  </div>

  <div id="what-influenced-staying-chart" class="d3chart-placeholder"></div>

  <div>
    <div class="d3chart-legend-placeholder d3chart-legend-wrap"></div>
  </div>

  <div class="text-center">Source: Jamstack Community Survey 2022</div>

  <details>
    <summary class="text-sm">Show Chart Data</summary>
    <table id="what-influenced-staying-table" class="w-full table-auto border-collapse text-sm">
      <thead>
        <tr class="chart-data-table-head">
          <th></th>
          <th class="text-left pr-2">Not at all important</th>
          <th class="text-left pr-2">Slightly important</th>
          <th class="text-left pr-2">Moderately important</th>
          <th class="text-left pr-2">Very important</th>
          <th class="text-left pr-2">Extremely important</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Team</td>
          <td>3%</td>
          <td>5%</td>
          <td>19%</td>
          <td>40%</td>
          <td>34%</td>
        </tr>
        <tr>
          <td>Remote work</td>
          <td>5%</td>
          <td>9%</td>
          <td>22%</td>
          <td>32%</td>
          <td>32%</td>
        </tr>
        <tr>
          <td>Career growth</td>
          <td>3%</td>
          <td>6%</td>
          <td>21%</td>
          <td>39%</td>
          <td>31%</td>
        </tr>
        <tr>
          <td>Company culture</td>
          <td>4%</td>
          <td>8%</td>
          <td>21%</td>
          <td>38%</td>
          <td>29%</td>
        </tr>
        <tr>
          <td>Money</td>
          <td>3%</td>
          <td>6%</td>
          <td>25%</td>
          <td>39%</td>
          <td>28%</td>
        </tr>
        <tr>
          <td>Corporate ethics</td>
          <td>6%</td>
          <td>9%</td>
          <td>24%</td>
          <td>37%</td>
          <td>25%</td>
        </tr>
        <tr>
          <td>My manager</td>
          <td>6%</td>
          <td>7%</td>
          <td>24%</td>
          <td>38%</td>
          <td>24%</td>
        </tr>
        <tr>
          <td>Technology choices</td>
          <td>2%</td>
          <td>7%</td>
          <td>24%</td>
          <td>44%</td>
          <td>23%</td>
        </tr>
        <tr>
          <td>Environmental impact</td>
          <td>14%</td>
          <td>16%</td>
          <td>30%</td>
          <td>26%</td>
          <td>14%</td>
        </tr>
        <tr>
          <td>Involuntary</td>
          <td>31%</td>
          <td>10%</td>
          <td>34%</td>
          <td>15%</td>
          <td>10%</td>
        </tr>
      </tbody>
    </table>
  </details>
</div>