<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Years of experience</h4>
</div>
<div id="years-of-experience-chart" class="d3chart-placeholder"></div>
<div class="text-center my-2">Source: Jamstack Community Survey 2022</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="years-of-experience-table" class="table-auto border-collapse">
    <thead>
      <tr class="chart-data-table-head">
        <th class="text-left pr-2">Years of experience</th>
        <th class="text-left pr-2">Percentage of Survey Participants</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>< 1</td>
        <td>8%</td>
      </tr>
      <tr>
        <td>1-2</td>
        <td>16%</td>
      </tr>
      <tr>
        <td>3-4</td>
        <td>16%</td>
      </tr>
      <tr>
        <td>5-6</td>
        <td>14%</td>
      </tr>
      <tr>
        <td>7-8</td>
        <td>9%</td>
      </tr>
      <tr>
        <td>9-10</td>
        <td>9%</td>
      </tr>
      <tr>
        <td>11-12</td>
        <td>5%</td>
      </tr>
      <tr>
        <td>13-14</td>
        <td>3%</td>
      </tr>
      <tr>
        <td>15+</td>
        <td>19%</td>
      </tr>
    </tbody>
  </table>
</details>
