<div class="mt-16 flex justify-between" id="workflows-design">
  <h4 class="text-xl font-semibold">Content Management Systems</h4>
</div>

<div id="cms-usage-vs-satisfaction-chart" class="d3chart-placeholder d3chart-colors-extended"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4 d3chart-colors-extended"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2022</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="cms-usage-vs-satisfaction-table" class="table-auto border-collapse">
    <thead>
      <tr class="chart-data-table-head">
        <th class="text-left pr-2">CMS</th>
        <th class="text-left pr-2">Percentage of respondents used on "some" or "many" projects</th>
        <th class="text-left pr-2">Satisfaction score</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. WordPress</td>
        <td>37%</td>
        <td>0.5</td>
      </tr>
      <tr>
        <td>2. Notion</td>
        <td>26%</td>
        <td>2.3</td>
      </tr>
      <tr>
        <td>3. Netlify CMS</td>
        <td>26%</td>
        <td>1.9</td>
      </tr>
      <tr>
        <td>4. WordPress (Headless)</td>
        <td>22%</td>
        <td>1.0</td>
      </tr>
      <tr>
        <td>5. Contentful</td>
        <td>19%</td>
        <td>1.4</td>
      </tr>
      <tr>
        <td>6. Strapi</td>
        <td>18%</td>
        <td>2.0</td>
      </tr>
      <tr>
        <td>7. Sanity</td>
        <td>16%</td>
        <td>3.0</td>
      </tr>
      <tr>
        <td>8. Drupal</td>
        <td>14%</td>
        <td>0.6</td>
      </tr>
      <tr>
        <td>9. Wix</td>
        <td>13%</td>
        <td>0.6</td>
      </tr>
      <tr>
        <td>10. Webflow</td>
        <td>12%</td>
        <td>1.0</td>
      </tr>
      <tr>
        <td>11. Prismic</td>
        <td>11%</td>
        <td>1.8</td>
      </tr>
      <tr>
        <td>12. SquareSpace</td>
        <td>11%</td>
        <td>0.6</td>
      </tr>
      <tr>
        <td>13. Ghost</td>
        <td>10%</td>
        <td>1.5</td>
      </tr>
      <tr>
        <td>14. Storyblok</td>
        <td>9%</td>
        <td>2.0</td>
      </tr>
      <tr>
        <td>15. Builder</td>
        <td>8%</td>
        <td>1.0</td>
      </tr>
      <tr>
        <td>16. Forestry</td>
        <td>8%</td>
        <td>1.0</td>
      </tr>
      <tr>
        <td>17. Agility CMS</td>
        <td>7%</td>
        <td>0.8</td>
      </tr>
      <tr>
        <td>18. Weebly</td>
        <td>7%</td>
        <td>0.8</td>
      </tr>
      <tr>
        <td>19. ButterCMS</td>
        <td>6%</td>
        <td>1.0</td>
      </tr>
      <tr>
        <td>20. Contentstack</td>
        <td>6%</td>
        <td>1.0</td>
      </tr>
    </tbody>
  </table>
</details>
