<div class="survey-chart">
  <div class="flex justify-between">

    {{ permalinkHeading.render('h4', "Content Management Systems") }}
  </div>

  <div id="cms-usage-vs-satisfaction-chart" class="d3chart-placeholder d3chart-colors-extended"></div>

  <div>
    <div class="d3chart-legend-placeholder d3chart-legend-wrap d3chart-colors-extended"></div>
  </div>

  <div class="text-center">Source: Jamstack Community Survey 2022</div>

  <details>
    <summary class="text-sm">Show Chart Data</summary>
    <table id="cms-usage-vs-satisfaction-table" class="table-auto border-collapse">
      <thead>
        <tr class="chart-data-table-head">
          <th class="text-left pr-2">CMS</th>
          <th class="text-left pr-2">Used on "some" or "many" projects</th>
          <th class="text-left pr-2">Satisfaction score</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1. WordPress</td>
          <td>37%</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>2. Notion</td>
          <td>26%</td>
          <td>2.3</td>
        </tr>
        <tr>
          <td>3. WordPress (Headless)</td>
          <td>22%</td>
          <td>1.0</td>
        </tr>
        <tr>
          <td>4. Contentful</td>
          <td>19%</td>
          <td>1.4</td>
        </tr>
        <tr>
          <td>5. Strapi</td>
          <td>18%</td>
          <td>2.0</td>
        </tr>
        <tr>
          <td>6. Sanity</td>
          <td>16%</td>
          <td>3.0</td>
        </tr>
        <tr>
          <td>7. Drupal</td>
          <td>14%</td>
          <td>0.6</td>
        </tr>
        <tr>
          <td>8. Wix</td>
          <td>13%</td>
          <td>0.6</td>
        </tr>
        <tr>
          <td>9. Webflow</td>
          <td>12%</td>
          <td>1.0</td>
        </tr>
        <tr>
          <td>10. Prismic</td>
          <td>11%</td>
          <td>1.8</td>
        </tr>
        <tr>
          <td>11. Squarespace</td>
          <td>11%</td>
          <td>0.6</td>
        </tr>
        <tr>
          <td>12. Ghost</td>
          <td>10%</td>
          <td>1.5</td>
        </tr>
        <tr>
          <td>13. Storyblok</td>
          <td>9%</td>
          <td>2.0</td>
        </tr>
        <tr>
          <td>14. Builder</td>
          <td>8%</td>
          <td>1.0</td>
        </tr>
        <tr>
          <td>15. Forestry</td>
          <td>8%</td>
          <td>1.0</td>
        </tr>
        <tr>
          <td>16. Agility CMS</td>
          <td>7%</td>
          <td>0.8</td>
        </tr>
        <tr>
          <td>17. Weebly</td>
          <td>7%</td>
          <td>0.8</td>
        </tr>
        <tr>
          <td>18. ButterCMS</td>
          <td>6%</td>
          <td>1.0</td>
        </tr>
        <tr>
          <td>19. Contentstack</td>
          <td>6%</td>
          <td>1.0</td>
        </tr>
      </tbody>
    </table>
  </details>
</div>