<div class="survey-chart">
  <div class="flex justify-between">
    {{ permalinkHeading.render('h4', 'Frameworks by usage and satisfaction') }}
  </div>

  <div
    id="frameworks-usage-vs-satisfaction-chart"
    class="d3chart-placeholder d3chart-colors-extended"
  ></div>

  <div>
    <div class="d3chart-legend-placeholder d3chart-legend-wrap d3chart-colors-extended"></div>
  </div>

  <div class="text-center">Source: Jamstack Community Survey 2022</div>

  <details>
    <summary class="text-sm">Show Chart Data</summary>
    <table
      id="frameworks-usage-vs-satisfaction-table"
      class="table-auto border-collapse"
    >
      <thead>
        <tr class="chart-data-table-head">
          <th class="text-left pr-2">Language</th>
          <th class="text-left pr-2">Used on "some" or "many" projects</th>
          <th class="text-left pr-2">Satisfaction score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1. React</td>
          <td>71%</td>
          <td>2.9</td>
        </tr>
        <tr>
          <td>2. Express</td>
          <td>49%</td>
          <td>1.7</td>
        </tr>
        <tr>
          <td>3. Next.js</td>
          <td>47%</td>
          <td>4.2</td>
        </tr>
        <tr>
          <td>4. jQuery</td>
          <td>44%</td>
          <td>0.3</td>
        </tr>
        <tr>
          <td>5. Vue</td>
          <td>33%</td>
          <td>3.1</td>
        </tr>
        <tr>
          <td>6. Vite</td>
          <td>32%</td>
          <td>9.7</td>
        </tr>
        <tr>
          <td>7. Gatsby</td>
          <td>28%</td>
          <td>0.9</td>
        </tr>
        <tr>
          <td>8. Nuxt.js</td>
          <td>22%</td>
          <td>2.7</td>
        </tr>
        <tr>
          <td>9. Angular 2+</td>
          <td>20%</td>
          <td>0.7</td>
        </tr>
        <tr>
          <td>10. 11ty</td>
          <td>19%</td>
          <td>3.8</td>
        </tr>
        <tr>
          <td>11. Svelte</td>
          <td>19%</td>
          <td>5.3</td>
        </tr>
        <tr>
          <td>12. SvelteKit</td>
          <td>15%</td>
          <td>4.0</td>
        </tr>
        <tr>
          <td>13. Jekyll</td>
          <td>14%</td>
          <td>0.4</td>
        </tr>
        <tr>
          <td>14. Angular 1.x</td>
          <td>14%</td>
          <td>0.3</td>
        </tr>
        <tr>
          <td>15. Hugo</td>
          <td>13%</td>
          <td>1.2</td>
        </tr>
        <tr>
          <td>16. Preact</td>
          <td>12%</td>
          <td>2.0</td>
        </tr>
        <tr>
          <td>17. Astro</td>
          <td>11%</td>
          <td>4.5</td>
        </tr>
        <tr>
          <td>18. Remix</td>
          <td>10%</td>
          <td>2.3</td>
        </tr>
        <tr>
          <td>19. Nest</td>
          <td>9%</td>
          <td>2.0</td>
        </tr>
        <tr>
          <td>20. VuePress</td>
          <td>8%</td>
          <td>1.7</td>
        </tr>
        <tr>
          <td>21. Gridsome</td>
          <td>7%</td>
          <td>0.8</td>
        </tr>
        <tr>
          <td>22. Docusaurus</td>
          <td>7%</td>
          <td>2.5</td>
        </tr>
        <tr>
          <td>23. Hapi</td>
          <td>6%</td>
          <td>1.0</td>
        </tr>
        <tr>
          <td>24. SolidJS</td>
          <td>6%</td>
          <td>2.0</td>
        </tr>
        <tr>
          <td>25. Sapper</td>
          <td>5%</td>
          <td>0.7</td>
        </tr>
        <tr>
          <td>26. Stencil</td>
          <td>5%</td>
          <td>1.5</td>
        </tr>
        <tr>
          <td>27. Quasar</td>
          <td>4%</td>
          <td>1.0</td>
        </tr>
        <tr>
          <td>28. RedwoodJS</td>
          <td>4%</td>
          <td>3.0</td>
        </tr>
        <tr>
          <td>29. Blitz.js</td>
          <td>4%</td>
          <td>3.0</td>
        </tr>
      </tbody>
    </table>
  </details>
</div>