{% include './cms-usage-vs-satisfaction.njk' %}

{% include './primary-programming-language.njk' %}

{% include './primary-programming-language-changes-2020-2022.njk' %}

{% include './programming-language-usage-vs-satisfaction.njk' %}

{% include './frameworks-usage-vs-satisfaction.njk' %}

{% include './smaller-frameworks-usage-vs-satisfaction.njk' %}

{% include './frameworks-usage-vs-satisfaction-changes.njk' %}