<div class="mt-16 flex justify-between">
  {{ permalinkHeading.render('h4', 'Primary programming language changes 2020-2022', 'text-xl font-semibold') }}
</div>
<div
  id="primary-programming-language-changes-2020-2022-chart"
  class="d3chart-placeholder"
></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4 mb-4"></div>
</div>


<div class="text-center my-2">Source: Jamstack Community Survey 2020-2022</div>


<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table class="table-auto border-collapse">
    <thead>
      <tr class="chart-data-table-head">
        <th class="text-left pr-2">Language</th>
        <th class="text-left pr-2">2020</th>
        <th class="text-left pr-2">2021</th>
        <th class="text-left pr-2">2022</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>JavaScript</td>
        <td>63%</td>
        <td>55%</td>
        <td>53%</td>
      </tr>
      <tr>
        <td>TypeScript</td>
        <td>10%</td>
        <td>15%</td>
        <td>21%</td>
      </tr>
      <tr>
        <td>PHP</td>
        <td>7%</td>
        <td>7%</td>
        <td>6%</td>
      </tr>
      <tr>
        <td>Python</td>
        <td>4%</td>
        <td>7%</td>
        <td>6%</td>
      </tr>
      <tr>
        <td>C#</td>
        <td>4%</td>
        <td>4%</td>
        <td>3%</td>
      </tr>
      <tr>
        <td>Java</td>
        <td>3%</td>
        <td>3%</td>
        <td>3%</td>
      </tr>
      <tr>
        <td>C/C++</td>
        <td>1%</td>
        <td>2%</td>
        <td>2%</td>
      </tr>
      <tr>
        <td>Ruby</td>
        <td>3%</td>
        <td>2%</td>
        <td>2%</td>
      </tr>
    </tbody>
  </table>
</details>

<table
  id="primary-programming-language-changes-2020-2022-table"
  class="table-auto border-collapse"
  style="display: none"
>
  <thead>
    <tr class="chart-data-table-head">
      <th class="text-left pr-2">Date</th>
      <th class="text-left pr-2">JavaScript</th>
      <th class="text-left pr-2">TypeScript</th>
      <th class="text-left pr-2">PHP</th>
      <th class="text-left pr-2">Python</th>
      <th class="text-left pr-2">C#</th>
      <th class="text-left pr-2">Java</th>
      <th class="text-left pr-2">C/C++</th>
      <th class="text-left pr-2">Ruby</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2020</td>
      <td>63%</td>
      <td>10%</td>
      <td>7%</td>
      <td>4%</td>
      <td>4%</td>
      <td>3%</td>
      <td>1%</td>
      <td>3%</td>
    </tr>
    <tr>
      <td>2021</td>
      <td>55%</td>
      <td>15%</td>
      <td>7%</td>
      <td>7%</td>
      <td>4%</td>
      <td>3%</td>
      <td>2%</td>
      <td>2%</td>
    </tr>
    <tr>
      <td>2022</td>
      <td>53%</td>
      <td>21%</td>
      <td>6%</td>
      <td>6%</td>
      <td>3%</td>
      <td>3%</td>
      <td>2%</td>
      <td>2%</td>
    </tr>
  </tbody>
</table>
