<div class="survey-chart">
  <div class="flex justify-between">
    {{ permalinkHeading.render('h4', 'Programming languages by usage and satisfaction') }}
  </div>

  <div id="programming-language-usage-vs-satisfaction-chart" class="d3chart-placeholder d3chart-colors-extended"></div>

  <div>
    <div class="d3chart-legend-placeholder d3chart-legend-wrap d3chart-colors-extended"></div>
  </div>

  <div class="text-center">Source: Jamstack Community Survey 2022</div>

  <details>
    <summary class="text-sm">Show Chart Data</summary>
    <table id="programming-language-usage-vs-satisfaction-table" class="table-auto border-collapse">
      <thead>
        <tr class="chart-data-table-head">
          <th class="text-left pr-2">Language</th>
          <th class="text-left pr-2">Used on "some" or "many" projects</th>
          <th class="text-left pr-2">Satisfaction score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1. JavaScript</td>
          <td>96%</td>
          <td>3.0</td>
        </tr>
        <tr>
          <td>2. TypeScript</td>
          <td>67%</td>
          <td>7.4</td>
        </tr>
        <tr>
          <td>3. SQL</td>
          <td>64%</td>
          <td>1.8</td>
        </tr>
        <tr>
          <td>4. Shell (Bash)</td>
          <td>53%</td>
          <td>1.5</td>
        </tr>
        <tr>
          <td>5. Python</td>
          <td>42%</td>
          <td>2.2</td>
        </tr>
        <tr>
          <td>6. PHP</td>
          <td>42%</td>
          <td>0.6</td>
        </tr>
        <tr>
          <td>7. Java</td>
          <td>26%</td>
          <td>0.6</td>
        </tr>
        <tr>
          <td>8. C#</td>
          <td>21%</td>
          <td>1.1</td>
        </tr>
        <tr>
          <td>9. Ruby</td>
          <td>18%</td>
          <td>1.0</td>
        </tr>
        <tr>
          <td>10. C/C++</td>
          <td>17%</td>
          <td>1.1</td>
        </tr>
        <tr>
          <td>11. Go</td>
          <td>16%</td>
          <td>2.2</td>
        </tr>
        <tr>
          <td>12. Rust</td>
          <td>12%</td>
          <td>3.0</td>
        </tr>
        <tr>
          <td>13. Visual Basic</td>
          <td>10%</td>
          <td>0.7</td>
        </tr>
        <tr>
          <td>14. Swift</td>
          <td>9%</td>
          <td>2.0</td>
        </tr>
        <tr>
          <td>15. Objective-C</td>
          <td>6%</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>16. Perl</td>
          <td>6%</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>17. Elixir</td>
          <td>6%</td>
          <td>1.5</td>
        </tr>
      </tbody>
    </table>
  </details>
</div>