<div class="survey-chart">
  <div class="flex justify-between">
    {{ permalinkHeading.render('h4', 'Smaller frameworks by usage and satisfaction') }}
  </div>

  <div
    id="smaller-frameworks-usage-vs-satisfaction-chart"
    class="d3chart-placeholder d3chart-colors-extended"
  ></div>

  <div>
    <div class="d3chart-legend-placeholder d3chart-legend-wrap d3chart-colors-extended"></div>
  </div>

  <div class="text-center">Source: Jamstack Community Survey 2022</div>

  <details>
    <summary class="text-sm">Show Chart Data</summary>
    <table
      id="smaller-frameworks-usage-vs-satisfaction-table"
      class="table-auto border-collapse"
    >
      <thead>
        <tr class="chart-data-table-head">
          <th class="text-left pr-2">Framework</th>
          <th class="text-left pr-2">Used on "some" or "many" projects</th>
          <th class="text-left pr-2">Satisfaction score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1. Remix</td>
          <td>10%</td>
          <td>2.3</td>
        </tr>
        <tr>
          <td>2. Nest</td>
          <td>9%</td>
          <td>2.0</td>
        </tr>
        <tr>
          <td>3. VuePress</td>
          <td>8%</td>
          <td>1.7</td>
        </tr>
        <tr>
          <td>4. Gridsome</td>
          <td>7%</td>
          <td>0.8</td>
        </tr>
        <tr>
          <td>5. Docusaurus</td>
          <td>7%</td>
          <td>2.5</td>
        </tr>
        <tr>
          <td>6. Hapi</td>
          <td>6%</td>
          <td>1.0</td>
        </tr>
        <tr>
          <td>7. SolidJS</td>
          <td>6%</td>
          <td>2.0</td>
        </tr>
        <tr>
          <td>8. Sapper</td>
          <td>5%</td>
          <td>0.7</td>
        </tr>
        <tr>
          <td>9. Stencil</td>
          <td>5%</td>
          <td>1.5</td>
        </tr>
        <tr>
          <td>10. Quasar</td>
          <td>4%</td>
          <td>1.0</td>
        </tr>
        <tr>
          <td>11. RedwoodJS</td>
          <td>4%</td>
          <td>3.0</td>
        </tr>
        <tr>
          <td>12. Blitz.js</td>
          <td>4%</td>
          <td>3.0</td>
        </tr>
      </tbody>
    </table>
  </details>
</div>