<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">CMS usage vs. satisfaction</h4>
</div>

<div id="choices-cms-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="choices-cms-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">CMS</th>
        <th class="text-left pr-2">Usage</th>
        <th class="text-left pr-2">Satisfaction</th>
        <th class="text-left pr-2">Awareness</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. WordPress</td>
        <td>39.43%</td>
        <td>0.3</td>
        <td>93.32%</td>
      </tr>
      <tr>
        <td>2. Contentful</td>
        <td>22.13%</td>
        <td>2.2</td>
        <td>70.13%</td>
      </tr>
      <tr>
        <td>3. WordPress (Headless)</td>
        <td>21.57%</td>
        <td>1.1</td>
        <td>86.67%</td>
      </tr>
      <tr>
        <td>4. Strapi</td>
        <td>17.89%</td>
        <td>2.9</td>
        <td>64.28%</td>
      </tr>
      <tr>
        <td>5. Drupal</td>
        <td>13.36%</td>
        <td>0.4</td>
        <td>83.95%</td>
      </tr>
      <tr>
        <td>6. Sanity</td>
        <td>12.72%</td>
        <td>3.2</td>
        <td>54.13%</td>
      </tr>
      <tr>
        <td>7. Prismic</td>
        <td>12.31%</td>
        <td>2.0</td>
        <td>53.79%</td>
      </tr>
      <tr>
        <td>8. Wix</td>
        <td>11.4%</td>
        <td>0.5</td>
        <td>86.47%</td>
      </tr>
      <tr>
        <td>9. Ghost</td>
        <td>10.44%</td>
        <td>1.3</td>
        <td>63.67%</td>
      </tr>
      <tr>
        <td>10. Webflow</td>
        <td>10.38%</td>
        <td>1.1</td>
        <td>62.92%</td>
      </tr>
      <tr>
        <td>11. Squarespace</td>
        <td>10.22%</td>
        <td>0.5</td>
        <td>74.67%</td>
      </tr>
      <tr>
        <td>12. Forestry</td>
        <td>9.32%</td>
        <td>1.5</td>
        <td>48.39%</td>
      </tr>
      <tr>
        <td>13. Weebly</td>
        <td>5.77%</td>
        <td>0.6</td>
        <td>61.35%</td>
      </tr>
      <tr>
        <td>14. Contentstack</td>
        <td>5.45%</td>
        <td>1.0</td>
        <td>35.28%</td>
      </tr>
      <tr>
        <td>15. Agility CMS</td>
        <td>5.33%</td>
        <td>1.6</td>
        <td>38.84%</td>
      </tr>
      <tr>
        <td>16. Builder</td>
        <td>5.13%</td>
        <td>1.2</td>
        <td>31.03%</td>
      </tr>
    </tbody>
  </table>
</details>


<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">CMS changes in usage and satisfaction</h4>
</div>

<div id="choices-cmsdelta-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="choices-cmsdelta-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">CMS</th>
        <th class="text-left pr-2">Usage change (%)</th>
        <th class="text-left pr-2">Satisfaction change</th>
        <th class="text-left pr-2">Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. WordPress</td>
        <td>-10.08%</td>
        <td>0.2</td>
        <td>39.43%</td>
      </tr>
      <tr>
        <td>2. Contentful</td>
        <td>5.58%</td>
        <td>0.3</td>
        <td>22.13%</td>
      </tr>
      <tr>
        <td>3. WordPress (Headless)</td>
        <td>7.26%</td>
        <td>0.2</td>
        <td>21.57%</td>
      </tr>
      <tr>
        <td>4. Strapi</td>
        <td>102.15%</td>
        <td>-1.2</td>
        <td>17.89%</td>
      </tr>
      <tr>
        <td>5. Drupal</td>
        <td>-10.09%</td>
        <td>0.2</td>
        <td>13.36%</td>
      </tr>
      <tr>
        <td>6. Sanity</td>
        <td>48.08%</td>
        <td>-3.5</td>
        <td>12.72%</td>
      </tr>
      <tr>
        <td>7. Prismic</td>
        <td>43.98%</td>
        <td>-0.3</td>
        <td>12.31%</td>
      </tr>
      <tr>
        <td>8. Wix</td>
        <td>95.54%</td>
        <td>0.2</td>
        <td>11.4%</td>
      </tr>
      <tr>
        <td>9. Ghost</td>
        <td>-2.06%</td>
        <td>-0.3</td>
        <td>10.44%</td>
      </tr>
      <tr>
        <td>10. Webflow</td>
        <td>77.44%</td>
        <td>0.2</td>
        <td>10.38%</td>
      </tr>
      <tr>
        <td>11. Squarespace</td>
        <td>-2.06%</td>
        <td>0.2</td>
        <td>10.22%</td>
      </tr>
      <tr>
        <td>12. Forestry</td>
        <td>-3.82%</td>
        <td>-0.5</td>
        <td>9.32%</td>
      </tr>
      <tr>
        <td>13. Weebly</td>
        <td>130.80%</td>
        <td>0.3</td>
        <td>5.77%</td>
      </tr>
    </tbody>
  </table>
</details>


<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Programming languages by usage and satisfaction</h4>
</div>

<div id="choices-langs-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="choices-langs-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Language</th>
        <th class="text-left pr-2">Usage</th>
        <th class="text-left pr-2">Satisfaction</th>
        <th class="text-left pr-2">Awareness</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. JavaScript</td>
        <td>96.48%</td>
        <td>4.2</td>
        <td>99.76%</td>
      </tr>
      <tr>
        <td>2. SQL</td>
        <td>67.1%</td>
        <td>1.6</td>
        <td>98.18%</td>
      </tr>
      <tr>
        <td>3. TypeScript</td>
        <td>60.37%</td>
        <td>7.6</td>
        <td>97.85%</td>
      </tr>
      <tr>
        <td>4. Shell (Bash)</td>
        <td>52.08%</td>
        <td>1.5</td>
        <td>95.98%</td>
      </tr>
      <tr>
        <td>5. PHP</td>
        <td>46.42%</td>
        <td>0.5</td>
        <td>97.41%</td>
      </tr>
      <tr>
        <td>6. Python</td>
        <td>42.41%</td>
        <td>2.8</td>
        <td>98.03%</td>
      </tr>
      <tr>
        <td>7. Java</td>
        <td>25%</td>
        <td>0.6</td>
        <td>96.9%</td>
      </tr>
      <tr>
        <td>8. C#</td>
        <td>21.5%</td>
        <td>1.4</td>
        <td>97%</td>
      </tr>
      <tr>
        <td>9. Ruby</td>
        <td>16.78%</td>
        <td>1</td>
        <td>95.22%</td>
      </tr>
      <tr>
        <td>10. C/C++</td>
        <td>16.17%</td>
        <td>0.9</td>
        <td>96.92%</td>
      </tr>
      <tr>
        <td>11. Go</td>
        <td>15.23%</td>
        <td>3.4</td>
        <td>94.37%</td>
      </tr>
      <tr>
        <td>12. Swift</td>
        <td>9.42%</td>
        <td>2.9</td>
        <td>92.06%</td>
      </tr>
      <tr>
        <td>13. Rust</td>
        <td>8.91%</td>
        <td>4.0</td>
        <td>91.89%</td>
      </tr>
      <tr>
        <td>14. Visual Basic</td>
        <td>7.84%</td>
        <td>0.5</td>
        <td>91.37%</td>
      </tr>
      <tr>
        <td>15. Objective-C</td>
        <td>6.38%</td>
        <td>0.5</td>
        <td>91.11%</td>
      </tr>
      <tr>
        <td>16. Perl</td>
        <td>5.22%</td>
        <td>0.5</td>
        <td>91.73%</td>
      </tr>
      <tr>
        <td>17. Elixir</td>
        <td>4.83%</td>
        <td>2.4</td>
        <td>77.97%</td>
      </tr>
    </tbody>
  </table>
</details>


<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Programming languages by 1-year change in usage and satisfaction</h4>
</div>

<div id="choices-langsdelta-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="choices-langsdelta-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">CMS</th>
        <th class="text-left pr-2">Usage change (%)</th>
        <th class="text-left pr-2">Satisfaction change</th>
        <th class="text-left pr-2">Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. JavaScript</td>
        <td>-0.7%</td>
        <td>-1.6</td>
        <td>96.48%</td>
      </tr>
      <tr>
        <td>2. SQL</td>
        <td>4.2%</td>
        <td>0.4</td>
        <td>67.1%</td>
      </tr>
      <tr>
        <td>3. TypeScript</td>
        <td>14.1%</td>
        <td>1.9</td>
        <td>60.37%</td>
      </tr>
      <tr>
        <td>4. Shell (Bash)</td>
        <td>-2.7%</td>
        <td>0.1</td>
        <td>52.08%</td>
      </tr>
      <tr>
        <td>5. PHP</td>
        <td>-0.2%</td>
        <td>0.2</td>
        <td>46.42%</td>
      </tr>
      <tr>
        <td>6. Python</td>
        <td>7.4%</td>
        <td>0.5</td>
        <td>42.41%</td>
      </tr>
      <tr>
        <td>7. Java</td>
        <td>2.2%</td>
        <td>0.3</td>
        <td>25%</td>
      </tr>
      <tr>
        <td>8. C#</td>
        <td>4.6%</td>
        <td>0</td>
        <td>21.5%</td>
      </tr>
      <tr>
        <td>9. Ruby</td>
        <td>-1.4%</td>
        <td>-0.1</td>
        <td>16.78%</td>
      </tr>
      <tr>
        <td>10. C/C++</td>
        <td>6.3%</td>
        <td>0.2</td>
        <td>16.17%</td>
      </tr>
      <tr>
        <td>11. Go</td>
        <td>1.2%</td>
        <td>0.9</td>
        <td>15.23%</td>
      </tr>
      <tr>
        <td>12. Swift</td>
        <td>2.3%</td>
        <td>-0.5</td>
        <td>9.42%</td>
      </tr>
      <tr>
        <td>13. Rust</td>
        <td>4.0%</td>
        <td>-3.5</td>
        <td>8.91%</td>
      </tr>
      <tr>
        <td>14. Visual Basic</td>
        <td>3.6%</td>
        <td>0.3</td>
        <td>7.84%</td>
      </tr>
      <tr>
        <td>15. Objective-C</td>
        <td>1.4%</td>
        <td>0.2</td>
        <td>6.38%</td>
      </tr>
    </tbody>
  </table>
</details>


<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Major frameworks by usage and satisfaction</h4>
</div>

<div id="choices-frameworks-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="choices-frameworks-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Framework</th>
        <th class="text-left pr-2">Percentage of respondents who use this</th>
        <th class="text-left pr-2">Satisfaction score</th>
        <th class="text-left pr-2">Awareness</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. React</td>
        <td>68.1%</td>
        <td>4.3</td>
        <td>98.4%</td>
      </tr>
      <tr>
        <td>2. Express</td>
        <td>51.3%</td>
        <td>1.9</td>
        <td>91.5%</td>
      </tr>
      <tr>
        <td>3. jQuery</td>
        <td>50.8%</td>
        <td>0.2</td>
        <td>97.5%</td>
      </tr>
      <tr>
        <td>4. Next.js</td>
        <td>43.2%</td>
        <td>7.0</td>
        <td>93.9%</td>
      </tr>
      <tr>
        <td>5. Vue</td>
        <td>39.4%</td>
        <td>5.2</td>
        <td>94.8%</td>
      </tr>
      <tr>
        <td>6. Gatsby</td>
        <td>36.9%</td>
        <td>1.9</td>
        <td>91.7%</td>
      </tr>
      <tr>
        <td>7. Nuxt.js</td>
        <td>24.8%</td>
        <td>5.5</td>
        <td>84.6%</td>
      </tr>
      <tr>
        <td>8. Angular 2+</td>
        <td>19.9%</td>
        <td>0.8</td>
        <td>95.3%</td>
      </tr>
      <tr>
        <td>9. 11ty</td>
        <td>17.4%</td>
        <td>5.9</td>
        <td>60.9%</td>
      </tr>
      <tr>
        <td>10. Jekyll</td>
        <td>16.5%</td>
        <td>0.5</td>
        <td>80.8%</td>
      </tr>
      <tr>
        <td>11. Angular 1.x</td>
        <td>15.3%</td>
        <td>0.2</td>
        <td>94.4%</td>
      </tr>
      <tr>
        <td>12. Hugo</td>
        <td>14.8%</td>
        <td>1.3</td>
        <td>73.6%</td>
      </tr>
      <tr>
        <td>13. Svelte</td>
        <td>14.4%</td>
        <td>5.5</td>
        <td>82%</td>
      </tr>
      <tr>
        <td>14. Vite</td>
        <td>14.2%</td>
        <td>9.6</td>
        <td>59.3%</td>
      </tr>
      <tr>
        <td>15. Preact</td>
        <td>10.5%</td>
        <td>2.7</td>
        <td>74.4%</td>
      </tr>
    </tbody>
  </table>
</details>

<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Minor frameworks by usage and satisfaction</h4>
</div>

<div id="choices-frameworksminor-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="choices-frameworksminor-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Framework</th>
        <th class="text-left pr-2">Percentage of respondents who use this</th>
        <th class="text-left pr-2">Satisfaction score</th>
        <th class="text-left pr-2">Awareness</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. Nest</td>
        <td>8.8%</td>
        <td>2.6</td>
        <td>59.9%</td>
      </tr>
      <tr>
        <td>2. VuePress</td>
        <td>8.8%</td>
        <td>2.4</td>
        <td>62.3%</td>
      </tr>
      <tr>
        <td>3. Gridsome</td>
        <td>8.5%</td>
        <td>1.6</td>
        <td>54.2%</td>
      </tr>
      <tr>
        <td>4. SvelteKit</td>
        <td>8.1%</td>
        <td>6.0</td>
        <td>58.1%</td>
      </tr>
      <tr>
        <td>5. Backbone</td>
        <td>7.8%</td>
        <td>0.3</td>
        <td>76.5%</td>
      </tr>
      <tr>
        <td>6. Meteor</td>
        <td>6.5%</td>
        <td>0.5</td>
        <td>69.5%</td>
      </tr>
      <tr>
        <td>7. Docusaurus</td>
        <td>6.2%</td>
        <td>1.9</td>
        <td>50.5%</td>
      </tr>
      <tr>
        <td>8. Sapper</td>
        <td>6.1%</td>
        <td>1.2</td>
        <td>45.1%</td>
      </tr>
      <tr>
        <td>9. Hapi</td>
        <td>5.6%</td>
        <td>1.3</td>
        <td>52.7%</td>
      </tr>
      <tr>
        <td>10. Ember</td>
        <td>5.3%</td>
        <td>0.7</td>
        <td>78.2%</td>
      </tr>
      <tr>
        <td>11. Stencil</td>
        <td>4.3%</td>
        <td>1.8</td>
        <td>43.8%</td>
      </tr>
      <tr>
        <td>12. RedwoodJS</td>
        <td>4.3%</td>
        <td>1.8</td>
        <td>48.9%</td>
      </tr>
      <tr>
        <td>13. Clojure</td>
        <td>3.6%</td>
        <td>1.5</td>
        <td>68.1%</td>
      </tr>
      <tr>
        <td>14. Hexo</td>
        <td>3.4%</td>
        <td>0.8</td>
        <td>43.2%</td>
      </tr>
      <tr>
        <td>15. Blitz.js</td>
        <td>3.3%</td>
        <td>2.0</td>
        <td>50.3%</td>
      </tr>
      <tr>
        <td>16. Dojo</td>
        <td>2.9%</td>
        <td>0.9</td>
        <td>51.5%</td>
      </tr>
      <tr>
        <td>17. Remix</td>
        <td>2.4%</td>
        <td>1.4</td>
        <td>43.0%</td>
      </tr>
    </tbody>
  </table>
</details>


<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Frameworks by 1-year change in usage and satisfaction</h4>
</div>

<div id="choices-frameworksdelta-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="choices-frameworksdelta-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">CMS</th>
        <th class="text-left pr-2">Usage change (%)</th>
        <th class="text-left pr-2">Satisfaction change</th>
        <th class="text-left pr-2">Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. React</td>
        <td>5.7%</td>
        <td>0.2</td>
        <td>68.1%</td>
      </tr>
      <tr>
        <td>2. Express</td>
        <td>5.3%</td>
        <td>-0.4</td>
        <td>51.3%</td>
      </tr>
      <tr>
        <td>3. jQuery</td>
        <td>-1.2%</td>
        <td>0.1</td>
        <td>50.8%</td>
      </tr>
      <tr>
        <td>4. Next.js</td>
        <td>22.2%</td>
        <td>0.9</td>
        <td>43.2%</td>
      </tr>
      <tr>
        <td>5. Vue</td>
        <td>1.9%</td>
        <td>-0.6</td>
        <td>39.4%</td>
      </tr>
      <tr>
        <td>6. Gatsby</td>
        <td>-2.9%</td>
        <td>-2.5</td>
        <td>36.9%</td>
      </tr>
      <tr>
        <td>7. Nuxt.js</td>
        <td>5.2%</td>
        <td></td>
        <td>24.8%</td>
      </tr>
      <tr>
        <td>8. Angular 2+</td>
        <td>1.8%</td>
        <td>0.2</td>
        <td>19.9%</td>
      </tr>
      <tr>
        <td>9. 11ty</td>
        <td>7.0%</td>
        <td>-7.2</td>
        <td>17.4%</td>
      </tr>
      <tr>
        <td>10. Jekyll</td>
        <td>-2.4%</td>
        <td>-0.1</td>
        <td>16.5%</td>
      </tr>
      <tr>
        <td>11. Angular 1.x</td>
        <td>-0.7%</td>
        <td>0.1</td>
        <td>15.3%</td>
      </tr>
      <tr>
        <td>12. Hugo</td>
        <td>0.1%</td>
        <td>-0.4</td>
        <td>14.8%</td>
      </tr>
      <tr>
        <td>13. Svelte</td>
        <td>3.4%</td>
        <td>-1.4</td>
        <td>14.4%</td>
      </tr>
      <!--<tr>
        <td>14. Vite</td>
        <td></td>
        <td></td>
        <td>14.2%</td>
      </tr>-->
      <tr>
        <td>14. Preact</td>
        <td>2.9%</td>
        <td>-4.0</td>
        <td>10.5%</td>
      </tr>
      <tr>
        <td>15. Nest</td>
        <td>4.5%</td>
        <td>-5.3</td>
        <td>8.8%</td>
      </tr>
      <tr>
        <td>16. VuePress</td>
        <td>1.1%</td>
        <td>-2.5</td>
        <td>8.8%</td>
      </tr>
    </tbody>
  </table>
</details>


<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Third party services by usage</h4>
</div>

<div id="choices-thirdparty-chart" class="d3chart-placeholder"></div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="choices-thirdparty-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">API</th>
        <th class="text-left pr-2">Most used</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>User authentication</td>
        <td>55%</td>
      </tr>
      <tr>
        <td>Headless CMS</td>
        <td>53%</td>
      </tr>
      <tr>
        <td>Asset/Image management</td>
        <td>45%</td>
      </tr>
      <tr>
        <td>Headless database</td>
        <td>36%</td>
      </tr>
      <tr>
        <td>Headless e-commerce</td>
        <td>24%</td>
      </tr>
    </tbody>
  </table>
</details>