<p>The world is changing, and the Jamstack—and the developers who use it—is changing with it. Based on what you’ve told us this year, we’ve observed shifts within our developer community. What these changes tell us paints a picture of a world in which more people are coming to our community as new developers, often as students; some of the largest web sites and apps are built on the Jamstack; and more and more industries are represented in Jamstack development.</p>

<p>In other words, the Jamstack is touching all industries. We’ve gone mainstream as more developers learn about Jamstack. It’s the new way to build applications and websites, and it’s where the industry is going. Even more, it’s a thriving community that is growing fast as a wave of mainstream adoption continues, driven by fantastic scaling, high performance, and workflows and tooling that developers love.</p>

<p>Thank you for being part of the Jamstack community again this year. Join us and thousands of developers virtually at <a href="https://jamstackconf.com/">Jamstack Conf 2021</a> to learn how Jamstack started, where it’s going, and what’s next for our community.</p>

<p class="font-semibold">Learn more:</p>

<ul class="list-disc ml-8 mt-2 mb-32">
  <li><a href="https://jamstackconf.com/">Join us at the free Jamstack Conf</a>, October 6-7</li>
  <li>Read a summary of the <a href="https://www.netlify.com/blog/2021/10/06/first-look-announcing-jamstack-community-survey-2021-results/">results on the Netlify blog</a> or <a href="https://www.netlify.com/press/jamstack-web-development-community-is-booming-new-netlify-report-reveals">press release</a></li>
  <li><a href="https://explorers.netlify.com/">Take free technical courses and become a Jamstack Explorer</a></li>
  <li><a href="https://www.netlify.com/resources/">Check out other webinars, guides, e-books, and more</a></li>
  <li><a href="https://jamstack.org/slack">Discuss and share feedback in the <code>#jamstack-community-survey</code> channel in the Jamstack Slack</a></li>
</ul>

<a href="/survey/2021/community-survey-2021-methodology.pdf">To review the in-depth methodology, review this document.</a>