<h3 class="text-2xl font-semibold my-4">Jobs</h3>

<h4 class="text-xl my-4">Jamstack has become the way students learn to deploy.</h4>

<p>Between 2020 and 2021, we didn’t see much change in our mix of developer and non-developer respondents. That’s good news—it means we’re sampling the same population both years, and the changes we’re noticing in other parts of the survey are <em>real</em> changes, and not just statistical noise.</p>

<div class="mt-16 flex justify-between" id="demographics-jobs">
  <h4 class="text-xl font-semibold">Developers and non-developers</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="demographics-jobs-chart" class="d3chart-placeholder"></div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="demographics-jobs-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">People</th>
        <th class="text-left pr-2">2020</th>
        <th class="text-left pr-2">2021</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Developers</td>
        <td>79%</td>
        <td>81%</td>
      </tr>
      <tr>
        <td>Non-developers</td>
        <td>21%</td>
        <td>19%</td>
      </tr>
    </tbody>
  </table>
</details>

<p>This year, we asked respondents to specifically identify themselves as front-end, back-end, or full-stack developers. It’s not surprising that in a Jamstack survey, the vast majority of devs identified as front-end or full-stack.</p>

<div class="mt-16 flex justify-between" id="demographics-jobtitle">
  <h4 class="text-xl font-semibold">Job title</h4>
  <p class="pl-16">Percentage of survey participants</p>
</div>

<div id="demographics-jobtitle-chart" class="d3chart-placeholder"></div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="demographics-jobtitle-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Job Title</th>
        <th class="text-left pr-2">Percentage of Survey Participants</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Developer: Front-end</td>
        <td>45%</td>
      </tr>
      <tr>
        <td>Developer: Full Stack</td>
        <td>32%</td>
      </tr>
      <tr>
        <td>Management</td>
        <td>6%</td>
      </tr>
      <tr>
        <td>Other</td>
        <td>5%</td>
      </tr>
      <tr>
        <td>Developer: Back-end</td>
        <td>5%</td>
      </tr>
      <tr>
        <td>Designer</td>
        <td>4%</td>
      </tr>
      <tr>
        <td>Content Producer</td>
        <td>2%</td>
      </tr>
      <tr>
        <td>DevOps</td>
        <td>2%</td>
      </tr>
    </tbody>
  </table>
</details>

<p>Here’s where we saw a huge change. When we asked about people’s employment status, we saw a big shift in 2021—the portion of our respondents who are students nearly doubled. We’ll discuss the reasons for this change later on in the report, but needless to say, the effects of the pandemic are one factor responsible for the increase in students.</p>

<div class="mt-16 flex justify-between" id="demographics-employmentstatus">
  <h4 class="text-xl font-semibold">Employment Status</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="demographics-employmentstatus-chart" class="d3chart-placeholder d3chart-placeholder-large"></div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="demographics-employmentstatus-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Employment Status</th>
        <th class="text-left pr-2">2020</th>
        <th class="text-left pr-2">2021</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Full-time</td>
        <td>69%</td>
        <td>60%</td>
      </tr>
      <tr>
        <td>Student</td>
        <td>9%</td>
        <td>16%</td>
      </tr>
      <tr>
        <td>Contractor</td>
        <td>11%</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>Part-time</td>
        <td>4%</td>
        <td>5%</td>
      </tr>
      <tr>
        <td>Unemployed</td>
        <td>4%</td>
        <td>5%</td>
      </tr>
      <tr>
        <td>Between jobs</td>
        <td>4%</td>
        <td>3%</td>
      </tr>
      <tr>
        <td>Retired</td>
        <td>0%</td>
        <td>1%</td>
      </tr>
    </tbody>
  </table>
</details>

<p>We found more interesting data in job statistics in two other breakouts:</p>

<ul class="list-disc ml-8 mt-2 mb-32">
  <li><a href="#breakout-2">Breakout 2: Job titles and employment of remote workers</a></li>
  <li><a href="#breakout-3">Breakout 3: People who build websites for millions of users</a></li>
</ul>