<h3 class="text-2xl font-semibold my-4">Jobs</h3>

<h4 class="text-xl my-4 max-w-md">2021 saw an influx in students, as the Jamstack community continues to grow and thrive.</h4>

<p>Between 2020 and 2021, we didn’t see much change in our mix of developer and non-developer respondents. That’s good news—it means we’re sampling the same population both years, and the changes we’re noticing in other parts of the survey are real changes, and not just statistical noise.</p>

<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Developers and non-developers</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="demographics-jobs-chart" class="d3chart-placeholder"></div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="demographics-jobs-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">People</th>
        <th class="text-left pr-2">2020</th>
        <th class="text-left pr-2">2021</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Developers</td>
        <td>79%</td>
        <td>81%</td>
      </tr>
      <tr>
        <td>Non-developers</td>
        <td>21%</td>
        <td>19%</td>
      </tr>
    </tbody>
  </table>
</details>

<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Job title</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="demographics-jobtitle-chart" class="d3chart-placeholder"></div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="demographics-jobtitle-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Job Title</th>
        <th class="text-left pr-2">Percentage of Survey Participants</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Developer: Front-end</td>
        <td>45%</td>
      </tr>
      <tr>
        <td>Developer: Full Stack</td>
        <td>32%</td>
      </tr>
      <tr>
        <td>Management</td>
        <td>6%</td>
      </tr>
      <tr>
        <td>Other</td>
        <td>5%</td>
      </tr>
      <tr>
        <td>Developer: Back-end</td>
        <td>5%</td>
      </tr>
      <tr>
        <td>Designer</td>
        <td>4%</td>
      </tr>
      <tr>
        <td>Content Producer</td>
        <td>2%</td>
      </tr>
      <tr>
        <td>DevOps</td>
        <td>2%</td>
      </tr>
    </tbody>
  </table>
</details>

<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Employment Status</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="demographics-employmentstatus-chart" class="d3chart-placeholder"></div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="demographics-employmentstatus-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Employment Status</th>
        <th class="text-left pr-2">2020</th>
        <th class="text-left pr-2">2021</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Full-time</td>
        <td>69%</td>
        <td>60%</td>
      </tr>
      <tr>
        <td>Student</td>
        <td>9%</td>
        <td>16%</td>
      </tr>
      <tr>
        <td>Contractor</td>
        <td>11%</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>Part-time</td>
        <td>4%</td>
        <td>5%</td>
      </tr>
      <tr>
        <td>Unemployed</td>
        <td>4%</td>
        <td>5%</td>
      </tr>
      <tr>
        <td>Between jobs</td>
        <td>4%</td>
        <td>3%</td>
      </tr>
      <tr>
        <td>Retired</td>
        <td>0%</td>
        <td>1%</td>
      </tr>
    </tbody>
  </table>
</details>
