<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Years of Experience, 2020 vs. 2021</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="experience-years-chart" class="d3chart-placeholder"></div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="experience-years-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Years of Experience</th>
        <th class="text-left pr-2">2020</th>
        <th class="text-left pr-2">2021</th>
      </tr>
    </thead>
    <tbody>
       <tbody>
        <tr><td>Less than 1</td><td>4%</td><td>13%</td></tr>
        <tr><td>1–2</td><td>13%</td><td>19%</td></tr>
        <tr><td>3–4</td><td>20%</td><td>18%</td></tr>
        <tr><td>5–6</td><td>15%</td><td>12%</td></tr>
        <tr><td>7–8</td><td>9%</td><td>7%</td></tr>
        <tr><td>9–10</td><td>12%</td><td>8%</td></tr>
        <tr><td>11–12</td><td>5%</td><td>5%</td></tr>
        <tr><td>13–14</td><td>5%</td><td>3%</td></tr>
        <tr><td>15+</td><td>17%</td><td>14%</td></tr>
      </tbody>
    </tbody>
  </table>
</details>

<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Years of Experience, by region</h4>
</div>

<div id="experience-region-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap"></div>
</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="experience-region-table" class="w-full table-auto border-collapse">
    <thead class="text-sm">
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Years of Experience</th>
        <th class="text-left pr-2">Africa</th>
        <th class="text-left pr-2">Asia Pacific</th>
        <th class="text-left pr-2">Caribbean</th>
        <th class="text-left pr-2">Central America</th>
        <th class="text-left pr-2">Eastern Asia</th>
        <th class="text-left pr-2">Europe</th>
        <th class="text-left pr-2">Middle East</th>
        <th class="text-left pr-2">North America</th>
        <th class="text-left pr-2">South America</th>
        <th class="text-left pr-2">Southern Asia</th>
      </tr>
    </thead>
    <tbody>
       <tbody>
        <tr>
          <td>&lt;1</td>
          <td>5.32%</td>
          <td>17.02%</td>
          <td>0.53%</td>
          <td>2.13%</td>
          <td>2.13%</td>
          <td>27.66%</td>
          <td>0%</td>
          <td>23.94%</td>
          <td>8.51%</td>
          <td>12.77%</td>
        </tr>
        <tr>
          <td>1–2</td>
          <td>7.49%</td>
          <td>12.75%</td>
          <td>0.81%</td>
          <td>1.21%</td>
          <td>2.43%</td>
          <td>32.39%</td>
          <td>0.81%</td>
          <td>25.91%</td>
          <td>7.69%</td>
          <td>8.5%</td>
        </tr>
        <tr>
          <td>3–4</td>
          <td>5.09%</td>
          <td>9.86%</td>
          <td>1.11%</td>
          <td>1.11%</td>
          <td>1.75%</td>
          <td>38.16%</td>
          <td>1.43%</td>
          <td>28.78%</td>
          <td>5.88%</td>
          <td>6.84%</td>
        </tr>
        <tr>
          <td>5–6</td>
          <td>2.48%</td>
          <td>9.5%</td>
          <td>0.41%</td>
          <td>0.62%</td>
          <td>0.41%</td>
          <td>44.01%</td>
          <td>1.45%</td>
          <td>32.85%</td>
          <td>4.13%</td>
          <td>4.13%</td>
        </tr>
        <tr>
          <td>7–8</td>
          <td>1.28%</td>
          <td>8.97%</td>
          <td>0.64%</td>
          <td>0.00%</td>
          <td>1.28%</td>
          <td>42.31%</td>
          <td>0.96%</td>
          <td>34.62%</td>
          <td>7.05%</td>
          <td>2.88%</td>
        </tr>
        <tr>
          <td>9–10</td>
          <td>2.88%</td>
          <td>5.48%</td>
          <td>0.29%</td>
          <td>0.58%</td>
          <td>0.86%</td>
          <td>46.11%</td>
          <td>1.73%</td>
          <td>34.87%</td>
          <td>5.19%</td>
          <td>2.02%</td>
        </tr>
        <tr>
          <td>11–12</td>
          <td>1.35%</td>
          <td>9.01%</td>
          <td>0%</td>
          <td>1.8%</td>
          <td>0.45%</td>
          <td>43.24%</td>
          <td>0.45%</td>
          <td>37.84%</td>
          <td>4.95%</td>
          <td>0.9%</td>
        </tr>
        <tr>
          <td>13–14</td>
          <td>0.76%</td>
          <td>9.09%</td>
          <td>0%</td>
          <td>0.76%</td>
          <td>0%</td>
          <td>40.91%</td>
          <td>2.27%</td>
          <td>40.91%</td>
          <td>3.79%</td>
          <td>1.52%</td>
        </tr>
        <tr>
          <td>15+</td>
          <td>1.08%</td>
          <td>6.92%</td>
          <td>0.15%</td>
          <td>0.46%</td>
          <td>0.77%</td>
          <td>45.08%</td>
          <td>1.23%</td>
          <td>40.15%</td>
          <td>2.77%</td>
          <td>1.38%</td>
        </tr>
      </tbody>
    </tbody>
  </table>
</details>
