<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Most targeted devices: How important are these device types for you?</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="workflows-devices-chart" class="d3chart-placeholder"></div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="workflows-devices-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Target</th>
        <th class="text-left pr-2">Very</th>
        <th class="text-left pr-2">Somewhat</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Desktop browsers</td><td>84%</td><td>14%</td></tr>
      <tr><td>Phones</td><td>71%</td><td>24%</td></tr>
      <tr><td>Tables</td><td>41%</td><td>50%</td></tr>
      <tr><td>Watches / IoT</td><td>7%</td><td>18%</td></tr>
    </tbody>
  </table>
</details>

<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">What is the most important when building a website?</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="workflows-priorities-chart" class="d3chart-placeholder"></div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="workflows-priorities-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Priority</th>
        <th class="text-left pr-2">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Performance</td><td>4.54</td></tr>
      <tr><td>Uptime</td><td>3.87</td></tr>
      <tr><td>Security</td><td>3.61</td></tr>
      <tr><td>Dev Speed</td><td>3.38</td></tr>
      <tr><td>Compliance</td><td>3.08</td></tr>
      <tr><td>Avoid lock-in</td><td>2.56</td></tr>
    </tbody>
  </table>
</details>

<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Design tools: usage vs. satisfaction</h4>
</div>

<div id="workflows-design-chart" class="d3chart-placeholder"></div>

<div class="mt-2">
  <div class="d3chart-legend-placeholder d3chart-legend-wrap"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="workflows-design-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Design tool</th>
        <th class="text-left pr-2">Percentage of respondents who use this</th>
        <th class="text-left pr-2">Satisfaction score</th>
        <th class="text-left pr-2">Awareness</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. Figma</td>
        <td>62.3%</td>
        <td>8.8</td>
        <td>90.49%</td>
      </tr>
      <tr>
        <td>2. Framer</td>
        <td>10.82%</td>
        <td>2.2</td>
        <td>52.67%</td>
      </tr>
      <tr>
        <td>3. Adobe XD</td>
        <td>36.27%</td>
        <td>1.4</td>
        <td>88.07%</td>
      </tr>
      <tr>
        <td>4. Balsamiq</td>
        <td>14.46%</td>
        <td>1.0</td>
        <td>58.27%</td>
      </tr>
      <tr>
        <td>5. Sketch</td>
        <td>32.59%</td>
        <td>1.0</td>
        <td>81.69%</td>
      </tr>
      <tr>
        <td>6. Zeplin</td>
        <td>20.11%</td>
        <td>0.9</td>
        <td>55.92%</td>
      </tr>
      <tr>
        <td>7. InVision</td>
        <td>24.90%</td>
        <td>0.8</td>
        <td>67.19%</td>
      </tr>
    </tbody>
  </table>
</details>

<div class="mt-16 flex justify-between">
  <h4 class="text-xl font-semibold">Types of editors: used vs. satisfaction</h4>
</div>

<div id="workflows-editors-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="my-4">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="workflows-editors-table" class="w-full table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Editor</th>
        <th class="text-left pr-2">Satisfaction</th>
        <th class="text-left pr-2">Usage</th>
        <th class="text-left pr-2">Awareness</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. IDEs</td>
        <td>15.6</td>
        <td>95.89%</td>
        <td>99.3%</td>
      </tr>
      <tr>
        <td>2. Web-based</td>
        <td>2.6</td>
        <td>47.47%</td>
        <td>97.28%</td>
      </tr>
      <tr>
        <td>3. Vim etc.</td>
        <td>1.4</td>
        <td>42.32%</td>
        <td>96.98%</td>
      </tr>
      <tr>
        <td>4. Plain text</td>
        <td>0.7</td>
        <td>25.66%</td>
        <td>94.12%</td>
      </tr>
    </tbody>
  </table>
</details>
