<h3 class="text-2xl font-semibold my-4">Devices you target</h3>

<h4 class="text-xl my-4">The desktop still reigns</h4>

<p>Industry thought leaders have been beating the “mobile-first” drum for years now, but is the industry actually listening? We asked how important it is for the sites devs build to work on four main categories of devices.</p>

<div class="mt-16 flex justify-between" id="workflows-devices">
  <h4 class="text-xl font-semibold">Most targeted devices: How important are these device types for you?</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="workflows-devices-chart" class="d3chart-placeholder"></div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="workflows-devices-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Target</th>
        <th class="text-left pr-2">Very</th>
        <th class="text-left pr-2">Somewhat</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Desktop browsers</td><td>84%</td><td>14%</td></tr>
      <tr><td>Phones</td><td>71%</td><td>24%</td></tr>
      <tr><td>Tablets</td><td>41%</td><td>50%</td></tr>
      <tr><td>Watches / IoT</td><td>7%</td><td>18%</td></tr>
    </tbody>
  </table>
</details>

<p>Despite the talk of “mobile-first,” desktop remains Jamstack devs’ most-targeted category, although phones are close behind. The gap between the two has narrowed very slightly since 2020.</p>
<p>Another interesting finding is how priorities shift. Desktops are very important for nearly everybody, but when it comes to tablets, more than half of developers who pay attention to them as a target think they’re only somewhat important.</p>
<p>In our <a href="#breakout-3">breakout on people who build large websites</a>, we found an interesting correlation to the importance of mobile devices as a target.</p>

<h3 class="text-2xl font-semibold mt-32 mb-4">Priorities</h3>

<h4 class="text-xl my-4">Jamstack developers are taking security more seriously</h4>

<p>All developers will agree that it’s important that your website is fast, secure, and has high uptime. But a different question to ask is: Which of these is the <em>most</em> important quality?</p>

<div class="mt-16 flex justify-between" id="workflows-priorities">
  <h4 class="text-xl font-semibold">What is the most important when building a website?</h4>
  <div class="d3chart-legend-placeholder"></div>
</div>

<div id="workflows-priorities-chart" class="d3chart-placeholder"></div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="workflows-priorities-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Priority</th>
        <th class="text-left pr-2">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Performance</td><td>4.54</td></tr>
      <tr><td>Uptime</td><td>3.87</td></tr>
      <tr><td>Security</td><td>3.61</td></tr>
      <tr><td>Dev Speed</td><td>3.38</td></tr>
      <tr><td>Compliance</td><td>3.08</td></tr>
      <tr><td>Avoid lock-in</td><td>2.56</td></tr>
    </tbody>
  </table>
</details>

<p>Last year, we noted that speed of development was a higher priority than security. This year, in a statistically significant shift, those factors were reversed. Jamstack developers are taking security more seriously than they did a year ago.</p>

<p>Performance and uptime continue to be the top priorities for developers.</p>

<h3 class="text-2xl font-semibold mt-32 mb-4">Which design tool stands out for Jamstack designers?</h3>

<h4 class="text-xl my-4">There’s no contest. Jamstack designers love Figma.</h4>

<p>A substantial population of designers responded to our survey, so in addition to asking about development tools, we also ask about design tools. The story in 2021 is the same as last year: Everybody uses Figma, and everybody loves it.</p>

<p>60% of respondents use Figma. Its satisfaction score is 8.8, meaning 8 times more people want to increase their usage than want to stop using it.</p>

<p>It’s getting kind of embarrassing for everyone clustered over there in the bottom left…</p>

<div class="mt-16 flex justify-between" id="workflows-design">
  <h4 class="text-xl font-semibold">Design tools: usage vs. satisfaction</h4>
</div>

<div id="workflows-design-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="workflows-design-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Design tool</th>
        <th class="text-left pr-2">Percentage of respondents who use this</th>
        <th class="text-left pr-2">Satisfaction score</th>
        <th class="text-left pr-2">Awareness</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. Figma</td>
        <td>62.3%</td>
        <td>8.8</td>
        <td>90.49%</td>
      </tr>
      <tr>
        <td>2. Framer</td>
        <td>10.82%</td>
        <td>2.2</td>
        <td>52.67%</td>
      </tr>
      <tr>
        <td>3. Adobe XD</td>
        <td>36.27%</td>
        <td>1.4</td>
        <td>88.07%</td>
      </tr>
      <tr>
        <td>4. Balsamiq</td>
        <td>14.46%</td>
        <td>1.0</td>
        <td>58.27%</td>
      </tr>
      <tr>
        <td>5. Sketch</td>
        <td>32.59%</td>
        <td>1.0</td>
        <td>81.69%</td>
      </tr>
      <tr>
        <td>6. Zeplin</td>
        <td>20.11%</td>
        <td>0.9</td>
        <td>55.92%</td>
      </tr>
      <tr>
        <td>7. InVision</td>
        <td>24.90%</td>
        <td>0.8</td>
        <td>67.19%</td>
      </tr>
    </tbody>
  </table>
</details>

<h3 class="text-2xl font-semibold mt-32 mb-4">Developers’ favorite code editors</h3>

<h4 class="text-xl my-4">An ambiguous question unintentionally gave us valuable insights. Jamstack developers love CMS editors.</h4>

<p>This is the first year we’ve asked about the kinds of editors developers use. We were curious about the growth in popularity of web-based code editors, including products like Glitch and GitHub’s Codespace.</p>

<p>However, we mistakenly presented an ambiguous question. A “web-based editor” can also mean a CMS editor, like WordPress. And since CMSes are very popular, developers answering that question dominated the results: The more you use a CMS, the more likely you are to answer that you used a web-based editor.</p>

<p>But this in itself is a fun result! The popularity of CMSes means more people use web-based editors than traditional editors like Vim.</p>

<p>However, integrated development environments (IDEs) are by far the most popular option and have the highest levels of satisfaction by a long shot.</p>

<div class="mt-16 flex justify-between" id="workflows-editors">
  <h4 class="text-xl font-semibold">Types of editors: usage vs. satisfaction</h4>
</div>

<div id="workflows-editors-chart" class="d3chart-placeholder"></div>

<div>
  <div class="d3chart-legend-placeholder d3chart-legend-wrap mt-4"></div>
</div>

<div class="text-center my-2">Source: Jamstack Community Survey 2020—2021</div>

<details class="mt-4 mb-32">
  <summary class="text-sm mb-2">Show Chart Data</summary>
  <table id="workflows-editors-table" class="table-auto border-collapse">
    <thead>
      <tr class="bg-gray-700 border-b-2">
        <th class="text-left pr-2">Editor</th>
        <th class="text-left pr-2">Percentage of respondents who use this</th>
        <th class="text-left pr-2">Satisfaction score</th>
        <th class="text-left pr-2">Awareness</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. IDEs</td>
        <td>95.89%</td>
        <td>15.6</td>
        <td>99.3%</td>
      </tr>
      <tr>
        <td>2. Web-based</td>
        <td>47.47%</td>
        <td>2.6</td>
        <td>97.28%</td>
      </tr>
      <tr>
        <td>3. Vim etc.</td>
        <td>42.32%</td>
        <td>1.4</td>
        <td>96.98%</td>
      </tr>
      <tr>
        <td>4. Plain text</td>
        <td>25.66%</td>
        <td>0.7</td>
        <td>94.12%</td>
      </tr>
    </tbody>
  </table>
</details>
