<div class="flex flex-wrap justify-between items-center p-4">
  <a class="cta mr-auto" href="https://hopin.com/events/jamstack-2022">Watch Jamstack Conf <span>live</span></a>
  <label class="color-theme-selector-wrapper" data-color-theme-selector>
    <svg class="color-theme-selector-wrapper-icon fill-current" role="img" focusable="false">
      <use xlink:href="#icon-color-theme-system"></use>
    </svg>
    <span class="sr-only">Color theme</span>
    <select>
      <option selected value="system">System</option>
      <option value="dark">Dark</option>
      <option value="light">Light</option>
    </select>
  </label>
</div>