<div class="flex items-center justify-end p-4">
  <label class="color-theme-selector-wrapper" data-color-theme-selector>
    <svg class="color-theme-selector-wrapper-icon fill-current" role="img" focusable="false">
      <use xlink:href="#icon-color-theme-system"></use>
    </svg>
    <span class="sr-only">Color theme</span>
    <select>
      <option selected value="system">System</option>
      <option value="dark">Dark</option>
      <option value="light">Light</option>
    </select>
  </label>
</div>