<div class="flex justify-end p-4">
  <label class="color-theme-selector-wrapper inline-flex invisible" data-color-theme-selector>
    <span class="sr-only">Color theme</span>
    <select class="text-black py-1 px-2 rounded-default border border-gray-200 dark:border-transparent bg-white">
      <option selected value="system">System</option>
      <option value="dark">Dark</option>
      <option value="light">Light</option>
    </select>
  </label>
</div>
