<a href="https://jamstack.org/slack" target="_BLANK" rel="noopener" class="block mb-4 md:inline-block bg-gradient-pink-orange border-none py-5 rounded-lg rounded-tr-none text-center hover:text-black">
  <svg role="img" aria-label="Slack" aria-hidden="true" focusable="false" width="30" height="30" class="mx-auto"><use xlink:href="#logo-slack"></use></svg>
  <p class="font-bold mt-2">
    Join the JamSlack
  </p>
</a>
