  <a href="{{ item.link }}" target="_BLANK" rel="noopener" class="mb-4 border-solid border-2 rounded pt-2 bg-gray-600 block">
    <img src="{{ item.thumbnailurl }}" loading="lazy" alt="Screenshot of {{ item.title}}" class="border-t-2">
  </a>


