<li class="mt-4">
  <h4 class="text-lg font-bold"><a href="{{ item.link }}" rel="noopener" target="_BLANK">{{ item.title }}</a></h4>
  <p class="text-gray-600 text-xs">{{ item.link }}</p>
  <p class="text-gray-400 text-xs mt-0">Tools: {{ item.tools | join(", ", "tool") }}</p>
</li>



