{% import "components/zinger-cta.njk" as zinger %}

<section class="text-center mb-20">
  <h2>Join the Movement</h2>
  <p class="md:w-8/12 mx-auto mt-6 mb-8">
    The conversation about Jamstack is happening right now. Join thousands of developers on Twitter, in global meetup groups and in the official Jamstack community slack.
  </p>
  <div class="lg:w-2/3 mx-auto md:grid md:grid-cols-2 md:gap-6 lg:gap-8">
    {{ zinger.cta(
        "Join the Slack",
        "https://jamstack.org/slack",
        "bg-gradient-card-sunrise card-shadow hover:card-shadow-sunrise",
        "#logo-slack"
        )
    }}
    {{ zinger.cta(
        "Join Upcoming Events",
        "/community",
        "bg-gradient-card-blue-seafoam card-shadow hover:card-shadow-blue-seafoam",
        "#gem-jamstack"
        )
    }}
  </div>
</section>
