<section class="text-center mb-20">
  <h2 class="font-bold text-3xl">Join the Movement</h2>
  <p class="md:w-8/12 mx-auto mt-6 mb-8">
    The conversation about Jamstack is happening right now. Join thousands of developers on Twitter, in global meetup groups and in the official Jamstack community slack.
  </p>
  <div class="lg:w-2/3 mx-auto md:grid md:grid-cols-2 md:gap-4 lg:gap-8">
    {% include "components/cta-zinger-jamslack.njk" %}
    {% include "components/cta-zinger-events.njk" %}
  </div>
</section>
