{% macro heading(title, icon, description ) %}
  <h2 class="text-3xl mt-0 mb-2 text-white text-bold md:text-4xl md:mt-12">
    <img src="/img/svg/{{ icon }}" class="inline-block" />
    {{ title }}
  </h2>
  <p class="text-md font-bold inline-block bg-pink-900 text-white p-y px-2 mb-4 md:text-lg leading-relaxed">
    {{ description | safe }}
  </p>
{% endmacro %}




{% macro benefit(title, icon, description ) %}

  <img src="/img/svg/{{ icon }}" class="pr-6 " alt="{{ title }}" />
  <div class="w-5/6 mb-12">
    <h3 class="text-xl text-bold mt-0 mb-2 text-white text-bold md:text-3xl">
      {{ title }}
    </h3>
    <div class="text-blue-100">
      {{ description | safe }}
    </div>
  </div>
{% endmacro %}





