---
title: Meetups
layout: default
---

<section>
  <h1>Meetups</h1>
  <p>
    Find one / Join one / Start one...
  </p>
</section>

<section>
  <h2>Find your local Jamstack meetup</h2>
  <p>
    Listing of the meetups. Maybe a map? ooooh.
  </p>
</section>

<section>
  <h2>BYO Meetup?</h2>
  <p>
    Can't find one nearby? Maybe you wnat to <a href="/community/meetups/organize">start a Jamstack Meetup</a> yourself?
  </p>
</section>



