---
title: Meetups
layout: default
---

<section>
  <h1>Meetups</h1>
  <p>
    Find one / Join one / Start one...
  </p>
</section>


<section class="tout tout-bright">
  <h2>Join the conversation on Slack</h2>
  <p class="subtitle">Join <b>252</b> other JAMstackers in Slack</p>
  <p>Got a question or just want to chat? Speak with leaders in the space about all things JAMstack in the <a href="/slack" target="_BLANK" rel="noopener">JAMstack community Slack</a>.</p>
  <p>
    <a href="/slack" target="_BLANK" rel="noopener" class="cta">Join the JAMslack!</a>
  </p>
</section>

<section>
  <h2>JAMstack meetups</h2>
  <p>
    People all around the world are gathering to talk about the JAMstack at meetups.
  </p>
  <ul>
    <li><a href="/meetups/organize">Organize a JAMstack Meetup</a></li>
    <li><a href="/meetups">Find a JAMstack Meetup near you</a></li>
  </ul>
</section>



