---
title: Resources / Articles
layout: layouts/base.njk
---

<section class="mt-20">
  <h1 class="heading">Resources / Articles</h1>
  <p>
    Learn more about the architecture changing modern web development
  </p>
  <p>
    More and more people are talking about the Jamstack. We've curated some of our favorite resources here to help you get started, and to learn more about how people are using the Jamstack.
  </p>
  <p>
    Terminology can sometimes be confusing. Take a look at <a href="/glossary">the glossary</a> for if some of the lagugage being used needs some clarification.
  </p>
</section>


<section>
  <h2 class="heading">Featured articles and resources</h2>
  <p>
    Selected recent articles and case studies of Jamstack implementations.
  </p>
  <ul class="mt-12">

  {% for item in collections.resources | featured | whereData("type=article") | luckydip(6)  %}
    {% include "components/resource-link.njk" %}
  {% endfor %}
  </ul>
</section>


<section>
  <h2 class="heading">More articles and resources</h2>
  <p>
    Selected recent articles and case studies of Jamstack implementations.
  </p>
  <ul class="mt-12">
  {% for item in collections.resources | whereData("type=article") %}
    {% include "components/resource-link.njk" %}
  {% endfor %}
  </ul>
</section>

<section class="mt-12">
  <h2 class="heading">Contribute</h2>
  <p>
    If you know of a article or a resource which could help people understand how to get the best out of the Jamstack,
    you can contribute it to this list by <a href="{{ pkg.repository.url }}" target="_BLANK" rel="noopener">opening a pull request</a>.
  </p>
</section>
