---
title: Resources / Videos and Presentations
layout: layouts/base.njk
---

<section class="p-8 pb-12 mb-6 ">
  <h1 class="text-white font-bold text-5xl leading-tight">Videos and Presentations</h1>
  <p class="text-xl text-gray-500 leading-tight mb-6 ">
   Learn more about the architecture changing modern web development
  </p>
  <p>
    More and more people are talking about the Jamstack. We've curated some of our favorite resources here to help you get started, and to learn more about how people are using the Jamstack.
  </p>
</section>


<section>
  <h2 class="heading">Featured videos and presentations</h2>
  <p>
    These are great presentations to help understand what the Jamstack is, and how it can be used to great effect.
  </p>
  <div class="mt-6 flex flex-wrap justify-around lg:justify-between">
    {% for item in resources | iterable | selectattr("featured") | select("type=video") | luckydip(3)  %}
      {% include "components/thumbnail-link.njk" %}
    {% endfor %}
  </div>
</section>

<section>
  <h2 class="heading">All videos and presentations</h2>
  <p>
    These are great presentations to help understand what the Jamstack is, and how it can be used to great effect.
  </p>
  <div class="mt-6 flex flex-wrap justify-around lg:justify-between">
    {% for item in resources | iterable | select("type=video") %}
      {% include "components/thumbnail-link.njk" %}
    {% endfor %}
  </div>

</section>
