---
title: Resources / Videos and Presentations
layout: layouts/base.njk
---

<section class="mt-20">
  <h1>Videos and Presentations</h1>
  <p>
    Learn more about the architecture changing modern web development
  </p>
  <p>
    More and more people are talking about the Jamstack. We've curated some of our favorite resources here to help you get started, and to learn more about how people are using the Jamstack.
  </p>
</section>

<section class="mt-12">
  <h2>Featured</h2>
  <p>
    These are great presentations to help understand what the Jamstack is, and how it can be used to great effect.
  </p>
  <div class="mt-6 flex flex-wrap justify-around lg:justify-between">
    {% for item in collections.resources | featured | whereData("type=video") | luckydip(4)  %}
      <div class="md:w-1/2 text-left mb-8 pr-10">
      {% include "components/thumbnail-link.njk" %}
      </div>
    {% endfor %}
  </div>
</section>

<section class="mt-12">
  <h2>All videos and presentations</h2>
  <p>
    These are great presentations to help understand what the Jamstack is, and how it can be used to great effect.
  </p>
  <div class="mt-6 flex flex-wrap justify-around lg:justify-between">
    {% for item in collections.resources | whereData("type=video") %}
      <div class="md:w-1/2 lg:w-1/3 text-left mb-8 pr-10">
      {% include "components/thumbnail-link.njk" %}
      </div>
    {% endfor %}
  </div>
</section>


<section class="my-12">
  <h2>Contribute</h2>
  <p>
    If you know of a presentation or a video which could help people understand how to get the best out of the Jamstack,
    you can contribute it to this list by <a href="{{ pkg.repository.url }}" target="_BLANK" rel="noopener">opening a pull request</a>.
  </p>
</section>
