---
title: Resources / Videos and Presentations
layout: layouts/base.njk
---

<section class="mt-20">
  <h1 class="text-white font-semi-bold text-6xl">Videos and Presentations</h1>
  <p class="text-xl text-red-500 font-serif leading-relaxed max-w-lg">
    Learn more about the architecture changing modern web development
  </p>
  <p>
    More and more people are talking about the Jamstack. We've curated some of our favorite resources here to help you get started, and to learn more about how people are using the Jamstack.
  </p>
</section>

<section class="mt-12">
  <h2 class="text-white font-semi-bold text-3xl">Feeatured</h2>
  <p class="text-xl text-red-500 font-serif leading-relaxed max-w-xl">
    These are great presentations to help understand what the Jamstack is, and how it can be used to great effect.
  </p>
  <div class="mt-6 flex flex-wrap justify-around lg:justify-between">
    {% for item in resources | iterable | selectattr("featured") | select("type=video") | luckydip(3)  %}
      {% include "components/thumbnail-link.njk" %}
    {% endfor %}
  </div>
</section>

<section class="mt-12">
  <h2 class="text-white font-semi-bold text-3xl">All videos and presentations</h2>
  <p class="text-xl text-red-500 font-serif leading-relaxed max-w-xl">
    These are great presentations to help understand what the Jamstack is, and how it can be used to great effect.
  </p>
  <div class="mt-6 flex flex-wrap justify-around lg:justify-between">
    {% for item in resources | iterable | select("type=video") %}
      {% include "components/thumbnail-link.njk" %}
    {% endfor %}
  </div>
</section>


<section class="mt-12">
  <h2 class="text-white font-semi-bold text-3xl">Contribute</h2>
  <p>
    If you know of a presentation or a video which could help people understand how to get the best out of the Jamstack,
    you can contribute it to this list by <a href="{{ pkg.repository.url }}" target="_BLANK" rel="noopener">opening a pull request</a>.
  </p>
</section>
