---
title: "Jamming into the Mainstream: Jamstack Community Survey 2021"
layout: layouts/base.njk
stylesheets: 
  - /css/d3chart.css
javascripts:
  - https://d3js.org/d3.v7.min.js
  - /js/d3chart.js
  - /js/d3chart-survey.js
---

<svg style="position: absolute; left: -9999px">
  <defs>
    <filter x="0" y="0" width="1" height="1" id="offset-label-bg">
      <feFlood flood-color="#161a2c" result="bg" />
      <feMerge>
        <feMergeNode in="bg"/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>

    <linearGradient id="gradient-sunrise-h">
      <stop offset="0%" stop-color="#F0047F"/>
      <stop offset="100%" stop-color="#FC814A"/>
    </linearGradient>
    <linearGradient id="gradient-sunrise-v" x1="0" x2="0" y1="0" y2="1">
      <stop offset="0%" stop-color="#F0047F"/>
      <stop offset="100%" stop-color="#FC814A"/>
    </linearGradient>

    <linearGradient id="gradient-blue-h">
      <stop offset="100%" stop-color="#4FF3EA"/>
      <stop offset="0%" stop-color="#04A2DD"/>
    </linearGradient>
    <linearGradient id="gradient-blue-v" x1="0" x2="0" y1="0" y2="1">
      <stop offset="100%" stop-color="#4FF3EA"/>
      <stop offset="0%" stop-color="#04A2DD"/>
    </linearGradient>
  </defs>
</svg>

<section>
  <h2>Years of Experience (2020)</h2>

  <details>
    <summary>Show Chart Data</summary>
    <table id="yoe-2020-table">
      <thead>
        <tr>
          <th>Current Role</th>
          <th>Folks with Years of Experience</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Less than 1</td><td>.04</td></tr>
        <tr><td>1–2</td><td>.13</td></tr>
        <tr><td>3–4</td><td>.20</td></tr>
        <tr><td>5–6</td><td>.15</td></tr>
        <tr><td>7–8</td><td>.09</td></tr>
        <tr><td>9–10</td><td>.12</td></tr>
        <tr><td>11–15</td><td>.13</td></tr>
        <tr><td>16–20</td><td>.08</td></tr>
        <tr><td>21+</td><td>.06</td></tr>
      </tbody>
    </table>
  </details>
  <div id="yoe-2020-vert" class="d3chart-placeholder"></div>
</section>

<section>
  <details>
    <summary>Show Chart Data</summary>
    <table id="yoe-2020-vert-table">
      <thead>
        <tr>
          <th>Current Role</th>
          <th>Folks with Years of Experience</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Less than 1</td><td>.04</td></tr>
        <tr><td>1–2</td><td>.13</td></tr>
        <tr><td>3–4</td><td>.20</td></tr>
        <tr><td>5–6</td><td>.15</td></tr>
        <tr><td>7–8</td><td>.09</td></tr>
        <tr><td>9–10</td><td>.12</td></tr>
        <tr><td>11–15</td><td>.13</td></tr>
        <tr><td>16–20</td><td>.08</td></tr>
        <tr><td>21+</td><td>.06</td></tr>
      </tbody>
    </table>
  </details>

  <div id="yoe-2020" class="d3chart-placeholder"></div>

</section>

<section>
  <h2>Years of Experience (2021)</h2>

  <details>
    <summary>Show Chart Data</summary>
    <table id="yoe-2021-table">
      <thead>
        <tr>
          <th>Current Role</th>
          <th>Folks with Years of Experience</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Less than 1</td><td>.13</td></tr>
        <tr><td>1–2</td><td>.19</td></tr>
        <tr><td>3–4</td><td>.18</td></tr>
        <tr><td>5–6</td><td>.12</td></tr>
        <tr><td>7–8</td><td>.07</td></tr>
        <tr><td>9–10</td><td>.08</td></tr>
        <tr><td>11–15</td><td>.05</td></tr>
        <tr><td>16–20</td><td>.03</td></tr>
        <tr><td>21+</td><td>.14</td></tr>
      </tbody>
    </table>
  </details>

  <div id="yoe-2021" class="d3chart-placeholder"></div>
</section>
<section>
  <details>
    <summary>Show Chart Data</summary>
    <table id="yoe-2021-vert-table">
      <thead>
        <tr>
          <th>Current Role</th>
          <th>Folks with Years of Experience</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Less than 1</td><td>.13</td></tr>
        <tr><td>1–2</td><td>.19</td></tr>
        <tr><td>3–4</td><td>.18</td></tr>
        <tr><td>5–6</td><td>.12</td></tr>
        <tr><td>7–8</td><td>.07</td></tr>
        <tr><td>9–10</td><td>.08</td></tr>
        <tr><td>11–15</td><td>.05</td></tr>
        <tr><td>16–20</td><td>.03</td></tr>
        <tr><td>21+</td><td>.14</td></tr>
      </tbody>
    </table>
  </details>

  <div id="yoe-2021-vert" class="d3chart-placeholder"></div>
</section>

<section>
  <h2>Years of Experience, Front-end / Full-stack</h2>

  <details>
    <summary>Show Chart Data</summary>
    <table id="yoe-stack-table">
      <thead>
        <tr>
          <th>Current Role</th>
          <th>Front-end</th>
          <th>Full-stack</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Less than 1</td>
          <td>.12</td>
          <td>.13</td>
        </tr>
        <tr>
          <td>1–2</td>
          <td>.14</td>
          <td>.19</td>
        </tr>
        <tr>
          <td>3–4</td>
          <td>.12</td>
          <td>.18</td>
        </tr>
        <tr>
          <td>5–6</td>
          <td>.14</td>
          <td>.12</td>
        </tr>
        <tr>
          <td>7–8</td>
          <td>.08</td>
          <td>.07</td>
        </tr>
        <tr>
          <td>9–10</td>
          <td>.09</td>
          <td>.08</td>
        </tr>
        <tr>
          <td>11–15</td>
          <td>.04</td>
          <td>.05</td>
        </tr>
        <tr>
          <td>16–20</td>
          <td>.02</td>
          <td>.03</td>
        </tr>
        <tr>
          <td>21+</td>
          <td>.16</td>
          <td>.14</td>
        </tr>
      </tbody>
    </table>
  </details>

  <div id="yoe-stack" class="d3chart-placeholder"></div>
</section>

<section>
  <details>
    <summary>Show Chart Data</summary>
    <table id="yoe-stack-vert-table">
      <thead>
        <tr>
          <th>Current Role</th>
          <th>Front-end</th>
          <th>Full-stack</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Less than 1</td>
          <td>.12</td>
          <td>.13</td>
        </tr>
        <tr>
          <td>1–2</td>
          <td>.14</td>
          <td>.19</td>
        </tr>
        <tr>
          <td>3–4</td>
          <td>.12</td>
          <td>.18</td>
        </tr>
        <tr>
          <td>5–6</td>
          <td>.14</td>
          <td>.12</td>
        </tr>
        <tr>
          <td>7–8</td>
          <td>.08</td>
          <td>.07</td>
        </tr>
        <tr>
          <td>9–10</td>
          <td>.09</td>
          <td>.08</td>
        </tr>
        <tr>
          <td>11–15</td>
          <td>.04</td>
          <td>.05</td>
        </tr>
        <tr>
          <td>16–20</td>
          <td>.02</td>
          <td>.03</td>
        </tr>
        <tr>
          <td>21+</td>
          <td>.16</td>
          <td>.14</td>
        </tr>
      </tbody>
    </table>
  </details>

  <div id="yoe-stack-vert" class="d3chart-placeholder"></div>
</section>

<section>
  <h2>Years of Experience, Front-end / Full-stack</h2>

  <details>
    <summary>Show Chart Data</summary>
    <table id="yoe-usercount-stacked-table">
      <thead>
        <tr>
          <th>How many users?</th>
          <th>Most sites</th>
          <th>Some sites</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tens</td>
          <td>.28</td>
          <td>.38</td>
        </tr>
        <tr>
          <td>Hundreds</td>
          <td>.31</td>
          <td>.45</td>
        </tr>
        <tr>
          <td>Thousands</td>
          <td>.42</td>
          <td>.37</td>
        </tr>
        <tr>
          <td>100 Thousands</td>
          <td>.22</td>
          <td>.32</td>
        </tr>
        <tr>
          <td>Millions</td>
          <td>.12</td>
          <td>.19</td>
        </tr>
      </tbody>
    </table>
  </details>

  <div id="yoe-usercount-stacked" class="d3chart-placeholder"></div>
</section>

<section>
  <details>
    <summary>Show Chart Data</summary>
    <table id="yoe-usercount-vert-stacked-table">
      <thead>
        <tr>
          <th>How many users?</th>
          <th>Most sites</th>
          <th>Some sites</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tens</td>
          <td>.28</td>
          <td>.38</td>
        </tr>
        <tr>
          <td>Hundreds</td>
          <td>.31</td>
          <td>.45</td>
        </tr>
        <tr>
          <td>Thousands</td>
          <td>.42</td>
          <td>.37</td>
        </tr>
        <tr>
          <td>100 Thousands</td>
          <td>.22</td>
          <td>.32</td>
        </tr>
        <tr>
          <td>Millions</td>
          <td>.12</td>
          <td>.19</td>
        </tr>
      </tbody>
    </table>
  </details>

  <div id="yoe-usercount-vert-stacked" class="d3chart-placeholder"></div>
</section>

<section>
  <h2>Satisfaction, Usage, Awareness</h2>

  <details>
    <summary>Show Chart Data</summary>
    <table id="sua-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Awareness</th>
          <th>Usage</th>
          <th>Satisfaction</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Netlify</td>
          <td>.95</td>
          <td>.76</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Vercel</td>
          <td>.8</td>
          <td>.30</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Cloudflare</td>
          <td>.9</td>
          <td>.4</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Gatsby Cloud</td>
          <td>.7</td>
          <td>.3</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </details>

  <div id="sua" class="d3chart-placeholder"></div>
</section>

<!--
<h2>Four Quadrant</h2>

<table id="fourq-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Awareness</th>
      <th>Usage</th>
      <th>Satisfaction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Netlify</td>
      <td>.95</td>
      <td>.76</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Vercel</td>
      <td>.8</td>
      <td>.30</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Cloudflare</td>
      <td>.9</td>
      <td>.4</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Gatsby Cloud</td>
      <td>.7</td>
      <td>.3</td>
      <td>2</td>
    </tr>
  </tbody>
</table>

<div id="sua" class="d3chart-placeholder"></div>

-->