{{ define "main" }}
<div class="community code-of-conduct">
  <section class="hero">
    <div class="contained">
      <h1 class="community-headline">Event Code of Conduct</h1>
    </div>
  </section>
  <div class="contained">
    <article>
      <p>
        JAMstack events are about building and fostering a diverse, safe, and
        inclusive community for individuals of all backgrounds and levels of
        experience to learn, connect, and grow together.
      </p>
      <p>
        Every person has their personal story that has shaped their unique
        perspective. This can be a fascinating thing! Everyone you meet has the
        potential to amaze you with the things they’ve done and the things they
        know. However, it can also create misunderstandings, which can
        potentially lead to conflict.
      </p>
      <p>
        In order to mitigate conflict, and to create a more welcoming, safe
        atmosphere, all attendees, sponsors, speakers, vendors, volunteers,
        staff and organizers shall:
      </p>
      <h2>Be considerate</h2>
      <p>
        Approach your interactions with thoughtfulness and care. Recognize the
        myriad differences between yourself and others, and that you may not
        view the world through the same lens. Do not dismiss someone because
        they have a different level of experience, are of a different
        background, or have a difference of opinion. Be kind to others.
      </p>
      <h2>Be respectful</h2>
      <p>
        Disagreement is not an excuse for poor manners. We work together to
        resolve conflict, assume good intentions and do our best to act in an
        empathic fashion. We don’t allow frustration to turn into a personal
        attack. A community where people feel uncomfortable or threatened is not
        a productive one.
      </p>
    </article>
    <article>
      <h1>Anti-harassment policy</h1>
      <p>
        This event is dedicated to providing a harassment-free conference
        experience for everyone, regardless of gender, gender identity and
        expression, age, sexual orientation, disability, physical appearance,
        body size, race, ethnicity, religion (or lack thereof), or technology
        choices. We do not tolerate harassment of participants in any form.
        Sexual language and imagery is not appropriate for any event venue,
        including talks, workshops, parties, Twitter and other online media.
        Event participants violating these rules may be sanctioned or expelled
        from the event without a refund at the discretion of the event
        organisers.
      </p>
      <p>
        Sponsors should not use sexualized images, activities, or other
        material. Booth staff (including volunteers) should not use sexualized
        clothing/uniforms/costumes, or otherwise create a sexualized
        environment.
      </p>
      <ul class="tools">
        <li>
          Verbal or written offensive comments related to gender, gender
          identity and expression, sexual orientation, disability, physical
          appearance, body size, race, age, or religion
        </li>
        <li>Sexual images in public spaces</li>
        <li>Deliberate intimidation, stalking, or following</li>
        <li>Harassing photography or recording</li>
        <li>Sustained disruption of talks or other events</li>
        <li>Inappropriate physical contact</li>
        <li>Unwelcome sexual attention</li>
        <li>Advocating for, or encouraging, any of the above behaviour</li>
      </ul>
      <h2>Bathroom policy</h2>
      <p>
        Diversity and self-expression are important in our world - both at this
        event and beyond. Therefore, we encourage all attendees at the
        conference/event to use the bathroom they feel most comfortable in,
        regardless of gender expression. Should you feel inclined to question
        someone’s bathroom choice, please don’t - we feel sure they know quite
        well where they belong. If you witness someone being made to feel
        unwelcome, or someone makes you feel unwelcome while using the
        facilities, please reach out to an event organizer so we can assist you.
      </p>
    </article>
  </div>
</div>
{{ end }}
