{{ define "main" }}
<div class="community">

  <section class="hero">
    <div class="contained">
      <h1 class="community-headline">Join your local JAMstack Chapter.</h1>
    </div>
  </section>

  <div class="contained">
    <div class="grid">
      {{ range .Site.Data.community.chapters }}
        <a class="chapter {{ .name | urlize }}" href="{{ .link }}">
          <img src="{{ .artpath }}" class="art"/>
          <h1>{{ .name }}</h1>
          <div class="button{{ if .teaser }} greyed{{ end }}">{{ .btncopy }}</div>
        </a>
      {{ end }}
    </div>
  </div>

  <section class="slack grid contained">
    <div class="hook">
      <h1>Chat on Slack.</h1>
      <p>
        <strong>Got a question or just want to chat?</strong>
        Speak with leaders in the space about all things JAMstack in the <a href="{{ .Site.Data.community.slackurl }}" target="_blank" class="text-link">JAMstack community Slack</a>.
      </p>
    </div>
    <a href="{{ .Site.Data.community.slackurl }}" target="_blank" class="event-card">
      <h4>Join the JAMstack Slack for...</h4>
      <p>
        <strong>• Expert advice on best practices</strong>
        <strong>• Resource recommendations</strong>
        <strong>• General discussion</strong>
        <strong>• News about conferences and meetups</strong>
      </p>
    </a>
  </section>

  <section class="events contained">
    <script src="/js/moment.js"></script>
    <script>
      var getMeetupEvents = function(meetupName, meetupPath, requestUrl) {
        $.ajax({
          type:"GET",
          url: requestUrl,
          success: function(events) {

            for(i=0;i<3;i++) {

              var event           = events.data[i],
                  meetupDate      = moment(event.time).format('MMM DD'),
                  meetupTime      = moment(event.time).format('h:mm a'),
                  meetupLink      = event.link,
                  meetupLocation  = event.venue ? event.venue.name : 'Location TBA',
                  meetupEventName = event.name;

              if (i===0) {
                $('#meetup-events').append('<h4 class="meetup-events-label">Upcoming '+meetupName+' Events</h4>');
              }

              $('#meetup-events').append('<a href="'+meetupLink+'" class="event-card with-link"><div class="event-date">'+ meetupDate +'</div><div class="event-info"><h4>'+meetupLocation+'</h4><h1>'+meetupEventName+'</h1><em>Starts at '+meetupTime+'</em></div></a>');
            }
          },
          error: function() {
            console.log('There was an error retrieving events for '+meetupName+'.');
          },
          dataType: 'jsonp',
        });
      }

      $('.chapter').each(function() {

        if ($(this).attr('href').length > 1) {

          var meetupName = $("h1", this).text(),
              meetupPath = $(this).attr('href').slice(22);
              requestUrl = "https://api.meetup.com"+meetupPath+"events";

          getMeetupEvents(meetupName, meetupPath, requestUrl);
        }

      })
    </script>

    <h1>Come hang out at the next JAMstack event.</h1>
    {{ range .Site.Data.events.events }}
      <a href='{{ if .link }}{{ .link }}{{ end }}' class='event-card{{ if .link }} with-link{{ end }}'>
        <div class="event-date">{{ dateFormat "Jan 02" .date }}</div>
        <div class="event-info">
          <h4>
            {{ if .location }}
              {{ .location }}
            {{ end }}
          </h4>
          <h1>{{ .title }}</h1>
          <em>
            {{ if .time }}
               Starts at {{ .time }}
            {{ end }}
          </em>
          <p>{{ .description }}</p>
        </div>
      </a>
    {{ end }}

    <div id="meetup-events"></div>
  </section>

  <div class="bottom-cta">
    <div class="contained">
      <img src="{{ .Site.Data.community.bottomcta.artpath }}" class="art"/>
      <h1>{{ .Site.Data.community.bottomcta.headline }}</h1>
      <a href="{{ .Site.Data.community.bottomcta.ctalink }}" class="button">{{ .Site.Data.community.bottomcta.ctacopy }}</a>
    </div>
  </div>

  <section class="chatter">
    <h1>Spread the JAM by tweeting <span><img src="/img/twitter.svg"/>#JAMstack</span></h1>
    <div class="tweets">
      <div class="contained">
        <ul class="juicer-feed" data-feed-id="jamstack" data-pages="1" data-overlay="false" data-per="3"></ul>
      </div>
    </div>
  </section>
</div>
{{ end }}
