{{ define "main" }}
<div class="community new-community">

  <section class="hero">
    <div class="contained">
      <h1 class="community-headline">Talk to us about your new JAMstack meetup</h1>
      <p>If you'd like to start a new meetup, fill out the form below and we'll get in touch.</p>
    </div>
  </section>

  <div class="main-content">
    <div class="community-form">
      <form name="New Community Request" netlify>
        <div class="two-columns">
          <div class="input-field">
            <label for="name">First name:</label>
            <input id="name" type="text" name="Name" value="" placeholder="" required>
          </div>
          <div class="input-field">
            <label for="name">Last name:</label>
            <input id="name" type="text" name="Name" value="" placeholder="" required>
          </div>
        </div>
        <div class="input-field">
          <label for="email">Email:</label>
          <input id="email" type="email" name="Email" value="" placeholder="" required>
        </div>
        <div class="input-field">
          <label for="mailing">Mailing address:</label>
          <textarea name="mailing" rows="4" cols="80" id="mailing" value="" placeholder="" required></textarea>
          <span class="more-detail">Please include your country — we need this information to ship some swag to you.</span>
        </div>
        <div class="input-field">
          <label for="phone">Phone number:</label>
          <input id="phone" type="number" name="Phone" value="" placeholder="">
          <span class="more-detail">We need a country code and phone number to ship things outside of the USA.</span>
        </div>
        <span class="separator"></span>

        <div class="input-field">
          <label for="purpose">What are your plans and/or what do you hope to achieve for your community?<br>Do you have any questions about running a meetup?</label>
          <textarea name="purpose" rows="6" cols="80" id="mailing" value="" placeholder="" required></textarea>
        </div>

        <div class="input-field radios">
          <label for="experience">I have:</label>
          <span class="radio-wrapper">
            <input type="radio" id="xp-none" name="experience" value="none" checked>
            <label for="none">No experience running a meetup</label>
          </span>
          <span class="radio-wrapper">
            <input type="radio" id="xp-some" name="experience" value="some">
            <label for="some">Some experience running a meetup</label>
          </span>
          <span class="radio-wrapper">
            <input type="radio" id="xp-lots" name="experience" value="lots">
            <label for="lots">Lots of experience running a meetup</label>
          </span>
        </div>

        <div class="input-field radios">
          <label for="first-time">Have you been to a JAMstack meetup before?</label>
          <span class="radio-wrapper">
            <input type="radio" id="first-time" name="first-time" value="yes" checked>
            <label for="first-time">No</label>
          </span>
          <span class="radio-wrapper">
            <input type="radio" id="not-first-time" name="first-time" value="yes">
            <label for="not-first-time">Yes</label>
          </span>
        </div>

        <div class="input-field checkbox">
          <input type="checkbox" id="codeofconduct" name="first-meetup" required>
          <label for="codeofconduct">Check this box if you have read our <a href="https://jamstack.org/diversity/" target="_blank">Code of Conduct →</a></label>
        </div>

        <button type="submit">Get in touch</button>
      </form>
    </div>

</div>
{{ end }}
