doctype html
html
  head
   title JAM Stack
   link(rel="stylesheet" href="/css/fonts.css")
   link(rel="stylesheet" href="/css/main.css")
  body
    .header
      .container
        h1 
          strong JAM
          | Stack
    .body
      .container
        != contents
