/* import via postcss */
@import "../site/css/ticker.css";

/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */


/*
  Content sections conventions
*/
section {
  @apply p-8;
  @apply max-w-4xl;
  @apply mx-auto;
}


section a,
dd a {
  @apply text-white;
  @apply border-b;
  @apply border-blue-100;
}
section:not(.cards) a:hover,
section:not(.cards) a:focus,
dd a:hover,
dd a:focus {
  @apply border-pink-500;
}
p+p {
  @apply mt-4;
}


/*
  CTA links
*/
a.cta:link,
a.cta:visited {
  @apply inline-block;
  @apply bg-pink-900;
  @apply text-white;
  @apply rounded-full;
  @apply text-xs;
  @apply font-semibold;
  @apply px-4;
  @apply py-2;
  @apply border-none;
  @apply my-4;
}
a.cta:hover,
a.cta:focus {
  @apply bg-pink-500;
}


/*
  Footer links
*/
footer p a {
  @apply border-b;
  @apply border-blue-100;
  @apply whitespace-no-wrap;
}
footer p a:hover,
footer p a:focus {
  @apply border-red-500;
}


/*
  Global headings conventions
*/
h1.heading {
  @apply text-white;
  @apply text-5xl;
  @apply leading-none;
  @apply mb-2;
}
@screen md {
  h1.heading {
    @apply text-6xl;
    @apply mt-12;
    @apply mb-4;
  }
}

h2 {
  @apply text-white;
  @apply text-2xl;
  @apply font-bold;
  @apply leading-none;
  @apply mb-2;
}


/*
  left/right flip-flopping lists
*/
@screen md {
  .flip-flop > div:nth-child(even) {
    @apply text-right;
    @apply ml-auto;
  }
}

/*
h3.heading {
  @apply text-white;
  @apply mt-10;
  @apply mb-2;
  @apply text-xl;
  @apply leading-snug;
}
@screen md {
  h3.heading {
    @apply text-2xl;
    @apply mt-16;
  }
}
*/

.columns-3 {
  columns: 3;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* purgecss start ignore */
.bg-gradient-jams {
  background: #D1036F linear-gradient(91.78deg, #D1036F 2.57%, #B6005F 96.33%);
}
.bg-gradient-pink-orange,
.hover\:bg-gradient-pink-orange:hover,
.hover\:bg-gradient-pink-orange:focus {
  background: #E7017A linear-gradient(91.78deg, #E7017A 2.57%, #DF4A1F 96.33%);
}
.bg-gradient-blue-green {
  background: #0090CA linear-gradient(101.87deg, #0090CA 0%, #00BFAD 105.55%);
}
.bg-gradient-card-sunrise {
  --gradient-color-stops: #F0047F 0%, #FC814A 100%;
}
.bg-gradient-card-blue {
  --gradient-color-stops: #04A2DD 0%, #4FF3EA 100%;
}
.bg-gradient-card-seafoam {
  --gradient-color-stops: #88F9ED 0%, #00FFB2 100%;
}
.bg-gradient-card-gold {
  --gradient-color-stops: #FFC803 0%, #FC814A 100%;
}

.list-jams-logo > li,
.list-jams-logo-pink > li,
.list-jams-logo-border > li {
  position: relative;
}
.list-jams-logo > li:after,
.list-jams-logo-pink > li:after,
.list-jams-logo-border > li:after {
  content: "";
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  width: 8px;
  height: 100%;
  pointer-events: none;
}
.list-jams-logo > li:after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C2.68226 0 0 2.90578 0 6.5C0 10.0942 2.68226 13 6 13C9.31774 13 12 10.0942 12 6.5V0H6Z' fill='%235A5F75'/%3E%3C/svg%3E%0A");
  left: 2em;
}
.list-jams-logo-pink > li:after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C2.68226 0 0 2.90578 0 6.5C0 10.0942 2.68226 13 6 13C9.31774 13 12 10.0942 12 6.5V0H6Z' fill='%23F0047F'/%3E%3C/svg%3E%0A");
  left: 1em;
}
.list-jams-logo-border > li:before {
  @apply text-gray-400;
  content: "";
  position: absolute;
  left: 2.25em; /* 36px /16 */
  top: 0;
  bottom: 0;
  border-left: 1px solid;
}
.list-jams-logo-border > li:first-child:before {
  top: 1.25em; /* 20px /16 */
}
.list-jams-logo-border > li:last-child:before {
  bottom: 1.25em; /* 20px /16 */
}
.list-jams-no-bullet:after {
  display: none;
}

.summary-no-arrow {
  list-style: none;
}
.summary-no-arrow::-webkit-details-marker {
  display: none;
}
details .summary-swap-open,
details[open] .summary-swap-closed {
  display: none;
}
details .summary-swap-closed,
details[open] .summary-swap-open {
  display: block;
}

@media (min-width: 640px) {
  .sm\:page-layout {
    grid-template-columns: 16.875em minmax(0, 1fr);
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* purgecss end ignore */

@tailwind utilities;
