{{ define "main" }}
<section class="hero">
    <div class="contained">
      <h1>{{ .Site.Data.definitions.jamstack | markdownify }}</h1>
    </div>
  </section>

  <section class="intro">
    <div class="contained grid">
      <div>{{ .Site.Data.definitions.explanation | markdownify }}</div>
      <div>
        <h1>FAQ</h1>
        <a class="text-link scrolling-link" href="#what"><h4>什么是JAMstack?</h4></a>
        <a class="text-link scrolling-link" href="#why"><h4>为何选择JAMstack?</h4></a>
        <a class="text-link scrolling-link" href="#how"><h4>如何开始?</h4></a>
      </div>
    </div>
  </section>

  <section id="what" class="jam-breakdown">
    <div class="contained intro">
      <h1>什么是JAMstack?</h1>
      <p>如果符合三个关键标准，您的项目就是使用了JAMstack构建：</p>
    </div>
    <div class="letter-definition-container">
      <div class="letter-definition">
        <img class="letter" src="/img/j.svg"/>
        <h1>JavaScript</h1>
        <p>{{ .Site.Data.definitions.javascript | markdownify }}</p>
      </div>
      <div class="letter-definition">
        <img class="letter" src="/img/a.svg"/>
        <h1>APIs</h1>
        <p>{{ .Site.Data.definitions.apis | markdownify }}</p>
      </div>
      <div class="letter-definition">
        <img class="letter" src="/img/m.svg"/>
        <h1>Markup</h1>
        <p>{{ .Site.Data.definitions.markup | markdownify }}</p>
      </div>
    </div>
  </section>

  <section class="jam-disqualifications contained">
    <h1>什么样的网站没有使用JAMstack构建?</h1>
    <p>依赖于客户端和服务器之间紧密耦合的任何项目都不是使用JAMstack构建的。包括：</p>
    <div class="disqualifications">
      {{ range .Site.Data.definitions.disqualifications }}
        <h4 class="disqualification">{{ .disqualification | markdownify }}</h4>
      {{ end }}
    </div>
  </section>

  <section id="why" class="advantages contained">
    <h1>为何选择JAMstack?</h1>
    <div class="advantages-grid">
      {{ range .Site.Data.definitions.advantages }}
        <div class="advantage">
          <h4>{{ .advantage | markdownify }}</h4>
          <p>{{ .description | markdownify }}</p>
        </div>
      {{ end }}
    </div>
  </section>

  <section id="how" class="bottom-cta contained">
    <h1>如何开始?</h1>
    <a href="/best-practices"><h4>学习最佳实践 →</h4></a>
    <a href="/resources"><h4>访问资源 →</h4></a>
  </section>
{{ end }}
