<div class="survey-chart">
  <div class="flex justify-between">
    <div>
      {{ permalinkHeading.render('h4', "What is the purpose of the websites you built in 2022?") }}
      <p class="survey-chart-subheading">Percentage of respondents</p>
    </div>
  </div>
  <div id="what-is-the-purpose-of-the-sites-you-built-in-2022-chart" class="d3chart-placeholder"></div>
  <div class="text-center">Source: Jamstack Community Survey 2022</div>

  <details>
    <summary class="text-sm">Show Chart Data</summary>
    <table id="what-is-the-purpose-of-the-sites-you-built-in-2022-table" class="table-auto border-collapse">
      <thead>
        <tr class="chart-data-table-head">
          <th class="text-left pr-2">Purpose</th>
          <th class="text-left pr-2">Percentage of Survey Participants</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Personal websites</td>
          <td>45%</td>
        </tr>
        <tr>
          <td>Consumer software</td>
          <td>40%</td>
        </tr>
        <tr>
          <td>B2B software</td>
          <td>39%</td>
        </tr>
        <tr>
          <td>E-commerce</td>
          <td>38%</td>
        </tr>
        <tr>
          <td>Informational</td>
          <td>38%</td>
        </tr>
        <tr>
          <td>Internal tools</td>
          <td>37%</td>
        </tr>
        <tr>
          <td>Documentation</td>
          <td>29%</td>
        </tr>
        <tr>
          <td>Lead capture</td>
          <td>29%</td>
        </tr>
        <tr>
          <td>Enterprise software</td>
          <td>26%</td>
        </tr>
        <tr>
          <td>News/Entertainment</td>
          <td>14%</td>
        </tr>
        <tr>
          <td>Social media</td>
          <td>14%</td>
        </tr>
        <tr>
          <td>Retail</td>
          <td>13%</td>
        </tr>
        <tr>
          <td>Games</td>
          <td>11%</td>
        </tr>
        <tr>
          <td>Streaming media</td>
          <td>9%</td>
        </tr>
        <tr>
          <td>Politics/Activism</td>
          <td>5%</td>
        </tr>
      </tbody>
    </table>
  </details>
</div>