{{ partial "header" . }}

<div class="chapters">

  <section class="hero">
    <div class="contained">
      <h1 class="chapters-headline">Join your local JAMstack Chapter.</h1>
    </div>
  </section>

  <div class="contained">
    <div class="grid">
      {{ range .Site.Data.chapters.chapters }}
        <a class="chapter" href="{{ .link }}">
          <img src="{{ .artpath }}" class="art"/>
          <h1>{{ .name }}</h1>
          <p>{{ .description }}</p>
          <div class="button{{ if .teaser }} greyed{{ end }}">{{ .btncopy }}</div>
        </a>
      {{ end }}
    </div>
  </div>

  <div class="bottom-cta">
    <div class="contained">
      <img src="{{ .Site.Data.chapters.bottomcta.artpath }}" class="art"/>
      <h1>{{ .Site.Data.chapters.bottomcta.headline }}</h1>
      <p>{{ .Site.Data.chapters.bottomcta.description }}</p>
      <a href="{{ .Site.Data.chapters.bottomcta.ctalink }}" class="button">{{ .Site.Data.chapters.bottomcta.ctacopy }}</a>
    </div>
  </div>

</div>

{{ partial "footer" . }}
