{{ partial "header" . }}

<div class="community">

  <section class="hero">
    <div class="contained">
      <h1 class="community-headline">Join your local JAMstack Chapter.</h1>
    </div>
  </section>

  <div class="contained">
    <div class="grid">
      {{ range .Site.Data.community.chapters }}
        <a class="chapter" href="{{ .link }}">
          <img src="{{ .artpath }}" class="art"/>
          <h1>{{ .name }}</h1>
          <div class="button{{ if .teaser }} greyed{{ end }}">{{ .btncopy }}</div>
        </a>
      {{ end }}
    </div>
  </div>

  <section class="gitter grid contained">
    <div class="hook">
      <h1>Chat on Gitter.</h1>
      <p>
        <strong>Got a question or just want to chat?</strong>
        Speak with leaders in the space on our community about all things JAMstack in our <a href="{{ .Site.Data.community.gitterurl }}" target="_blank" class="text-link">Gitter Chat</a>.
      </p>
    </div>
    <a href="{{ .Site.Data.community.gitterurl }}" target="_blank" class="event-card">
      <h4>Join the Gitter Chat for...</h4>
      <p>
        <strong>• Expert advice on best practices</strong>
        <strong>• Resource recommendations</strong>
        <strong>• General discussion</strong>
      </p>

    </a>
  </section>

  <div class="bottom-cta">
    <div class="contained">
      <img src="{{ .Site.Data.community.bottomcta.artpath }}" class="art"/>
      <h1>{{ .Site.Data.community.bottomcta.headline }}</h1>
      <a href="{{ .Site.Data.community.bottomcta.ctalink }}" class="button">{{ .Site.Data.community.bottomcta.ctacopy }}</a>
    </div>
  </div>

  <section class="chatter">
    <h1>Spread the JAM by tweeting <span><img src="/img/twitter.svg"/>#JAMstack</span></h1>
    <div class="tweets">
      <div class="contained">
        <ul class="juicer-feed" data-feed-id="jamstack" data-pages="1" data-overlay="false" data-per="3"></ul>
      </div>
    </div>
  </section>
</div>

{{ partial "footer" . }}
