---
title: Community
layout: default
---


<section class="p-8 mb-16">
  <h1 class="text-white font-bold text-5xl leading-tight">Jamstack Community</h1>
  <p class="text-xl text-gray-500 leading-tight mb-6 ">
    Connect with other Jamstackers
  </p>
  <p>
    There are a growing number of Jamstack meetups and events happening around the world. Find out how to participate.
  </p>
</section>


<section class="p-8 mb-12 bg-white md:rounded">
    <h2 class="text-gray-800 font-bold text-3xl leading-tight">Join the conversation on Slack</h2>
    <p class="text-lg text-gray-600">
      Join other Jamstackers in Slack
    <p class="text-md text-gray-600 leading-relaxed max-w-xl">
      The conversation about Jamstack is happening right now. See what people are saying on Twitter or join <b>803</b> developers, vendors, and agencies who are already discussing Jamstack in the official Jamstack community Slack.
    </p>
    <a href="/slack" target="_BLANK" rel="noopener" class="mt-6 inline-block text-gray-700 font-bold">Join the JAMslack!</a>
  </section>

<section>
  <h2 class="heading">Jamstack meetups</h2>
  <p>
    People all around the world are gathering to talk about the Jamstack at meetups.
  </p>
  <ul>
    <li><a href="/community/meetups/organize">Organize a Jamstack Meetup</a></li>
    <li><a href="/community/meetups">Find a Jamstack Meetup near you</a></li>
  </ul>
</section>

<section>
    <h2 class="heading">Fresh from the community</h2>
    <p>
      A few of the recent talks from meetups around the world
    </p>
    <ul class="mt-12">
      {% for item in meetupTalks.slice(0,3) %}
      {% include "components/resource-link.njk" %}
      {% endfor %}
    </ul>
    <a href="/community/meetups" class="mt-12 inline-block" >More presentations from Jamstack Meetups</a>
  </section>



