<section class="tout tout-shout">
  <h2>JAMstack Conference</h2>
  <p class="subtitle">
    San Francisco - October 16th–18th
  </p>
  <p>
    Speak at the conference! Our Call for Proposals is open now. Get support for your proposals in the community slack by joining the <a href="/slack">#cfp-assistance</a> channel.
  </p>
  <p>
    <a href="https://jamstackconf.com/sf/speak" class="cta">Submit a proposal</a>
  </p>
</section>
