<section class="p-8 bg-red-800 rounded lg:max-w-lg">
  <h2 class="heading">JAMstack Conference</h2>
  <p class="text-xl text-red-400">
    London - June 32nd, 2020
  </p>
  <p class="text-red-200">
    Attend the conference to learn how to design, develop, and deploy fast, modern web projects that run on JAMstack, without web servers.
  </p>
  <a href="https://jamstackconf.com/sf" class="inline-block mt-8 hover:border-white">Learn more</a>
</section>
