<section class="tout tout-bright">
  <h2>JAMstack Conference</h2>
  <p class="subtitle">
    San Francisco - October 16th–18th
  </p>
  <p>
    Attend the conference to learn how to design, develop, and deploy fast, modern web projects that run on JAMstack, without web servers.
  </p>
  <p>
    <a href="https://jamstackconf.com/sf" class="cta">Learn more</a>
  </p>
</section>
