---
title: Getting started
layout: layouts/base.njk
excludeFromSitemap: true
---

<section class="md:mt-20">
  <h1 class="heading">Getting started</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam temporibus in dignissimos rem aliquam at sunt voluptate nostrum voluptatem est, repudiandae veniam officia iste voluptatum eius possimus non atque praesentium?
  </p>
  <p class="max-w-lg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam fugiat asperiores, tempora repellendus deleniti blanditiis! Accusantium quod quibusdam reiciendis, laboriosam molestias autem distinctio suscipit eius maxime quia itaque facilis ipsum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, quod consequuntur quibusdam, dolor dignissimos impedit ad aperiam nihil ipsa iste minus eos tenetur sunt. Eius necessitatibus autem doloremque qui officia.
  </p>
</section>
