---
title: Jamstack Best Practices
description: Learn about optimizing your Jamstack setup - for speed atop a CDN, build/deploy improvements, git workflow tips, and other best practices when building with the Jamstack.
layout: layouts/base.njk
---

{% import "components/section-heading.njk" as section %}

<section class="md:mt-20">
  <h1>Best Practices</h1>
  <p class="w-1/2">
    When building Jamstack projects, you can really get the most out of the stack if you stick to a few best practices.
  </p>
</section>

<section class="border-gray-400 border-t border-b my-10">

  {{ section.benefit(
      "Entire Project on a CDN",
      null,
      "<p>
        Because Jamstack projects don’t rely on server-side code, they can be distributed instead of living on a single server. Serving directly from a CDN unlocks speeds and performance that can’t be beat. The more of your app you can push to the edge, the better the user experience.
      </p>")
  }}

  {{ section.benefit(
      "Modern Build Tools",
      null,
      "<p>
        Take advantage of the world of modern build tools. It can be a jungle to get oriented in and it’s a fast moving space, but you’ll want to be able to use tomorrow’s web standards today without waiting for tomorrow’s browsers. And that currently means Babel, PostCSS, Webpack, and friends.
      </p>")
  }}

  {{ section.benefit(
      "Automated Builds",
      null,
      "<p>
        Because Jamstack markup is prebuilt, content changes won’t go live until you run another build. Automating this process will save you lots of frustration. You can do this yourself with webhooks, or use a publishing platform that includes the service automatically.
      </p>")
  }}

  {{ section.benefit(
      "Atomic Deploys",
      null,
      "<p>
        As Jamstack projects grow really large, new changes might require re-deploying hundreds of files. Uploading these one at a time can cause inconsistent state while the process completes. You can avoid this with a system that lets you do “atomic deploys,” where no changes go live until all changed files have been uploaded.
      </p>")
  }}

  {{ section.benefit(
      "Instant Cache Invalidation",
      null,
      "<p>
        When the build-to-deploy cycle becomes a regular occurrence, you need to know that when a deploy goes live, it really goes live. Eliminate any doubt by making sure your CDN can handle instant cache purges.
      </p>")
  }}

  {{ section.benefit(
      "Everything Lives in Git",
      null,
      "<p>
        With a Jamstack project, anyone should be able to do a git clone, install any needed dependencies with a standard procedure (like npm install), and be ready to run the full project locally. No databases to clone, no complex installs. This reduces contributor friction, and also simplifies staging and testing workflows.
      </p>")
  }}

</section>

{% include "components/join-the-movement.njk" %}
