---
title: Code of Conduct
layout: default
---

<section class="p-8 pb-12 mb-6 ">

  <h1 class="text-white font-bold text-5xl leading-tight">Code of Conduct</h1>
  <p class="text-xl text-gray-500 leading-tight mb-6 ">
    Guidance and processes for action
  </p>


  <h2 class="heading mt-16 mb-6">
    Welcome!<br />
    Jamstack is an inclusive philosophy<br />
    and an inclusive community.
  </h2>
  <p>
    We strive to create a friendly, welcoming, judgement- and harassment-free place for individuals to learn, connect, and grow together.
  </p>
  <p>
    We are a diverse, global community. We have members from every gender, sexuality, gender expression, race, ethnicity, tribal background, religious affiliation, citizenship and nationality, age, physical ability, educational background, experience level that you can think of - and want everyone to feel welcome!
  </p>
  <p>
    Whether it is contributing to our website, connecting in our slack, or attending conferences and independently organized meetings, it's not only our hope, but our expectation, that you'll abide by these three basic ground rules:
  </p>


  <h3 class="font-bold text-white mt-6">
    We approach interactions with thoughtfulness and care.
  </h3>
  <p>
    We are patient & kind to others. We don't dismiss someone because they have a different level of experience, are of a different background, or have a difference of opinion than us.
  </p>

  <h3 class="font-bold text-white mt-6">
    We don't get rude when we disagree with someone
  </h3>
  <p>
    There is a human in front of us. We don’t allow frustration to turn into a personal attack. A community where people feel uncomfortable or threatened is not a productive one. We are collectively responsible for each other.
  </p>

  <h3 class="font-bold text-white mt-6">
    We work to correct mistakes when they occur.
  </h3>
  <p>
    No one is expected to always be perfect or to know everything - sometimes even good intentions have unwanted outcomes. But how we respond to criticism is important. If someone criticizes our conduct, or points out ways we have harmed someone, we listen without taking it personally, and work towards a resolution - together.
  </p>

<h2 class="heading mt-12 mb-6">
  We can't accept the following:
</h2>
<ul class="my-6 list-outside pl-4 list-disc">
  <li>Violent threats or language.</li>
  <li>Discriminatory or derogatory jokes and language.</li>
  <li>Disrespecting people's stated pronouns and gender identity</li>
  <li>Posting sexually explicit or violent material.</li>
  <li>Posting, or threatening to post, people's personally identifying information ("doxing").</li>
  <li>Insults, especially those using discriminatory terms or slurs.</li>
  <li>Behavior that could be perceived as sexual attention.</li>
  <li>Advocating for or encouraging any of the above behaviors.</li>
</ul>
<p>
  If someone has said or done something that violates this code of conduct, please see below for steps on how to resolve the situation.
</p>

<h3 class="heading">
  Contributing to jamstack.org
</h3>
<p>
  In addition to the above, we expect that you'll consider:
</p>
<ul class="my-6 list-outside pl-4 list-disc">
  <li>English is not everyone's first language! Be careful when pointing out language mistakes, typos or similar.</li>
  <li>...MORE TO COME...</li>
</ul>


<h3 class="heading">
  Slack Code of Conduct
</h3>
<ul class="my-6 list-outside pl-4 list-disc">
  <li>Written communication is easy to misinterpret. Ask for clarification before jumping to conclusions.</li>
  <li>Respect and use the correct pronouns for people when referring to them. Ask if you are not sure.</li>
  <li>Respect people's boundaries. - don't dm or continue to interact with people if they have asked you not to.</li>
  <li>Use of <code>@channel</code> and <code>@here</code> has been limited as this notifies everyone across global timezones.</li>
</ul>

<h3 class="heading">
  Group Meeting Code of Conduct
</h3>
<p>
  Group meetups are dedicated to providing a harassment-free experiences for everyone.
</p>

<p>In addition to the above, the following isn't acceptable:</p>

<ul class="my-6 list-outside pl-4 list-disc">
  <li>Sexual language and imagery</li>
  <li>Deliberate intimidation, stalking, or following before/at/after official or unofficial events</li>
  <li>Harassing photography or recording</li>
  <li>Sustained disruption of talks or other events</li>
  <li>Inappropriate physical contact</li>
  <li>Unwelcome sexual attention</li>
</ul>

<h2 class="heading">
  Resolving Code of Conduct Violations
</h2>
<p>
  If something has happened that excludes you or is making you have a bad experience, here is what should happen next.
</p>
<ul class="my-6 list-outside pl-4 list-disc">
  <li class="">Take a breath - step away, whether online or in person. Are you safe? If not, get to a safe place. Can you talk to someone you trust? You'll want to calm down before you decide what to do next.</li>
  <li class="">Evaluate the situation - is it safe to talk to the person directly about what happened?
      <li class="">If it feels safe, try and speak with the person privately, in person if you can. Try and work to a resolution together. If it goes well, great! If it does not - talk to an organizer.</li>
      <li class="">If it does not feel safe, speak to an organizer about what happened right away. Give us much detail as you can. Let them know whether someone else witnessed what happened.</li></li>
  <li class="">An organizer will then speak to the person in question and let them know someone reported a CoC violation. Organizers will not disclose your identity or allow the person to get in touch with you if you don't want them to.</li>
  <li class="">Depending on the severity of the issue, the person may receive a last-chance warning, or may be asked to leave the activity/group and may receive a future ban. Tickets or other participation fees won't be refunded for people who are removed for CoC violations.</li>
</ul>

</section>
