---
title: "Jamstack's Code of Conduct"
description: "Jamstack is an inclusive philosophy and an inclusive community. Please review our Code of Conduct."
layout: layouts/base.njk
---

<section class="md:mt-20">
  <h1>Code of Conduct</h1>
  <p>
   Jamstack is an inclusive philosophy and an inclusive community.
  </p>
</section>

<section>
  <h2>Welcome!</h2>
  <p>
    We strive to create a friendly, welcoming, judgement- and harassment-free place for individuals to learn, connect, and grow together.
  </p>
  <p>
    We are a diverse, global community. We have members from every gender, sexuality, gender expression, race, ethnicity, tribal background, religious affiliation, citizenship and nationality, age, physical ability, educational background, experience level that you can think of - and want everyone to feel welcome!
  </p>
  <p>
    Whether it is contributing to our website, connecting in our slack, or attending conferences and independently organized meetings, it's not only our hope, but our expectation, that you'll abide by these three basic ground rules:
  </p>

  <ul>
    <li>
      <h3>We approach interactions with thoughtfulness and care.</h3>
      <p>
        We are patient & kind to others. We don't dismiss someone because they have a different level of experience, are of a different background, or have a difference of opinion than us.
      </p>
    </li>
    <li>
      <h3>We are respectful when we disagree with someone.</h3>
      <p>
        There is a human in front of us. We don’t allow frustration to turn into a personal attack. A community where people feel uncomfortable or threatened is not a productive one. We are collectively responsible for each other.
      </p>
    </li>
    <li>
      <h3>We work to correct mistakes when they occur.</h3>
      <p>
        No one is expected to always be perfect or to know everything - sometimes even good intentions have unwanted outcomes. But how we respond to criticism is important. If someone criticizes our conduct, or points out ways we have harmed someone, we listen without taking it personally, and work towards a resolution - together.
      </p>
    </li>
  </ul>
</section>

<section>
  <h2 class="mb-6">We will not tolerate the following:</h2>
  <ul class="list-disc list-outside pl-4 mb-4">
    <li>Violent threats or language.</li>
    <li>Discriminatory or derogatory jokes and language.</li>
    <li>Disrespecting people's stated pronouns and gender identity, or current name.</li>
    <li>Posting sexually explicit or violent material.</li>
    <li>Posting, or threatening to post, people's personally identifying information ("doxing").</li>
    <li>Insults, especially those using discriminatory terms or slurs.</li>
    <li>Behavior that could be perceived as sexual attention.</li>
    <li>Advocating for or encouraging any of the above behaviors.</li>
  </ul>
  <p>
    If soeone has said or done something that violates this code of conduct, please refer to the Resolving Code of Conduct Violations section.
  </p>
</section>

<section>
  <h2 class="mb-6">Contributing to jamstack.org</h2>
  <p>In addition to the above, we expect that you'll consider:</p>
  <ul class="list-disc list-outside pl-4 mt-4">
    <li>English is not everyone's first language! Be careful when pointing out language mistakes, typos or similar.</li>
    <li>Follow the contribution process and guidelines described in the ReadMe of this site's code repository.</li>
    <li>Contributions should be pertinent to the Jamstack approach to web development, and Jamstack ecosystem.</li>
    <li>Sharing information about a suitable service is fine, but  avoid pushy or spammy contributions which might be construed as a hard sell for your site, service or </li>product.
    <li>Example sites might be large or small, but we will not include examples which we feel convey offensive or inappropriate content.</li>
    <li>Examples site which include bitcoin mining scripts or other malicious or antisocial code will not be accepted. If you observe any such sites being listed please let is </li>know by opening an issue, or contacting us via [jamstack.org/slack](http://jamstack.org/slack)
    <li>The order in which contributions are listed on the site may change over time. Expect some ordering such as alphabetical order of the site name, publish date or other.</li>
  </ul>
</section>

<section>
  <h2 class="mb-6">Slack Code of Conduct</h2>
  <ul class="list-disc list-outside pl-4">
    <li>Written communication is easy to misinterpret. Ask for clarification before jumping to conclusions.</li>
    <li>Respect and use the correct pronouns for people when referring to them. Ask if you are not sure.</li>
    <li>Respect people's boundaries, don't dm or continue to interact with people if they have asked you not to.</li>
    <li>Do not spam or solicit other participants</li>
    <li>Consider thoughtful use of discussion threads to help keep useful conversations focussed</li>
    <li>Limit your use of `@channel` and `@here` as this notifies everyone across global timezones.</li>
    <li>Select the most appropriate channel for your conversation and avoid reposting the same messages across many channels in ways which may feel spammy.</li>
  </ul>
</section>

<section>
  <h2 class="mb-6">Group Meeting Code of Conduct</h2>
  <p>
    Group meetups are dedicated to providing a harassment-free experiences for everyone. We consider "group meetings" self-organized meetings in your city, as well as social events that may take place afterward, or adjacent to conferences we organize.
  </p>
  <p>
    In addition to the above, the following isn't acceptable:
  </p>
  <ul class="list-disc list-outside pl-4 mt-4">
    <li>Sexual language and imagery</li>
    <li>Deliberate intimidation, stalking, or following before/at/after official or unofficial events</li>
    <li>Harassing photography or recording</li>
    <li>Sustained disruption of talks or other events</li>
    <li>Inappropriate physical contact</li>
    <li>Unwelcome sexual attention</li>
  </ul>
</section>

<section>
  <h2 class="mb-6">Resolving Code of Conduct Violations</h2>
  <p>
    If something has happened that excludes you or is making you have a bad experience, here is what should happen next.
  </p>

  <ul class="list-disc list-outside pl-4 my-4">
    <li><h3 class="text-white font-bold inline">In the moment:</h3> Are you safe? If not, get to a safe place. Can you talk to someone you trust about what happened?</li>
    <li><h3 class="text-white font-bold inline">As soon as possible:</h3> evaluate the situation - is it safe to talk to the person directly about this incident?
      <ul class="list-disc list-outside pl-4 my-4">
        <li><h3 class="text-white font-bold inline">If it seems safe</h3>, try and speak with the person privately, <b>in person</b> if you can. Try and work to a resolution together. If it goes well, great! If it does not go well, please speak to an organizer as soon as you can.
        <li> <h3 class="text-white font-bold inline">If it does not seem safe</h3>, or the conversation did not go well, speak to an organizer about what happened as soon as you can.</li>
      </ul>
    </li>
    <li>
      <h3 class="text-white font-bold inline">After the fact:</h3> Organizers are familiar with this Code of Conduct and will take reports of CoC violations seriously. They will ask you details such as:
      <ul class="list-disc list-outside pl-4 my-4">
        <li>time / place / manner  of the alleged violation.</li>
        <li> whether there were additional witnesses or other people involved.</li>
        <li> contact or identifying information about the person who allegedly violated the CoC.</li>
        <li> Whether or not you would prefer to have your complaint be kept anonymous in the situation.</li>
      </ul>
      <p>
        You can help us by giving us much detail as you can about what occurred
        Organizers will work with staff to evaluate what happened, inform the person(s) in question that a violation was reported, and establish next steps.
      </p>
    </li>
  </ul>
</section>

<section>
  <h2 class="mb-6">Enforcement</h2>
  <p>
    This Code of Conduct covers a variety of different spaces of interaction.
  </p>
  <p>If you'd like to report a CoC violation that happens...</p>

  <ul class="list-disc list-outside pl-4 my-4">
    <li class="mb-4">
      in the Jamstack Slack, please speak to Phil Hawksworth, Perry Eising, or Ashlynn Polini by contacting us in the <a href="https://jamstack.org/slack">Jamstack slack</a> . Please do note we may be out of your timezone, but we will respond.
    </li>
    <li class="mb-4">
      on Jamstack.org, for example in a PR, please speak to Phil Hawksworth or Perry Eising by contacting us in the <a href="https://jamstack.org/slack">Jamstack slack</a> or via email. Our emails are our first names @ netlify.com
    </li>
    <li class="mb-4">
      at an in person meeting that is organized by your local city, please speak with the organizers, who will reach out to us via Slack or email.
    </li>
    <li class="mb-4">
      at a Jamstack conference, please speak to any Netlify staff member, who will locate those of us who are trained to take statements, dm us, or talk to us via email.
    </li>
  </ul>

  <p class="pt-6">
    All group organizers are required to relay all reports of CoC violations and complaints to Netlify staff within one week, regardless of how "severe" they are, so we can be accountable and responsible for resolving issues promptly.
  </p>
  <p>
    Depending on the severity of the issue, the person may receive a last-chance warning, may be asked to leave the activity/group, or may receive a future ban. In very severe cases, we reserve the right to involve law enforcement should we feel it necessary. Tickets or other participation fees won't be refunded for people who are removed for CoC violations.
  </p>
</section>
