---
title: Jamstack Community
description: Find Jamstack meetups, upcoming events, and keep up-to-date with the latest in the Jamstack Community happenings. Check it out!
layout: layouts/base.njk
---

{% import "components/zinger-cta.njk" as zinger %}
{% import "components/cards-meetup.njk" as meetup %}

<section class="my-16 text-center">
  <h1>Join the global community</h1>
  <p class="w-4/5 mx-auto ">Our community members gather in many channels, online and in-person around the world, to learn about modern web development techniques and emerging technologies. Join the community to exchange ideas, find new opportunities and help build a better web.</p>

  <div class="lg:w-2/3 mx-auto md:grid md:grid-cols-2 md:gap-6 lg:gap-8 my-12">
    {{ zinger.cta(
        "Join the Slack",
        "https://jamstack.org/slack",
        "bg-gradient-card-sunrise card-shadow hover:card-shadow-sunrise",
        "#logo-slack"
        )
    }}
    {{ zinger.cta(
        "JamstackConf Twitter",
        "https://twitter.com/jamstackconf",
        "bg-gradient-card-blue-seafoam card-shadow hover:card-shadow-blue-seafoam",
        "#logo-twitter"
        )
    }}
  </div>
  <p class="pb-20 border-gray-400 border-b">
    To participate in our community channels, it’s important to read and follow our <a href="/code-of-conduct">Code of Conduct</a>
  </p>
</section>


<section>
  <h2>Community Mission</h2>
  <p class="mb-2">
   Jamstack community members have a common mission to promote a web that is:
  </p>
  <ul class="list-disc list-inside">
    <li>Free, open and independent</li>
    <li>Performant and secure</li>
    <li>Accessible across all devices and geographies</li>
    <li>Based on standard technologies and compatible across platforms</li>
  </ul>
</section>

{% if meetups.length > 0 %}
<section>
  <h2>Upcoming Events</h2>
  <table>
    <thead class="hidden md:table-header-group">
      <tr>
        <th class="text-left p-4">Group</th>
        <th class="text-left p-4">Name</th>
        <th class="text-left p-4">Venue</th>
        <th class="text-left p-4">Date/Time</th>
      </tr>
    </thead>
    <tbody>
  {% for meetup, data in meetups %}
    {% set item = meetup %}
    {% include "components/meetup-link.njk" %}
  {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}

<section class="cards">
  <h2 class="mb-12">Find a Local User Group</h2>
  <filter-container data-oninit>
    <form class="pb-4 filter-form">
      <div class="pb-2">
        <strong class="pr-4">Filter</strong>
        <span data-filter-results="User Group/User Groups" aria-live="polite"></span>
      </div>
      <label class="inline-flex pr-4 pb-2">
        <span class="sr-only">Country</span>
        <select data-filter-bind="country" class="text-black py-1 px-2 rounded-default border border-white bg-white">
          <option selected value="">All Countries</option>
          {%- for country in community | select("country") | flatten | unique | sort(false, false) %}
          <option value="{{ country | lower }}">{{ country }}</option>
          {%- endfor %}
        </select>
      </label>
    </form>
    <ul class="grid grid-cols-2 lg:grid-cols-3 gap-8">
      {% set themes = [
        "bg-gradient-card-sunrise hover:card-shadow-sunrise",
        "bg-gradient-card-blue hover:card-shadow-blue-seafoam",
        "bg-gradient-card-seafoam hover:card-shadow-seafoam",
        "bg-gradient-card-gold hover:card-shadow-gold"]
      %}
      {%- for item in community | sort(false, false, 'name') %}

      {# chose a pseudorandom theme based on the city name #}
      {% set theme =  item.name.length % 4 %}
      <li
      {%- if item.country %} data-filter-country="{{ item.country | lower }}"{% endif %}>
        {{ meetup.card( item.name, item.link, themes[theme] ) }}
      </li>
      {%- endfor %}
    </ul>
  </filter-container>
</section>

<section>
  <h2>Start a Jamstack User Group</h2>
  <p class="mb-4 w-3/4">
    Don’t see a group near you? We love to support new user group leaders and help grow the community. We can connect you with other user group leaders to share content ideas, provide stickers and swag, and get you listed on the user group page.
  </p>
  <a href="mailto:community@jamstack.org" class="cta">Contact Us</a>
</section>

