---
title: Examples
layout: default
---


<section>
  <h2 class="heading">Gallery and Examples</h2>
  <p>
    There are examples from around the community and industry
  </p>

  <div class="mt-6 flex flex-wrap justify-around lg:justify-between">
    {% for item in examples | iterable | selectattr("featured") | luckydip(6) %}
      {% include "components/thumbnail-link.njk" %}
    {% endfor %}
  </div>

  <h3 class="heading">More examples</h3>
  <ul class="mt-12">
  {% for item in examples | iterable | rejectattr("featured") %}
    {% include "components/example-link.njk" %}
  {% endfor %}
  </ul>
</section>
