---
title: Jamstack Showcase and Examples
description: Check out a showcase of a variety of Jamstack-drive web properties and examples. Get inspired about building your next web project on the modern web architecture.
layout: layouts/base.njk
---

<section class="md:mt-20">
  <h1>Gallery and Examples</h1>
  <p>
    There are examples from around the community and industry
  </p>
  <p class="max-w-l">
    Explore a selection of example Jamstack sites contributed by the community. You can also <a href="{{ pkg.repository.url }}/pulls">submit your own</a> to be included in this list.
  </p>
</section>

<section class="mt-12">
  <h2>Featured</h2>
  <p>
    Some great reference examples of Jamstack sites
  </p>
  <div class="mt-12 flex flex-wrap justify-around lg:justify-between">
    {% for item in examples | iterable | selectattr("featured") | luckydip(6) %}
      <div class="md:w-1/2 lg:w-1/3 text-left mb-16 pr-10">
      {% include "components/example-link.njk" %}
      </div>
    {% endfor %}
  </div>
</section>

<section class="mt-12">
  <h2>More examples</h2>
  <p>
   Explore all the submitted examples
  </p>
  <div class="mt-12 flex flex-wrap justify-around lg:justify-between">
  {% for item in examples | iterable %}
    <div class="w-1/2 md:w-1/3 lg:w-1/4 text-left mb-16 pr-10">
    {% include "components/example-link.njk" %}
    </div>
  {% endfor %}
  </div>
</section>

<section class="my-12">
  <h2 class="text-white font-semi-bold text-3xl">Contribute</h2>
  <p>
    Should your site be featured here in this gallery? Let us know about it by <a href="{{ pkg.repository.url }}/pulls" target="_BLANK" rel="noopener">opening a pull request</a>.
  </p>
</section>

