---
title: Site Generators
layout: layouts/base.njk
---

<section class="md:mt-20">
  <h1 class="heading">Site Generators</h1>
  <p class="section-lede">
    A NEW HOME FOR STATICGEN CONTENT
  </p>
  <p class="max-w-l">
    About this data...
  </p>
</section>

<section class="mt-12">
  <div class="mt-12 flex flex-wrap justify-around lg:justify-between">
  {% for item in collections.generators %}
    <div class="w-1/2 md:w-1/3 lg:w-1/4 text-left mb-16 pr-10">
    <a href="{{ item.data.title | slug}}">
      {{ item.data.title }}
    </a>
    </div>
  {% endfor %}
  </div>
</section>

<section class="mt-12">
  <h2 class="text-white font-semi-bold text-3xl">Contribute</h2>
  <p>
    Should your site be featuired here in this gallery? Let us know about it by <a href="{{ pkg.repository.url }}" target="_BLANK" rel="noopener">opening a pull request</a>.
  </p>
</section>

