---
title: Glossary
layout: default
---

<section class="p-8 pb-12 mb-6 ">
  <h1 class="text-white font-bold text-5xl leading-tight">Glossary</h1>
  <p class="text-xl text-gray-500 leading-tight mb-6 ">
    Definitions of regularly used terms.
  </p>
  <p>
    Technologies often include confusing terminology. Help us to maintain this list of terms often used when talking about Jamstack and web development <a href="#">by creating an issue</a>.
  </p>
</section>


  <dl>
    {% for item in glossary %}
    {% include "components/glossary-item.njk" %}
    {% endfor %}
  </dl>
  <a href="#" class="mt-6 inline-block">Request a clarification or suggest an improvement</a>

