---
pagination:
  data: glossary
  size: 1
  alias: item
  addAllPagesToCollections: true
permalink: "glossary/{{ item.id }}/index.html"
layout: layouts/base.njk

eleventyComputed:
  title: "{{ item.term }}"
  description: "What is {{ item.term }}? {{ item.summary}}"
  ogimage: "/img/og/glossary/{{ item.term | cloudinaryifyPath  }}/{{ item.summary | cloudinaryifyPath }}"

---


<section class="mt-16">
  <h1 class="text-3xl">Glossary</h1>
  <p class="w-2/3"><a href="/glossary/">A collection of terms</a> often used when talking about Jamstack and associated web technologies.</p>
</section>

<section class="border-gray-400 border-b mb-10">
  <h2 class="text-5xl font-bold">{{ item.term }}</h2>
  <div class="mt-8 border-l border-gray-400 pl-4">
  {% markdown %}
    {{- item.definition | safe }}
  {% endmarkdown %}
  </div>
  <p class="mt-12 mb-20">You can help us to expand and improve this glossary <a href="{{ pkg.repository.url }}/issues">by creating an issue</a>.</p>
</section>

{% include "components/join-the-movement.njk" %}
