---
title: Glossary of Jamstack Terminology
description: Learn definitions of core terms within the Jamstack ecosystem in this glossary. Check it out!
layout: layouts/base.njk
permalink: glossary/contribute
---


<section class="mt-16">
  <h1>Glossary</h1>
  <p class="w-2/3">A collection of terms often used when talking about Jamstack and associated web technologies.</p>
</section>


<section class="border-gray-400 border-b mb-10">
  <h2 class="text-5xl font-bold">Not the information you're looking for?</h2>
  <div class="mt-8 pl-4">
    <p>
      If you're looking for a defintion that doesn't exist here, let us know by <a href="#">creating an issue</a>, or you could <a href="#">contribute a defintion</a> for is to review and include.
    </p>
  </div>
</section>

{% include "components/join-the-movement.njk" %}
