---
title: Glossary
layout: layouts/base.njk
---

<section class="p-8 pb-12 mb-6 ">
  <h1 class="text-white font-bold text-5xl leading-tight">Glossary</h1>
  <p class="text-xl text-gray-500 leading-tight mb-6 ">
    Definitions of regularly used related terms.
  </p>
  <p>
    Technologies often include confusing terminology. You can help us to maintain this list of terms often used when talking about Jamstack and web development <a href="#">by creating an issue</a>.
  </p>
</section>

<dl>
  {% for item in glossary %}
  {% include "components/glossary-item.njk" %}
  {% endfor %}
</dl>


