---
title: Headless CMS - Top Content Management Systems
description: Check out this showcase of some of the best, open source headless CMSes. This is community-drive so be sure to submit your favorite CMS today!
layout: layouts/base.njk
---
{% import "components/cards.njk" as cards %}

<section class="md:mt-20">
  <h1 class="text-center">Headless CMS</h1>
  <p class="text-center">
    A List of Content Management Systems for Jamstack Sites
  </p>
</section>

<section class="cards mt-12">
  <sort-container>
    <filter-container data-oninit>
      <form class="pb-4 filter-form">
        <div class="flex flex-wrap">
          <div>
            <div class="pb-2">
              <strong class="pr-4">Filter</strong>
              <span data-filter-results="Headless CMS/Headless CMSs" aria-live="polite"></span>
            </div>
            <label class="inline-flex pr-4 pb-2">
              <span class="sr-only">CMS Type</span>
              <select data-filter-bind="typeofcms" class="text-black py-1 px-2 rounded-default border border-white bg-white">
                <option selected value="">Any CMS Type</option>
                {%- for template in collections.cms | select("data.typeofcms") | unique | sort(false, false) %}
                <option value="{{ template | lower }}">{{ template }}</option>
                {%- endfor %}
              </select>
            </label>
            <label class="inline-flex pr-4 pb-2">
              <span class="sr-only">License</span>
              <select data-filter-bind="opensource" class="text-black py-1 px-2 rounded-default border border-white bg-white">
                <option selected value="">Any License</option>
                {%- for opensource in collections.cms | select("data.opensource") | unique | sort(true, false) %}
                <option value="{{ opensource | lower }}">{% if opensource == "No" %}Closed{% else %}Open{% endif %} source</option>
                {%- endfor %}
              </select>
            </label>
          </div>
          <div>
            <div class="pb-2">
              <strong class="pr-4">Sort</strong>
            </div>
            <label class="inline-flex pr-4 pb-2">
              <span class="sr-only">Sort by</span>
              <select data-sort class="text-black py-1 px-2 rounded-default border border-white bg-white">
                <option selected value="githubstars-numeric-descending">GitHub Stars</option>
                <option value="name">Name</option>
              </select>
            </label>
          </div>
        </div>
      </form>
      <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3" data-sort-children>
      {% for item in collections.cms | sortTools(github) %}
        {{ cards.repo(item, loop.index0, github) }}
      {% endfor %}
      </div>
    </filter-container>
  </sort-container>
</section>

<section class="mt-12">
  <h2 class="text-white font-semi-bold text-3xl">Contribute</h2>
  <p>
    Should your site be featured here in this gallery? Let us know about it by <a href="{{ pkg.repository.url }}" target="_BLANK" rel="noopener">opening a pull request</a>.
  </p>
</section>

