---
title: For fast and secure sites
layout: layouts/base.njk
---

{% import "components/ticker.njk" as ticker %}
{% import "components/section-heading.njk" as section %}

<section class="mt-16">
  <p class="w-1/2">Comprehensive guide for building Jamstack sites and home of the global Jamstack community.</p>
  <h1 class="hero-text">The modern way to&nbsp;build <img src="/img/svg/websites-and-apps.svg" width="545" height="88" alt="Websites and Apps" class="inline-block mr-2 hero-text-img"> that delivers better performance</h1>
  <a href="/community" class="cta">Join the global community</a>
</section>

<section class="mb-20 p-0">
  {{ ticker.icons() }}
  {{ ticker.main() }}
</section>

<section class="mb-20">
  <h2>Why Jamstack</h2>
  <p class="w-2/3 mb-12">
    The Jamstack architecture has many benefits, whether you’re building a large e-commerce site, SaaS application or personal blog.
  </p>

  {{ section.icons() }}

  {{ section.benefit(
      "Better Performance",
      "#pink_lightning",
      "<p>
        Why wait for pages to build on the fly when you can generate them at deploy time? When it comes to minimizing the time to first byte, nothing beats pre-built files served over a CDN.
      </p>")
  }}
  {{ section.benefit(
      "Higher Security",
      "#blue_shield",
      "<p>
        With server-side processes abstracted into microservice APIs, surface areas for attacks are reduced. You can also leverage the domain expertise of specialist third-party services.
      </p>")
  }}
  {{ section.benefit(
    "Cheaper, Easier Scaling",
    "#orange_coins",
    "<p>
      When your deployment amounts to a stack of files that can be served anywhere, scaling is a matter of serving those files in more places. CDNs are perfect for this, and often include scaling in all of their plans.
    </p>")
  }}
  {{ section.benefit(
    "Better Developer Experience",
    "#teal_browser",
    "<p>
      Loose coupling and separation of controls allow for more targeted development and debugging, and the expanding selection of CMS options for site generators remove the need to maintain a separate stack for content and marketing.
    </p>")
  }}
  <a href="/why-jamstack" class="cta">Read more about the benefits of Jamstack</a>
</section>

<div class="bg-gray-100 mb-20">
  <section>
    <h2 class="text-2xl">The future is highly distributed</h2>
    <p class="mt-6 mb-8">
      Jamstack is the new standard architecture for the web. Using Git workflows and modern build tools, pre-rendered   content is served to a CDN and made dynamic through APIs and serverless functions. Technologies in the stack include JavaScript frameworks, Static Site Generators, Headless CMSs, and CDNs.
    </p>
    <img src="/img/svg/architecture.svg" alt="Jamstack architecture diagram, Bidirectional arrows between Client and CDN, Client and Microservices">
  </section>
</div>

<section class="text-center mb-20">
  <div class="md:w-8/12 mx-auto">
    <h2>Rise of the Jamstack</h2>
    <p class="mt-6 mb-8">
      <a href="https://www.netlify.com/authors/matt-biilmann/">Matt Biilmann</a> took the concept of Jamstack mainstream with his presentation at Smashing Conf 2016. Watch the quintessential introduction to the Jamstack.
    </p>
    <div class="videowrapper mb-8">
      <div data-lazyiframe src="https://player.vimeo.com/video/163522126?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen title="Mathias Biilmann Smashing Conf 2016 talk video: The New Front-End Stack">
        <a href="https://vimeo.com/163522126">Watch <em>Mathias Biilmann Smashing Conf 2016 talk video: The New Front-End Stack</em> on Vimeo</a>
      </div>
    </div>
    <a href="/resources/" class="cta">See more videos and resources</a>
  </div>
</section>

<section class="text-center mb-20">
  <h2>Jamstack-Powered Projects</h2>
  <p class="md:w-8/12 mx-auto mt-6 mb-8">
    You have likely visited —and may have even worked on— a Jamstack site, which is commonly built using a static site generator like Gatsby, Next, Jekyll, Hugo, 11ty or Nuxt.
  </p>
  <div class="mt-12 flex flex-wrap justify-around lg:justify-between">
    {% for item in examples | iterable | selectattr("featured") | luckydip(6) %}
      <div class="md:w-1/2 lg:w-1/3 text-left mb-8 md:pr-10">
      {% include "components/example-thumbnail.njk" %}
      </div>
    {% endfor %}
  </div>
  <a href="/examples" class="cta">More examples</a>
</section>

{% include "components/join-the-movement.njk" %}

