---
title: JAMstack
layout: default
---

<section class="tout tout-subtle">
  <h1>JAMstack</h1>
  <p class="subtitle">
   A modern architecture —
  </p>
  <p>
    Create fast and secure sites and dynamic apps with JavaScript, APIs, and prerendered Markup, served without web servers.
  </p>
</section>


<section>
  <h2>What would be considered JAMstack?</h2>
  <p>
    You may have already seen or worked on a JAMstack site! They do not have to include all attributes of JavaScript, APIs, and Markup.
  </p>
  <p>
    They might be built using Gatsby | Vue | Next | Nuxt | Jekyll | Hugo...
  </p>
  <p>
    <em>
      The thing that they all have in common is that they don’t depend on a web server.
    </em>
  </p>
</section>

<section>
  <h2>What are the benefits of JAMstack?</h2>
  <ul>
    <li>Performance (Fastest possible round trip)</li>
    <li>Scale- (geo-redundancy- break this down)</li>
    <li>Security (smaller surface area to attack)</li>
    <li>Maintainability (Fewer moving parts)</li>
    <li>Portability (put it anywhere)</li>
    <li>Developer Experience</li>
  </ul>
</section>


<section>
  <h2>Want to learn more?</h2>
  <p>
    Take a look at the <a href="/resources">resources</a> section for some of the excellent content being created by the <a href="/community">JAMstack community</a>, or consider attending <a href="/community/meetups">a JAMstack Meetup</a> near you.
  </p>
</section>

<section>
  <h2>Supported by</h2>
  <p class="subtitle">
    Community sponsors
  </p>
  <p>
    The JAMstack community is kindly supported by
    <a href="#">Netlify</a> |
    <a href="#">Microsoft</a> |
    <a href="#">ACME</a> |
    <a href="#">Google</a>
  </p>
  <p>
    <a href="/supporters" class="cta">Learn more</a>
  </p>
</section>

{# <ul class="listing">
{%- for page in collections.post -%}
  <li>
    <a href="{{ page.url }}">{{ page.data.title }}</a> -
    <time datetime="{{ page.date }}">{{ page.date | dateDisplay("LLLL d, y") }}</time>
  </li>
{%- endfor -%}
</ul>
 #}




