---
title: For fast and secure sites
layout: layouts/base.njk
---

{% import "components/ticker.njk" as ticker %}
{% import "components/section-heading.njk" as section %}
{% import "components/zinger-cta.njk" as zinger %}
{% import "components/color-theme-selector.njk" as colorThemeToggle %}

<section class="my-10 p-0">
  {{ ticker.icons() }}
  {{ ticker.main() }}
</section>

<section class="relative p-10 mb-16">
  <div class="p-1 rounded-lg bg-gradient-pink-orange" w-full>
    <div class="flex flex-col bg-white dark:bg-blue-900 p-10 text-xl rounded-sm">
      <a class="border-b-0" name="what-is-jamstack">
        <h1>What is <span class="font-extrabold text-transparent bg-clip-text bg-gradient-pink-orange">Jamstack</span>?</h1>
      </a>
      <p>
        Jamstack is an architectural approach that decouples the web experience layer from data and business logic, improving flexibility, scalability, performance, and maintainability.
      </p>
      <p>
        Jamstack removes the need for business logic to dictate the web experience.
      </p>
      <p>
        It enables a composable architecture for the web where custom logic and 3rd party services are consumed through APIs.</p>
    </p>
  </div>
</div>
</section>

<section class="mb-10">
<div class="border-2 border-white bg-white dark:bg-blue-900 block rounded-xl shadow-lg text-center overflow-hidden">
  <a href="/conf/">
    <img src="/img/conf-2022-tout-new.png" alt="Jamstack Conf 2022, 7-8 November, San Francisco and online" width="1500" height="600"/>
  </a>
  <h2 class="mt-8">Thanks for joining us at Jamstack Conf!</h2x>
  <p class="mb-5">
    <a href="https://jamstack.org/conf/jammies/" class="cta">Check out this year's Jammies winners</a>
  </p>
</div>
</section>

{% include "components/join-the-movement.njk" %}

<section class=" mb-16">
<div class="md:w-8/12 mx-auto">
  <h2>The Roots of Jamstack</h2>
  <p class="mt-6 mb-8">
    <a href="https://www.netlify.com/authors/matt-biilmann/">Matt Biilmann</a> took the concept of Jamstack mainstream with his presentation at Smashing Conf 2016. Watch the quintessential introduction to the Jamstack.
    </p>
  <div class="videowrapper mb-8">
    <div data-lazyiframe src="https://player.vimeo.com/video/163522126?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen title="Mathias Biilmann Smashing Conf 2016 talk video: The New Front-End Stack">
      <a href="https://vimeo.com/163522126">Watch <em>Mathias Biilmann Smashing Conf 2016 talk video: The New Front-End Stack</em> on Vimeo</a>
    </div>
  </div>
  <a href="/resources/" class="cta">See more videos and resources</a>
</div>
</section>