---
title: Official Jamstack Logos
layout: layouts/base.njk
---

<section class="md:mt-20">
  <h1>Logos</h1>
  <p>
    Offical Jamstack logos and uages guidelines.
  </p>
</section>

<section>
  <h2 class="heading">Overview</h2>
  <p>
    The Jamstack logo was designed to be an iconic brand that can be recognized with the full wordmark as well as by the icon alone. It pays tribute to core Jamstack attributes of Javascript, APIs and Markup with the three stacked shapes, and designed to illicit a J for Jamstack. It was designed to achieve a fresh, sophisticated and professional brand for the Jamstack Community, and distinct from any corporate sponsors.
  </p>
  <p>
    The Jamstack logo needed to be versatile, and hold up at a variety of sizes and applications (digital, print, embroidery, screen printing, etc).
  </p>
  <p>
    The logo can be used as both a two-color version or a one-color alternate.
  </p>
</section>

<section>
  <h2 class="heading">Using the Logo</h2>
  <p>
    The Jamstack logo is available in PNG & SVG formats, and in two layouts (horizontal and icon). The logo is not intended to be stacked with the icon on top of the wordmark. Icon layout is intended for square use cases.
  </p>
  <p>
    Please note that although PNG is more common, SVG files sizes are smaller, supported in all common web browsers, and a high resolution format also suitable for screens on web or print.
  </p>
  <p>
    The Jamstack logo can be used in combination with either light or dark backgrounds. On a light background the wordmark should aways be black and the icon should always use white J shapes inside of a dark drop gem. On a dark background the wordmark should always be white. The icon has more flexibility on a dark background and can be dark drop gem with white J shapes, or white drop gem with dark J shapes.
  </p>
  <p>
    It is recommended to use the Jamstack pink as seen below. If another background color is desired, please use the all-white Jamstack logo.
  </p>
</section>


{% set names = [
  "Jamstack_Logo_Black",
  "Jamstack_Logo_DarkBG",
  "Jamstack_Logo_Grey",
  "Jamstack_Logo_Original",
  "Jamstack_Logo_White",
  "Jamstack_Icon_Black",
  "Jamstack_Icon_Grey",
  "Jamstack_Icon_Original",
  "Jamstack_Icon_White"
  ]
%}

<section>
  {% for name in names %}
  <div class="block mb-20 ">
    <img class="mb-4" src="/img/logo/svg/{{ name }}.svg" alt="Jamstack image: {{ name }}">
    <ul>
      <li><a class="bg-blue-800 hover:bg-red-500 hover:text-gray-800 text-white text-xs my-2 mr-1 font-semibold p-1 rounded-sm border-none shadow" href="/img/logo/svg/{{ name }}.svg" download title="Download image file">&darr; svg</a></li>
      <li><a class="bg-blue-800 hover:bg-red-500 hover:text-gray-800 text-white text-xs my-2 mr-1 font-semibold p-1 rounded-sm border-none shadow" href="/img/logo/solid/{{ name }}_Solid.png" download title="Download image file">&darr; solid png</a></li>
      <li><a class="bg-blue-800 hover:bg-red-500 hover:text-gray-800 text-white text-xs my-2 mr-1 font-semibold p-1 rounded-sm border-none shadow" href="/img/logo/transparent/{{ name }}_Transparent.png" download title="Download image file">&darr; transparent png</a></li>
    </ul>
  </div>
  {% endfor %}
</section>

