---
title: Resources
layout: default
---

<section>
  <h1>Resources</h1>
  <p>
    More and more people are talking about the JAMstack. We've curated some of our favorite content here to help you learn more. You'll also find a feed of regulalry updating content from all over the world coming from the many JAMstack meetups.
  </p>
</section>

<section class="tout tout-bright">
  <h2>Modern Web Development on the JAMstack</h2>
  <p class="subtitle">A report on the JAMstack from O'Reilly</p>
  <p>
    This practical report explains how to run your web projects—from simple sites to complex applications—on the JAMstack, a modern web architecture for deploying fast, secure and highly-scalable sites that don’t require a traditional origin server.
  </p>
  <p>
    <a href="https://netlify.com/orielly-jamstack" target="_BLANK" rel="noopener" class="cta">Download the ebook for free</a>
  </p>
</section>


<section>
  <h2>Must-see presentations</h2>
  <p>
    Our curated talks. Primers. More advanced. ...
  </p>
</section>

<section>
  <h2>Tutorials and case studies</h2>
  <p>
    A few selected articles....
  </p>
</section>

<section>
  <h2>Fresh from the community</h2>
  <p>
    Feed of content gathered and contributed...
  </p>
</section>

<section class="tout tout-subtle">
  <h2>Contribute to this list</h2>
  <p>
    If you'd like to add to this list of resources, please fee free to <a href="">submit a pull request</a> or make a suggestion in the <a href="/slack" target="_BLANK" rel="noopener">community Slack</a>
  </p>
</section>

<section>
  <h2>Learn in person</h2>
  <p>
    Many of these resources are the result of a presentation at a regional JAMstack meetup. For a chance to see futures presentations in person, talk to the speakersm and become part of the community, why not see if there is a <a href="/community/meetups">JAMstack Meetup near you</a>?
  </p>
</section>

{# <ul class="listing">
{%- for page in collections.post -%}
  <li>
    <a href="{{ page.url }}">{{ page.data.title }}</a> -
    <time datetime="{{ page.date }}">{{ page.date | dateDisplay("LLLL d, y") }}</time>
  </li>
{%- endfor -%}
</ul>
 #}




