---
permalink: /sitemap.xml
seo:
  excludeFromSitemap: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {%- for item in collections.all %}
    {%- if item.data.seo.excludeFromSitemap !== true %}
      <url>
        <loc>https://www.jamstack.org{{ item.url }}</loc>
        <lastmod>{{ item.data.seo.lastmod or item.date | formatDate('yyyy-MM-dd')  }}</lastmod>
        {%- if item.data.seo.changefreq %}
          <changefreq>{{ item.data.seo.changefreq }}</changefreq>
        {%- endif %}
        {%- if item.data.seo.priority %}
          <priority>{{ item.data.seo.priority }}</priority>
        {%- endif %}
      </url>
    {%- endif %}
  {%- endfor %}
</urlset>