---
title: Jamstack Sticker Giveaway
description: Share the survey with your network and we’ll share some sticker love!
layout: layouts/base.njk
excludeFromSitemap: true
---

<section class="my-20">
  <h1>Thanks for filling out the Jamstack community survey</h1>
  <h2>Jamstack Sticker Giveaway</h2>
  <p class="font-semibold">Oh no! We’ve maxed out on our sticker giveaway.</p>
  <p>Thank you for taking the time to complete the survey. Please continue to share with your network, communities, and teams.</p>
  <p>Ready to connect with others in the Jamstack Community? Join the <a href="https://join.slack.com/t/jamstack/shared_invite/zt-qkent5tv-0D0Nu3M1rJEHhVHE4zUMBw">Jamstack Slack</a>!</p>
</section>