---
title: Jamstack Sticker Giveaway
description: Share the survey with your network and we’ll share some sticker love!
layout: layouts/base.njk
excludeFromSitemap: true
---

<section class="my-20">
  <h1>We’ve received your sticker request!</h1>
  <p>Stickers will be sent after campaign has ended, or maximum has been reached. Stickers will be shipped with U.S. domestic or international postage stamps. Delivery is not guarenteed or trackable.</p>
</section>
