---
title: Jamstack Sticker Giveaway
description: Share the survey with your network and we’ll share some sticker love!
layout: layouts/base.njk
excludeFromSitemap: true
---

{% import "components/zinger-cta.njk" as zinger %}

<section class="my-20">
  <h1>Thanks for filling out the Jamstack community survey</h1>
  {{ zinger.cta(
    "Share the survey",
    "https://twitter.com/intent/tweet?text=%F0%9F%92%AB%20I%20completed%20the%20%2722%20Jamstack%20Community%20Survey.%20Share%20your%20feedback%20and%20unlock%20a%20special%20edition%20Jamstack%20sticker!%20&url=https%3A%2F%2Fnetlify.qualtrics.com%2Fjfe%2Fform%2FSV_0BRbhN47gyZWYNo%3FSource%3Dsurvey_share_page",
    "bg-gradient-card-sunrise card-shadow hover:card-shadow-sunrise mb-9"
    )
  }}
  <h2>Jamstack Sticker Giveaway</h2>
  <p class="font-semibold">Oh no! We’ve maxed out on our sticker giveaway.</p>
  <p>Thank you for taking the time to complete the survey. Please continue to share with your network, communities, and teams.</p>
  <p>Ready to connect with others in the Jamstack Community? Join the <a href="https://discord.gg/jamstack">Jamstack Discord</a>!</p>
</section>