---
title: Jamstack Sticker Giveaway
description: Share the survey with your network and we’ll share some sticker love!
layout: layouts/base.njk
---

{% import "components/zinger-cta.njk" as zinger %}

<section class="my-20">
  <h1>Thanks for filling out the Jamstack community survey</h1>
  {{ zinger.cta(
    "Share the survey",
    "https://twitter.com/intent/tweet?text=%F0%9F%8E%89I%20completed%20the%20Jamstack%20Community%20Survey.%20Share%20your%20feedback%20and%20unlock%20a%20special%20edition%20Jamstack%20sticker!&url=https%3A%2F%2Fwww.surveymonkey.com%2Fr%2Fjamstack-share-survey",
    "bg-gradient-card-sunrise card-shadow hover:card-shadow-sunrise mb-9"
    )
  }}
  
  <h2>Jamstack Sticker Giveaway</h2>
  
  <p>Share the survey with your network and we’ll share some sticker love! Complete this form, including a link to your shared post (social, blog, newsletter), and we’ll get your sticker in the mail.</p>
  <p class="text-xs">*Offer is limited to the first 1,000 respondents.</p>

  <div class="my-8 survey-form">
    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
      region: "na1",
      portalId: "7477936",
      formId: "632eaa19-27d2-42b7-bef4-7bfd35531865"
    });
    </script>
  </div>
  <p>Stickers will be sent after campaign has ended, or maximum has been reached. Stickers will be shipped with U.S. domestic or international postage stamps. Delivery is not guarenteed or trackable.</p>
</section>