---
title: Jamstack TV
layout: layouts/base.njk
preconnect:
  - https://cdn.jsdelivr.net
javascriptIncludes:
  - search-js.njk
---
{# This search index data is populated by the code at https://github.com/netlify/jamstack-tv-search-data #}

<div class="p-8 max-w-6xl mx-auto">
  <div class="md:mt-20">
    <h1 class="text-center">{{ title }}</h1>
  </div>
  <div class="flex flex-wrap items-center justify-center my-8 max-w-2xl mx-auto">
    <div id="searchbox" class="flex-grow my-2">
      <span class="jamstacktv-js">The search functionality on Jamstack TV requires JavaScript to operate.</span>
    </div>
    <div class="ml-4 my-2"><img src="/img/svg/search-by-algolia-dark-background.svg" alt="Search by Algolia" width="168" height="24" class="w-auto"/></div>
  </div>
  <div id="hits" class="mt-20"></div>
</div>

