---
title: Jamstack TV
layout: layouts/base.njk
---
{# This search index data is populated by the code at https://github.com/netlify/jamstack-tv-search-data #}
{# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css" integrity="sha256-t2ATOGCtAIZNnzER679jwcFcKYfLlw01gli6F6oszk8=" crossorigin="anonymous"> #}
{# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/satellite-min.css" integrity="sha256-TehzF/2QvNKhGQrrNpoOb2Ck4iGZ1J/DI4pkd2oUsBc=" crossorigin="anonymous"> #}
<div class="p-8">
  <div id="searchbox"></div>
  <div id="hits"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
<script>
const searchClient = algoliasearch('{{ algolia.appId }}', '{{ algolia.searchOnlyApiKey }}');

const search = instantsearch({
  indexName: '{{ algolia.indexName }}',
  searchClient,
});

{% raw %}
search.addWidgets([
  instantsearch.widgets.searchBox({
    container: '#searchbox',
    placeholder: 'Search Video Content',
    showReset: false,
    showSubmit: false,
  }),

  instantsearch.widgets.hits({
    snippetEllipsisText: '…',
    container: '#hits',
    cssClasses: {
      root: "bg-blue-900 text-blue-100",
      //item: "bg-blue-900 text-blue-100",
    },
    transformItems(items) {
      return items.map(item => {
        let start = item.caption.start;

        let obj = {
          ...item,
          url: `https://www.youtube.com/watch?v=${item.video.id}}&t=${start}s`,
        };

        if(start > 10) { // only show for deep links > 10 seconds
          let secondsInOne = {
            hour: 60*60,
            minute: 60
          }

          function pad(num) { return num < 10 ? `0${num}` : num; }
          let hours = Math.floor(start / secondsInOne.hour);
          let minutes = Math.floor((start % secondsInOne.hour) / secondsInOne.minute);
          let seconds = Math.floor(start % secondsInOne.minute);

          obj.displayStart = `<span class="jamstacktv-time"><b></b><b></b>${hours ? `${pad(hours)}:`: ""}${hours ? pad(minutes) : minutes}:${pad(seconds)}</span>`;
          //obj._highlightResult.caption.content = `…${obj._highlightResult.caption.content}`;
        } else {
          obj.wrapperClass = "jamstacktv-no-skip";
        }
        return obj;
      });
    },
    templates: {
      item: `
        <a href="{{ url }}" class="grid grid-cols-4 gap-4 mb-4 group">
          <div class="aspect-ratio-youtube relative bg-gradient-card-sunrise card-shadow group-hover:card-shadow-sunrise jamstacktv-card">
            <img src="{{ video.thumbnails.medium }}" alt="{{ video.title }}" class="absolute top-0 jamstacktv-img">
          </div>
          <div class="col-span-3 jamstacktv-item {{ wrapperClass }}">
            <div class="jamstacktv-meta mb-1">
              <span class="jamstacktv-category">{{#helpers.highlight}}{ "attribute": "playlist.title" }{{/helpers.highlight}}</span>
              <span class="jamstacktv-title">{{#helpers.highlight}}{ "attribute": "video.title" }{{/helpers.highlight}}</span>
            </div>
            <strong class="jamstacktv-caption">{{{ displayStart }}}<span class="jamstacktv-caption-quote">{{#helpers.highlight}}{ "attribute": "caption.content" }{{/helpers.highlight}}</span></strong>
          </div>
        </div>
      `,
    },
  })
]);

search.start();
{% endraw %}
</script>