---
title: What is the Jamstack?
description: What is the Jamstack? Why use the Jamstack? JavaScript, APIs, and Markup - learn what the Jamstack is all about and its approach for building faster, more secure websites.
layout: layouts/base.njk
---

<section class="mt-20">
  <h1>What is Jamstack?</h1>
  <p>
    Jamstack is an architecture designed to make the web faster, more secure, and easier to scale. It builds on many of the tools and workflows which developers love, and which bring maximum productivity.
  </p>
  <p>
    The core principles of <a href="/glossary/pre-render">pre-rendering</a>, and <a href="/glossary/decoupling">decoupling</a>, enable sites and applications to be delivered with greater confidence and resilience than ever before.
  </p>
  <p>
    Explore more of the <a href="/why-jamstack">benefits of Jamstack</a>.
  </p>
</section>
<section>
  <h2>Pre-rendering</h2>
  <p>
    With Jamstack, the entire front end is prebuilt into highly optimized static pages and assets during a build process. This process of pre-rendering results in sites which can be served directly from a <a href="/glossary/cdn/">CDN</a>, reducing the cost, complexity and risk, of dynamic servers as critical infrastructure.
  </p>
  <p>
    With so many popular tools for generating sites</a>, like <a href="/generators/gatsby/">Gatsby</a>, <a href="/generators/hugo/">Hugo</a>, <a href="/generators/jekyll/">Jekyll</a>, <a href="/generators/eleventy/">Eleventy</a>, <a href="/generators/next/">NextJS</a>, <a href="/generators/">and very many more</a>, many web developers are already familiar with the tools needed to become productive Jamstack developers.
  </p>
</section>
<section>
  <h2>Enhancing with JavaScript</h2>
  <p>
    With the <a href="/glossary/markup/">markup</a> and other user interface assets of Jamstack sites served directly from a CDN, they can be delivered very quickly and securely. On this foundation, Jamstack sites can use JavaScript and APIs to talk to backend services, allowing experiences to be enhanced and personalized.
  </p>
</section>
<section class="mb-12 pb-20 border-gray-400 border-b ">
  <h2>Supercharging with services</h2>
  <p>
    The thriving <a href="/glossary/api-economy/">API economy</a> has become a significant enabler for Jamstack sites. The ability to leverage domain experts who offer their products and service via APIs has allowed teams to build far more complex applications than if they were to take on the risk and burden of such capabilities themselves. Now we can outsource things like authentication and identity, payments, content management, data services, search, and much more.
    </p>
  <p>
    Jamstack sites might utilise such services at build time, and also at run time directly from the browser via JavaScript. And the clean <a href="/glossary/decoupling/">decoupling</a> of these services allows for greater portability and flexibility, as well as significantly reduced risk.
  </p>
</section>
<section class="mb-20 pb-20 border-gray-400 border-b ">
  <h2>Named to help the conversation</h2>
  <p>
    The name "Jamstack" came about because as Matt Biilmann and Chris Bach were creating modern web development workflows and capabilities at <a href="https://netlify.com">Netlify</a>, they found there was no easy way to refer to the architectural approach in conversation. Jamstack embraces many existing fundamentals of web architectures, and so they created the term Jamstack to help us talk about it more succinctly.
  </p>
  <p>
    You can learn more about the background, benefits, and case studies of Jamstack in the book <a href="https://www.netlify.com/oreilly-jamstack/">Modern web development on the Jamstack</a>, (Biilmann & Hawksworth, O'Reilly, 2019)
  </p>
</section>


{% include "components/join-the-movement.njk" %}
