/*
  Generic section defaults
*/
section {
  margin-top: 4em;
  text-align: left;
}



/*
  touted sections
*/
section.tout {
  padding: 2em 2em;
  margin-top: 3em;
  margin-bottom: 2em;
  margin-left: -2em;
  margin-right: -2em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);

  @media (min-width: $mid) {
    font-size: 16px;
    line-height: 1.6;
    border-radius: 8px;
  };

  p {
    padding-right: 35%;
  }
  p:last-child {
    margin-bottom: 0;
  }

}


/*
  Subtle touted section
*/
section.tout-subtle {
  background-color:  mix($text-color, $page-color, 5%);
}

section.tout-bright {
  background-color: mix($text-color, $page-color, 90%);
  color: mix($text-color, $page-color, 20%);
  ::-moz-selection {
    background-color: $accent-color;
    color: $page-color;
  }
  ::selection {
    background-color: $accent-color;
    color: $page-color;
  }
  h1, h2, h3 {
    color: $page-color;
    font-weight: 400;
  }
  a:link,
  a:visited {
    border-color: mix($text-color, $accent-color, 80%);
    color: mix($text-color, $page-color, 20%);
  }
  a:hover,
  a:focus {
    color: $page-color;
    border-color: $accent-color;
  }
}

section.tout-shout {
  background-color: $busy-color;
  color: mix($text-color, $busy-color, 70%);
  h1, h2, h3 {
    color: $text-color;
  }
  a:link,
  a:visited {
    border-color: mix($text-color, $busy-color, 50%);
    color: $text-color;
  }
  a:hover,
  a:focus {
    border-color: $text-color;
  }
  .subtitle {
    color: mix($text-color, $busy-color, 50%);
  }
}

