/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

/* colours */
$page-color: #33334e;
$text-color: #fff;
$accent-color: #ffbb00;
$busy-color: #af2b52;
$dark-color: #000;

