@import '_variables.css';
@import '_grid.css';
@import '_sections.css';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

body {
  text-align: center;
  background-color: $page-color;
  color: mix($text-color, $page-color, 70%);
  font-family: sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
  min-height: 100vh;

  @media (min-width: $mid) {
    font-size: 17px;
    line-height: 1.6;
  };
}

header {
  margin-bottom: 3em;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;

  .banner {
    width: 160px;
    background-color: $busy-color;
    color: mix($text-color, $busy-color, 80%);
    padding: 3em 2em 2em;
    border-radius: 0 0 8px 8px;
    margin-right: -2em;
    font-size: 0.7em;
    .subtitle {
      color: mix($text-color, $busy-color, 50%);
    }
    h1 {
      font-size: 1.2em;
    }
  }

}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  @media (min-width: $mid) {
    width: 750px;
  };
  @media (min-width: $wide) {
    width: 900px;
  };
}


h1, h2, h3 {
  color: $text-color;
  font-weight: 400;
  margin-bottom:0.2em;
  line-height: 1.5;
}
h1 {
  font-size: 2em;
  margin-bottom:0.2em;
  line-height: 1;

  @media (min-width: $mid) {
    font-size: 2.5em;
  };
  @media (min-width: $wide) {
    font-size: 3em;
  };
}

h2 {
  color: $text-color;
  font-size: 1.2em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.subtitle {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1.5em;
  color: mix($page-color, $text-color, 60%);
}

ul, ol {
  padding-left: 1em;
  margin-top:1em;
  margin-bottom:1em;
}

a:link,
a:visited {
  color: mix($text-color, $page-color, 90%);
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: mix($text-color, $accent-color, 20%)
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom-color: $text-color;
}

a.cta {
  font-weight: 600;
}

.nav {
  padding-top: 1em;
  padding-left:0;

  li {
    display: inline;
  }

  a:link,
  a:visited {
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: mix($text-color, $accent-color, 40%);
    border-bottom-style: none;
    padding-top: 0.8em;
    padding-bottom: 2em;
    padding-right: 2em;
    margin-left: 0;
    margin-right: 0.7em;
    text-align: left;
    color: mix($text-color, $accent-color, 80%);
    text-decoration: none;

    &.active {
      border-top-width: 2px;
    }

  }
  a:hover,
  a:focus {
    color: $text-color;
    border-top-color: $text-color;
  }

}

.date {
  font-size: 0.8em;
  font-style: italic;
}


footer {
  margin-top: 6em;
  padding-top: 4em;
  padding-bottom: 6em;
  font-size: 0.8em;
  color: mix($text-color, $accent-color, 50%);

  a:link,
  a:visited {
    color: mix($text-color, $accent-color, 90%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $text-color;
    border-bottom: solid 1px $text-color;
  }
}

